/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */
.subscription-block {

  .subscription-form-label {
    font: 400 18px/22px "Roboto Slab", serif;
    color: #303038;
    margin: 0 0 22px;
    text-transform: uppercase;
    display:block;
  }

  .subscription-form-fields{
    .floating-label;

    .form-control{
      height: 45px;
      min-height: 45px;
      padding-top: 20px;
    }

    > .table-label{
      left: 10px;
      margin-top: 5px;
    }
  }

  form {
    .floating-label;

    label {
      color: #000;
    }

    label:after {
      display: none;
    }

    .table-value {
      display: block;
      margin-top: 0px;
      margin-right: 0;
      width: 100%;
    }

    .table-label {
      color: #000;
      margin-top: 5px;
    }

    .form-control {
      .form-control-inverted;
      background: #fff;
      border: 1px solid #ccc;
      color: #57575e;
      display: inline-block;
      float: left;
      height: 45px;
      line-height: 30px;
      padding: 26px 33px 8px 10px;
      border-radius: 0;
      min-height: 45px;

    }

    button {
      margin-left: -33px;
      border: none;
      background: none;
      text-align: center;
      color: #303038;
      padding: 8px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 0;
      float: none;
      span {
        display: none;
      }
      &:before {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 28px;
        line-height: 28px;
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        position: static;
        background: transparent;
      }
      &:hover {
        color: #000;
        &:before {
          color: #000;
        }
      }
    }

    .clear {
      display: none;
    }
  }
  @media (max-width: @screen-xs-max) {
    .table-value {
      margin-bottom: @rhythmic-unit;
    }
  }
}
