{##
 # Register form template
 #}

<div class="subscriptions-list-container">
  <table class="data-table subscriptions-list">
  {% if this.isSelectBoxElement() %}
    <tr class="subscriptions-line">
      <td class="subscriptions-name">
        {{ t('Subscription') }}
      </td>
      <td>
        {{ widget('\\XLite\\Module\\XC\\MailChimp\\View\\FormField\\Select\\MailChimpSubscription', fieldOnly='true', fieldName=this.getSelectBoxName(), firldId=this.getSelectBoxId(), profile=this.profile) }}
      </td>
    </tr>
  {% else %}
    {% for list in this.getData() %}
      <tr class="subscriptions-line">
        <td class="subscriptions-checkbox">
          {{ widget('\\XLite\\Module\\TemplateMonster\\KitchenSuppliesStore\\View\\FormField\\Input\\Checkbox', value='1', fieldOnly='1', fieldName=this.getCheckboxName(list), fieldId=this.getCheckboxId(list), isChecked=this.checkIfSubscribed(list, this.profile)) }}
        </td>
        <td class="subscriptions-name">
          {{ list.getName() }}
        </td>
      </tr>
    {% endfor %}
  {% endif %}

    <tr class="subscriptions-line">
      <td class="subscriptions-submit" colspan="2">
        {{ widget('\\XLite\\View\\Button\\Submit', label='Update', style='regular-main-button') }}
      </td>
    </tr>
  </table>
</div>
