/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.checkout_fastlane_shipping_methods {
  margin-bottom: (@rhythmic-unit * 2);
  .table-value {
    float: none;

    select {
      max-width: 400px;
    }
  }

  .shipping-rates {
    width: 100%;
  }

  .shipping-vendor {
    .clearfix;
    .vendor-name {
      color: @color-link;
    }
  }

  .shipping-rate {
    .clearfix;
    #rhythmless > .rhythm(@font-size-small);

    label {
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .radio {
      .rate-title, .rate-description {
        line-height: @rhythmic-unit;
      }
    }

    input:checked ~ .rate-title {
      color: @color-highlight;
    }

    .rate-title {
      color: @color-text-dark;
      display: inline-block;
      float: left;
      #rhythmless > .rhythm(@font-size-base);
    }

    .rate-description{
      color: @color-text-default;
      display: block;
      white-space: normal;
      #rhythmless > .rhythm(@font-size-small);
    }

    .change {
      cursor: pointer;
      border-bottom: 1px dotted;
      color: @link-color;
      #rhythmless > .rhythm(@font-size-base);

      margin-top: 10px;
      display: inline-block;

      &:hover {
        color: @link-hover-color;
      }
    }

    sup {
      display: inline;
    }

    span.value {
      color: @color-text-dark;
      #rhythmless > .rhythm(@font-size-base);
      line-height: 20px;

      &:before {
        content:"\2014";
        margin-left: 9px;
        margin-right: 5px;
      }
    }
  }

  .shipping-rates-data {
    .shipping-rate-value, .shipping-rate-delivery {
      margin-right: 5px;
      & > span {
        font-weight: bold;
      }
    }
  }
}
