{##
 # Product details main block
 #
 #}

<div class="product-details-info">
  <div class="center-section">
    {{ widget_list('product.details.page.info') }}
  </div>

  <div class="right-section">
    {{ widget_list('product.details.page.info.right') }}
    <div class="product-buttons shade-base">
      {% if this.isProductAdded() %}
        {{ widget_list('product.details.page.info.buttons-added') }}
      {% else %}
        {{ widget_list('product.details.page.info.buttons') }}
      {% endif %}
    </div>
  </div>
</div>
