/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Average rating widget styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

div.header div.average-rating {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.header table.rating {
  border: 0 none;
  margin: 0;
}

div.header table.rating tr {
  border: 0 none;
}

div.header table.rating td {
  border: 0 none;
  padding: 0 5px 0 0;
  vertical-align: middle;
}

div.header div.title {
  font-size: 28px;
  color: #579ED2;
}

div.line {
  padding-top: 30px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 25px;
}

div.product-average-rating > div.text {
  padding-bottom: 20px;
  line-height: 20px;
  display: none;
}

div.product-reviews div.product-average-rating form {
  float: left;
}

.product-average-rating .rating.edit .rating-tooltip {
  display: none !important;
}

div.product-details .product-average-rating .rating + .comment {
  margin-left: 5px;
}

div.product-average-rating div.comment {
  display: inline-table;
  margin-left: 3px;
  margin-right: 0;
  vertical-align: middle;
}

div.product-average-rating .score {
  margin-right: 4px;
  color: #d3070c;
}

div.product-average-rating .votes {
  color: #9b9b9b;
}

div.product-reviews div.product-average-rating div.rating {
  display: inline-table;
  position: relative;
}

div.product-average-rating div.rating,
div.product-average-rating .separator,
div.product-average-rating .link-to-tab {
  display: inline-block;
  vertical-align: middle;
}

div.product-average-rating table td {
  border: 0;
  padding: 0;
  vertical-align: middle;
}

div.product-average-rating table td.indent {
  width: 5%;
}

div.product-average-rating table tr {
  border: 0;
  padding: 0;
}

div.product-average-rating table {
  width: 300px;
  border: 0;
  margin: 0;
}

div.product-average-rating div.ratings-details {
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(74, 73, 74, 0.2);
}

.product-reviews-details div.product-average-rating div.ratings-details {
  box-shadow: none;
}

div.product-average-rating div.ratings-details .title {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #4a4a4a;
}

.product-reviews-details div.product-average-rating div.ratings-details,
.product-reviews-details div.product-average-rating div.ratings-details .title {
  padding-left: 0;
  padding-top: 0;
}

.product-reviews-details div.product-average-rating div.ratings-details table tr > td.indent {
  display: none;
}

div.product-average-rating table td.rating {
  width: 5%;
  padding-right: 5px;
}

div.product-average-rating table td.rating-digit {
  width: 5%;
  padding-right: 5px;
  padding-bottom: 1px;
}

div.product-average-rating table td.percent {
  width: 80%;
  background-color: #F9F9F9;
  background-clip: content-box;
  vertical-align: middle;
}

div.product-average-rating table td.count {
  width: 15%;
  padding-left: 10px;
  padding-right: 20px;
  white-space: nowrap;
  padding-bottom: 1px;
}

div.product-average-rating table td.count .count-text {
  margin-left: 5px;
}

@media (max-width: 380px) {
  div.product-average-rating table {
    width: 240px;
    border: 0;
    margin: 0;
  }

  div.product-average-rating table td.count .count-text {
    display: none;
  }
}

div.product-average-rating table td.count.count-0 {
  color: #e4e4e4;
}

div.rating-line {
  height: 19px;
  float: left;
}

div.rating-5,
div.rating-4,
div.rating-3,
div.rating-2,
div.rating-1 {
  background-color: #d3070c;
}

div.rating-end {
  display: none;
}

.product-average-rating-toggle {
  display: inline-block;
}

.button-average-rating {
  background: none;
  cursor: pointer;
  border: none;
  position: relative;
  display: inline-table;
  vertical-align: middle;
  border-spacing: 0;
}

.button-average-rating:before {
  font-family: 'xcartskin' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e90f';
  font-size: 12px;
  display: inline-block;
  color: #808080;
}

.button-average-rating:hover:before {
  color: #1cb5fc;
}

div.product-average-rating-container {
  position: absolute;
  z-index: 4500;
  display: none;
}

@media (max-width: 600px) {
  div.product-average-rating-container {
    right: 0;
  }
}

td.product-cell div.product-average-rating {
  padding-bottom: 5px;
  position: relative;
}

div.product-average-rating > a.link-to-tab {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

td.product-cell div.product-average-rating div.rating {
  padding: 0 0 5px;
}

div.product-average-rating.summary td.rating div.vote-bar {
}

div.product-average-rating div.vote-bar:hover {
  cursor: default;
}

div.product-average-rating div.vote-bar.editable:hover {
  cursor: pointer;
}

.vote-bar.editable .star-single {
  position: relative;
}

.vote-bar .star-single .star-tooltip {
  display: none;
}

.vote-bar.editable .star-single:hover .star-tooltip {
  display: block;
  position: absolute;
  top: calc(100% - 6px);
  left: 12px;
  width: auto;
  border: none;
  margin: 0;
  padding: 7px;
  background: #4a4a4a;
  font-size: 14px;
  line-height: normal;
  z-index: 100;
}

.vote-bar.editable .stars-row.hovered .star-single:hover .star-tooltip > span {
  color: #e2e2e2;
}
