/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.skin-customer .checkout_fastlane_sections {
  .checkout_fastlane_section_wrapper {
    .make-sm-column(12; 0);
    .make-md-column(8; @grid-gutter-width);

    @media(max-width: @screen-sm-max) {
      padding-left: 0;
      padding-right: 0;
    }

    @media(min-width: @screen-md-min) {
      padding-left: 0;
    }
  }

  .checkout_fastlane_details_wrapper {
    .make-sm-column(12; 0);
    .make-md-column(4; @grid-gutter-width);

    @media(max-width: @screen-xs-max) {
      margin-left: (-@grid-gutter-width / 2);
      margin-right: (-@grid-gutter-width / 2);
    }

    @media(min-width: @screen-md-min) {
      padding-right: 0;
      margin-top: @rhythmic-unit * 4;
    }

    @media(max-width: @screen-sm-max) {
      margin-top: @rhythmic-unit;
      padding-left: 0;
      padding-right: 0;
    }

    .checkout_fastlane_details_box {
      box-shadow: 0 0 0 1px #cacaca;
      border-radius: 2px;
      padding: (@rhythmic-unit * 2);
      position: relative;
      background: @body-bg;

      .detail-header {
        font-weight: 600;
      }

      .checkout_fastlane_address {
        margin-bottom: @rhythmic-unit;
      }
    }
  }
}

.checkout_fastlane_sections {
  .checkout_fastlane_details_box.loading { visibility: hidden; }
  &.section-address {
    .checkout_fastlane_details_box {
      .checkout_fastlane_address {display: none;}
      .checkout_fastlane_shipping-details {display: none;}
    }
  }
  &.section-shipping {
    .checkout_fastlane_details_box {
      .checkout_fastlane_shipping-details {display: none;}
    }
  }
}

.checkout_fastlane_sections .tabbed-content-wrapper .tab-content {
  padding-top: 0px;
}

.checkout_fastlane_section-buttons {
    margin-bottom: @rhythmic-unit;
    margin-top: (@rhythmic-unit * 3);
    text-align: center;

    button,
    .place-button {
      width: 100%;
      &:before {
        content: none;
      }
      &:hover,
      &.regular-button:hover,
      &.regular-main-button:hover
      {
        background-color: #303038;
      }
    }

    p.terms-notice {
      text-align: center;
      margin-left: 0px;
      margin-top: (@rhythmic-unit / 2);
      font-size: 12px;
      max-width: 300px;
      display: inline-block;
      vertical-align: middle;
    }

    &.loading .place-button{
      display: none;
    }

    .mobile_panel-details {
      display: none;
    }
}

.checkout_fastlane_details_box {
  .checkout_fastlane_section-buttons {
    margin-bottom: (@rhythmic-unit * 2);
    margin-top: @rhythmic-unit;
  }
}

.checkout_fastlane_address_edit_link, .checkout_fastlane_shipping_edit_link {
  .icon-pencil;
  &:before {
    font-size: 14px;
  }
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0px;
}

.checkout_fastlane_address_wrapper, .checkout_fastlane_shipping-details {
  position: relative;
}

@media(max-width: @screen-xs-max) {
  .checkout_fastlane_section_heading {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .skin-customer .checkout_fastlane_details_box .checkout_fastlane_section-buttons {
    .mobile_panel-details {
      display: block;
    }

    border-top: 1px solid @color-border;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    padding: 20px;
    margin: 0;
    background: @body-bg;
    .flex-display();
    .align-items(center);
    .justify-content(space-between);

    .place-button form.place {
      .flex-display();
      .align-items(center);
      .justify-content(space-between);
      width: 100%;
      .checkout_fastlane_section-place_order {
        min-width: 220px;
        width: auto;
      }
      .terms-notice {
        text-align: left;
        margin: 0;
      }
    }

    .mobile_panel-details {
      max-width: 100px;
      text-align: left;
      .title, .value {
        display: block;
      }
      .title {
        font-size: 12px;
        line-height: @rhythmic-unit;
      }
      .value {
        font-size: 18px;
        line-height: @rhythmic-unit * 1.5;
        font-weight: 600;
        text-align: left;
      }
    }

    @media(max-width: 500px) {
      .checkout_fastlane_section-place_order {
        width: 100%;
      }

      .terms-notice {
        display: none;
      }
    }
  }
}

&.section-payment {
  .checkout_fastlane_section-buttons .mobile_panel-details {
    display: none;
  }
}
