{##
 # Product market price
 #
 # ListChild (list="product.plain_price.tail", weight="45")
 #}

{% if this.isShowMarketPrice() %}
  <span class="product-details-market-price">
    <span class="text">
      {{ widget_list('market_price.text', type='nested') }}
    </span>
    {{ widget_list('market_price.label', type='nested') }}
  </span>
{% endif %}
