/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * CSS classes
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */
.products .product-details-market-price,
.products .product-list-market-price {
  color: #888;
  font: 700 14px/16px "Noto Sans", sans-serif;
  display: inline;
  margin-right: 5px;
}
.products .product-details-market-price .value,
.products .product-list-market-price .value{
  text-decoration: line-through;
}

ul.products.products-sidebar .product-list-market-price {
  font-size: 12px;
  margin-top: 0.5em;
  padding-right: 5px;
}

.products-table .product-price .product-details-market-price,
.products-table .product-price ul.product-price
{
  display: inline-block;  
}

.products-table div.product-price {
  white-space: nowrap;
}

.products-sidebar div.product-details-market-price ul.labels .market-price
{
  display: block;
}

div.product-details-market-price div.text {
  display: inline;
  font-size: 16px;
  color: #8f8f8f;
  vertical-align: middle;
}

div.product-details-market-price ul.labels {
  display: inline-block;
  margin-bottom: -8px;
}

div.product-details-market-price ul.labels li,
div.product-details-market-price ul.labels li div {
  display: inline-block;
}

div.product-details-market-price div.text span.value {
  text-decoration: line-through;
}

div.product-details-market-price div.text span.you-save {
  color: #ff9000;
}
