.mobile-hidden.navbar {
  z-index: 999;
}

#main-wrapper {
  z-index: 998;
}

.mobile-hidden.navbar.navbar-inverse .collapse.navbar-collapse:before,
.mobile-hidden.navbar.navbar-inverse .collapse.navbar-collapse:after{
  display: none;
}

.collapse > .mobile-hidden.navbar.navbar-inverse {
  margin-bottom: 0;
}

.mobile-hidden .navbar-nav {
  z-index: 10;  
}

.mobile_header .nav.navbar-nav li {
  width: 100%;
}

.mobile_header .nav.navbar-nav li .nav.navbar-nav {
  width: 100%;
}

.mobile-hidden .navbar-nav:before,
.mobile-hidden .navbar-nav:after{
  display: none;
}

.mobile-hidden .navbar-nav > li {
  position: static;
}

.mobile-hidden .navbar-nav > li .submenu_block {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}

.navbar-nav > li .submenu_block div.menu_image{
  display: none;
}

.mobile-hidden .navbar-nav > li .submenu_block div.menu_image{
  display: block;
  float: right;
  width: 20%;
  padding: 5px 0 0 10px;
  text-align: right;
}

.mobile-hidden .navbar-nav > li .submenu_block div.menu_image img{
  max-width: 100%;
  height: auto;
}

.navbar-nav > li .submenu_block div.menu_mdescription{
  display: none;
}

.mobile-hidden .navbar-nav > li .submenu_block div.menu_mdescription{
  display: block;
  float: left;
  width: 80%;
}

.mobile-hidden .navbar-nav > li .submenu_block > ul {
  float: left;
  width: 80%;
  margin:0;
}

.mobile-hidden .navbar-nav > li .submenu_block > ul > li {
  float: left;
  padding: 0 28px 20px 0;
  width: 33%;
}

.mobile-hidden .navbar-nav > li .submenu_block > ul > li:nth-child(3n) + li {
  clear: left;
}

.mobile-hidden .navbar-nav > li .submenu_block > ul > li > ul {
  float: none;
}

.mobile-hidden .navbar-nav > li .submenu_block > ul > li > ul > li{
  display: block;
  float: none;
}

.mobile-hidden .navbar-nav > li .submenu_block > ul > li > ul > li a {
   padding: 5px 0;
}

.mobile-hidden .navbar-nav > li .submenu_block > ul > li > ul > li ul {
  display: none;
}

.mobile-hidden .navbar-nav > li:hover .submenu_block{
  display: block;
}
.desktop-header .navbar-collapse > .navbar-nav > li > a:before,
.desktop-header .navbar-collapse > .navbar-nav > li > span:before {
  left:13px;
  right:13px;
  width:auto;
}