.navbar-inverse {
  > .navbar-collapse{
    > .navbar-nav {
      > li {
        &:hover{
          > a,
          > span{
            color: @navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-hover-bg;
          }
        }
      }
    }
  }
}

.mobile-hidden .navbar-nav {
  > li {
    .submenu_block {
      background: #fff;
      left: 0;
      top: 110%;
      top:80px;
      padding: 36px 30px 31px;
      .box-shadow(rgba(0, 0, 0, 0.2) 0 5px 13px);

      &:before {
        content: '';
        display:block;
        background: transparent;
        position:absolute;
        width:100%;
        height:10px;
        left:0;right:0;
        top: -10px;
      }

      > ul {
        > li{
          > a,
          > span {
            color: #000;
            font: 600 16px/20px "Noto Sans", sans-serif;
            transition: all 0.3s ease;
            padding: 0;
            
            &:hover {
              background: transparent;
              color: #888;
            }
          }

          &.active{
            > a {
              color: @navbar-inverse-bg;         
              background: transparent;
              &:hover {
                background: transparent;
                color: @navbar-inverse-bg;
              }
            }
          }
          
          > ul {
            padding: 12px 0 18px 0;
            margin:0;
            > li{
              a,
              span {
                color: #777;
                display: inline-block;
                font-size: 13px;
                font-weight: bold;
                line-height: 16px;
                padding-bottom: 10px;
                position: relative;
                transition: all 0.3s ease;               
                &:hover {
                  background: transparent;
                  color: @link-hover-color;
                }
              }
              
              &.active{
                a {
                  background: transparent;
                  color: @navbar-inverse-bg;
                  &:hover {
                    background: transparent;
                    color: @navbar-inverse-bg;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mobile_header  {

  ul.nav-pills {
    position: absolute;
  } 
  
  .navbar-nav {
    margin: 0;
    > li {
      .submenu_block {
        .navbar-nav {
          li > a{
            padding-left: 20px;
            border-top: 1px solid #9E9E9E;
          }
          
          li li > a {
            padding-left: 30px;
            font-size: 14px;
            border: none;
          }
        }
      }
    }
  }
}

#slidebar .navbar-nav > li > a,
#slidebar .navbar-nav > li > span{
  font-size: @slidebar-links-font-size;
}

@media (max-width: @screen-sm-max) {
  #header {
    position: absolute;
  }
}

.skin-crisp_white-customer {
  #header.header-right-bar {
    margin-top: -60px;
  }

  .submenu_block {
    .navbar-nav {
      margin-left: 0;
    }
  }

  @media (min-width: 992px) {
    .mobile-hidden .navbar-nav > li .submenu_block {
      left: 17px;
    }
  }

  .mobile-hidden .navbar-nav {
    > li {
      .submenu_block {
        background: #ffffff;
        .box-shadow(0px 1px 8px 1px rgba(0,0,0,0.15));
        > ul {
          > li{
            > a {
              color: @headings-color;
              border-bottom: 1px solid @base-border-color;
              padding: 10px 0;

              &:hover {
                background: transparent;
                color: @link-hover-color;
              }
            }

            &.active{
              > a {
                color: @navbar-inverse-bg;
                border-bottom: 1px solid @link-hover-color;
                background: transparent;
                &:hover {
                  background: transparent;
                  color: @navbar-inverse-bg;
                }
              }
            }

            > ul {
              > li{
                a {
                  font-size: @font-size-base;
                  color: @brand-primary;

                  &:hover {
                    background: transparent;
                    color: @link-hover-color;
                  }
                }

                &.active{
                  a {
                    background: transparent;
                    color: @navbar-inverse-bg;
                    &:hover {
                      background: transparent;
                      color: @navbar-inverse-bg;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
