{##
 # Banner rotation widget template
 #}

<div id="banner-rotation-widget" class="carousel slide banner-carousel">
  {{ this.displayCommentedData(this.getCommentedData()) }}

  <!-- Indicators -->
  <a href="#banner-rotation-widget" class="left carousel-control" role="button" data-slide="prev"><span class="fa fa-angle-left" aria-hidden="true"></span></a>
  <a href="#banner-rotation-widget" class="right carousel-control" role="button" data-slide="next"><span class="fa fa-angle-right" aria-hidden="true"></span></a>
  
  <div class="carousel-inner" role="listbox">
    {% for image in this.getImages() %}
      <a href="{{ image.bannerRotationSlide.getLink() }}" class="item">
        <img src="{{ image.getFrontURL() }}" alt="{{ image.getAlt() }}" >
      </a>
    {% endfor %}
  </div>
</div>
