/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * images styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.category-description > div {
    display: none;
}

.carousel-inner a{
    height: 100%;
}
.carousel-inner img{
    max-height: 100%;
    margin: auto;
}

.carousel-indicators{
    margin-bottom: 0px;
    bottom: 10px;
}
.carousel-control {
  z-index: 1;
  width: 5%;
  display:none;
}
.carousel-control .fa {
  font-size: 71px;
  font-size: 5vw;
  position: absolute;
  margin: auto;
  bottom: 50%;
  top:auto;
  left:auto;
  right:auto;
}
.carousel-control.left .fa {
  left: 20%;
}
.carousel-control.right .fa {
  right: 20%;
}