{##
 # Products list item (list variant)
 #}

<div class="{{ this.getProductCellClass() }}">
  <div class="row">
    <div class="product-photo col-xs-5 cols-sm-5 col-md-4 col-lg-4">
      <div class="product-image-container">
        {{ widget_list('photo', type='inherited', product=this.product) }}
        {{ widget_list('quicklook', type='inherited', product=this.product) }}
      </div>
    </div>
    <div class="product-info col-xs-7 col-sm-7 col-md-4 col-lg-4">
        {{ widget_list('info', type='inherited', product=this.product) }}
    </div>
    <div class="product-right-info col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="right-block-content">
        {{ widget_list('right_info', type='inherited', product=this.product) }}
      </div>
    </div>
  </div>
</div>