/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

#breadcrumb{
  .container();
  padding: 4px 0 6px;
  margin: 40px auto 20px;
  color: #333;
  font-weight: bold;
  .target-main & {
    display: none;
  }
  @media(max-width: @screen-sm-max){
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 20px;
  }
}
.breadcrumb {
  display: inline-block;
  padding: 0px;
  margin: 0;
  font-weight: bold;
  font-size: 0px;
  line-height: 24px;
  min-height: 6px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: transparent;

  @media(max-width: @screen-sm-max){
    margin-left:0;
  }

  > li {
    display: inline-block;
    background: transparent;
    margin: 0 0.7em 10px 0.7em;
    padding: 0;
    position: relative;
    z-index: 2;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    line-height: 36px;
    &.home-node {
      z-index: 99;
      padding:0;
      margin:0;
      a {
        font-size: 25px;
        color: #333333;
        margin: 0 0.62em 10px 0.62em;
        padding: 0 0.5em;
        .fa {
          vertical-align: middle;
        }
      }
    }
    + li:before {
      content: none;
      display: none;
    }
    &:last-child {
      background-color: transparent;
    }
    a {
      background: #fbfbfb;
      color: #333;
      display: inline-block;
      float: none;
      padding: 0 1em;
      position: relative;
      text-decoration: none;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      font-weight: normal;
      &:before,
      &:after {
        background: #fbfbfb;
        bottom: 0;
        content: "";
        position: absolute;
        top: 0;
        transform: skew(-10deg);
        width: 1em;
        transition: all 0.15s ease;
      }
      &:before {
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px 0 0 5px;
        left: -0.5em;
      }
      &:after {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0;
        border-radius: 0 5px 5px 0;
        right: -0.5em;
      }
      &:hover {
        background: #333333;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        &:before,
        &:after {
          background: #333333;
          transition: all 0.3s ease;
        }
      }
    }

  }
}
