/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

//
// Carousel
// --------------------------------------------------

.carousel {
  overflow-x: hidden;
}

.skin-customer .carousel-inner {

  width: 100%;
  height: auto;

  > .item {
    
    pointer-events: none;
    &.active {
        pointer-events: auto;
    }
      
    > img,
    > a > img {
      max-width: 100%;
    }

    opacity: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 2.5s;
    &.active {
      position: relative;
      opacity: 1;
      transition: opacity 2.5s;
    }
  }

  > .next,
  > .prev {
    width: auto;
  }
}

