/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/**
 * Colorbox styles
 */

.skin-customer #cboxOverlay {
  background: rgba(63, 65, 68, 0.9);
}

.skin-customer #cboxMiddleLeft, .skin-customer #cboxMiddleRight {
  width: (@rhythmic-unit + 1);
  background: @color-background;
  border-bottom: (3 * @rhythmic-unit)  solid @color-background;
  border-top: (3 * @rhythmic-unit)  solid @color-background;
      -ms-box-sizing: content-box;
      moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#cboxContent {
  padding-top: (2 * @rhythmic-unit);
  padding-bottom: (2 * @rhythmic-unit);
  border-bottom: (@rhythmic-unit) solid @color-background;
  border-top: (@rhythmic-unit) solid @color-background;
}

#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight {
  display: none;
}

.skin-customer #cboxClose {
  .icon-cross;
  top: 0;
}

.skin-customer #cboxNext {
  .icon-chevron-right;
  right: 0;
  left: auto;
}

#cboxPrevious {
  .icon-chevron-left;
}

.skin-customer #cboxClose,
.skin-customer #cboxNext,
.skin-customer #cboxPrevious {
  background: none;
  text-indent: inherit;
  font-size: 0;

  &:before {
    font-size: (@rhythmic-unit);
    margin: 0;
  }
  width: (@rhythmic-unit);
  height: (@rhythmic-unit);
}

.skin-customer #cboxTitle {
  bottom: 0;
  color: @color-text-default;
  padding-left: @rhythmic-unit;
  padding-right: @rhythmic-unit;

  @media(max-width: @screen-xs-max) {
    display: none;
  }
}

.skin-customer #cboxLoadedContent {
  margin: 0;
}