/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

body.target-checkout,
body.target-checkoutPayment {
  #footer-area {
    display: none;
  }
}

.skin-customer #footer-area {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 78px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 33px;
  background: #F5F5F5;
  color: #777;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  &:before {
    content: "";
    display: block;
    height: 77px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  .footer_contacts {
    .make-xs-column(12; 0);
    .make-sm-column(12; 0);
    .make-md-column(3; 0);
    padding-left: 15px;
    padding-right: 15px;
    @media(min-width: @screen-md-min) {
      padding-right: 0;
      margin-bottom: 50px;
    }
    @media(max-width: @screen-sm-max) {
      margin-bottom: (@rhythmic-unit * 2);
    }
  }

  .footer-socials {
    ul {
      padding: 20px 0 0;
      margin:0;
      li {
        float: left;
        margin-bottom: 10px;
        padding: 0;
        text-align: center;
        +li {
          margin-left: 10px;
        }
        a {
          background: #57575e;
          border-radius: 50px;
          color: #fff;
          display: inline-block;
          font-size: 26px;
          height: 48px;
          padding: 11px 0 0;
          width: 48px;
          span {
            display: none;
          }
          &:before {
            display: inline-block;
            font-family: "FontAwesome";
            vertical-align: -5px;
          }
          &:hover {
            background: @color-red;
          }
        }

        &.facebook a:before {
            content: "\f09a";
        }
        &.twitter a:before {
            content: "\f099";
        }
        &.instagram a:before {
            content: "\f16d";
        }

      }
    }
  }
  #secondary-menu {
    .make-sm-column(12; 0);
    .make-md-column(9; 0);

    @media(max-width: @screen-sm-max) {
      clear: both;
    }

    @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      margin-bottom: @rhythmic-unit;

      > .footer-menu {
        justify-content: space-around;
      }
    }

    @media(min-width: @screen-sm-min) {
      .footer-menu > .leaf > .collapser {
        display: none;
      }

      .footer-menu > .leaf > ul.collapse {
        height: auto !important;
      }
    }

    @media(max-width: @screen-xs-max) {
      padding-bottom: 20px;
      .footer-menu > .leaf > a {
        display: inline-block;
      }

      .footer-menu > .leaf > .collapser {
        float: right;
        display: inline-block;

        &.trigger-hide {
          .icon-minus;
          &:before{
            font-size: 20px;
            display: block;
          }
        }

        &.trigger-show {
          .icon-plus;
          &:before{
            font-size: 20px;
            display: block;
          }
        }
      }

      .footer-menu > .leaf > ul.collapse:not(.in) {
        display: none;
      }
    }
  }

  #footer {
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      display: block;

      margin-top: 60px;
      margin-bottom: 15px;
    }
    a:hover {
      color: #fff;
    }
  }

  @media(max-width: @screen-sm-max) {
    .container {
      padding-left: (@rhythmic-unit);
      padding-right: (@rhythmic-unit);
    }
  }
}

.powered-by {
  #rhythmless > .rhythm(@font-size-small);
  margin-bottom: 24px;

  & > * {
    line-height: 20px;
    display: inline-block;
  }
}

@media(max-width: @screen-xs-max) {
  .skin-customer #page {
    padding-bottom: 0;
  }
  #footer-area {
    position: relative;
  }
}
