/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.baseliner::after{
  z-index: 99999999;
}

html, body {
  height: 100%;
}

#main-wrapper{
  position: relative;
  padding-bottom: (@rhythmic-unit * 2);
}


#page-wrapper {
  .flex-display();
  .flex-direction(column);
  .justify-content(space-between);
  position: relative;
  min-height: 100vh;
  min-width: 320px;

  & > *:first-child {
    flex-shrink: 0;
  }

  #page {
    flex: 1 0 auto;
  }

  // ie 10+
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  }
}

#main {
  .container;
  padding-left: 0;
  padding-right: 0;
  &:after {
    height: 0;
    font-size: 0;
    line-height: 0;
  }

  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    padding-left: @rhythmic-unit;
    padding-right: @rhythmic-unit;
  }
}

#page {
  padding-bottom: 0px;
}

.flex-container {
  @media (min-width: @screen-sm-min) {
    .make-row(@grid-gutter-width);
    margin-top: (0 * @rhythmic-unit);
  }
  @media (min-width: @screen-md-min) {
    .make-row(@grid-gutter-width-md);
    margin-top: (0 * @rhythmic-unit);
  }
  @media (min-width: @screen-lg-min) {
    .make-row(@grid-gutter-width-lg);
  }
}

.sidebar {
  .make-sm-column(4; @grid-gutter-width);
  .make-md-column(3; @grid-gutter-width-md);
  .make-lg-column(3; @grid-gutter-width-lg);

  @media (max-width: @screen-xs-max) {
    padding-left:  0;
    padding-right: 0;
  }
}

.one-sidebar #content {
  .make-sm-column(8; @grid-gutter-width);
  .make-md-column(9; @grid-gutter-width-md);
  .make-lg-column(9; @grid-gutter-width-lg);

  @media (max-width: @screen-xs-max) {
    padding-left:  0;
    padding-right: 0;
  }
}

.two-sidebars #content {
  overflow: hidden;
  .make-sm-column(8; @grid-gutter-width);
  .make-md-column(6; @grid-gutter-width-lg);
  .make-lg-column(6; @grid-gutter-width-lg);

  @media (max-width: @screen-xs-max) {
    padding-left:  0;
    padding-right: 0;
  }
}

.one-sidebar {
  &.sidebar-first-empty,
  &.sidebar-second-empty {
    .sidebar {
      display: none;
    }
    #content {
      .make-lg-column(12; 0);
      float: none;
      width: auto;
    }
    .flex-container {
      margin-left:  0;
      margin-right: 0;
    }
  }
}

.two-sidebars {
  &.sidebar-first-empty,
  &.sidebar-second-empty {
    #sidebar-second {
      .make-sm-column(4; @grid-gutter-width);
      .make-md-column(3; @grid-gutter-width-md);
      .make-lg-column(3; @grid-gutter-width-lg);

      @media (max-width: @screen-xs-max) {
        padding-left:  0;
        padding-right: 0;
      }
    }
    #content {
      .make-sm-column(8; @grid-gutter-width);
      .make-md-column(9; @grid-gutter-width-md);
      .make-lg-column(9; @grid-gutter-width-lg);

      @media (max-width: @screen-xs-max) {
        padding-left:  0;
        padding-right: 0;
      }
    }
  }

  &.sidebar-first-empty {
    #sidebar-first {
      display: none;
    }
  }

  &.sidebar-second-empty {
    #sidebar-second {
      display: none;
    }
  }
  &.sidebar-first-empty.sidebar-second-empty {
    .sidebar {
      display: none;
    }
    #content {
      .make-lg-column(12; 0);
      float: none;
      width: auto;
    }
    .flex-container {
      margin-left:  0;
      margin-right: 0;
    }
  }
}

.no-sidebars .flex-container {
  margin-left:  0;
  margin-right: 0;
}

.no-sidebars #content {
  .make-lg-column(12; 0);
}

#sidebar-second {
  @media (min-width: @screen-xs-min) {
    padding-left: 0;
  }

  @media (min-width: @screen-sm-min) {
    padding-left: round(@grid-gutter-width / 2);
  }

  @media (max-width: @screen-xs-max) {
    clear: both;
    padding-top: 30px;
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .two-sidebars #sidebar-first {
    margin-bottom: 0;
  }

  .two-sidebars #main-wrapper #content {
    float: right;
  }

  .two-sidebars #sidebar-second {
    clear: left;
    padding-left: 0;
    padding-right: round(@grid-gutter-width / 2);
  }
}

/**
 * Increase bottom padding for static pages
 */
.target-page #main-wrapper {
  padding-bottom: 180px;
}