/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

#name-and-slogan
{
  display: table-cell;
  vertical-align: middle;
}

#logo, .company-logo {
  .make-md-column(4; 0);
  z-index: 2;
  display: block;
  text-align: left;
  position: relative;
  vertical-align: middle;
  padding: 28px 15px 0;
  img {
    .fast-transitions;
  }
}

.header-right-bar {
  .flex-display();
  .align-items(center);
  float: right;
  width: auto;
  padding: 0;
  height: 145px;
  & > * {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;

    &:not(.disabled) > a {
      cursor: pointer;
      color: #303038;

      &:hover {
        color: @color-red;
      }
    }

    &.disabled > a {
      cursor: default;
      color: @color-light;
    }
  }

  .header_settings {
    display: none;
  }

  .header_search {
    display: none;
  }

  .block {
    height: 100%;
    border: none;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .content{
      vertical-align: middle;
      display: inline-block;
      background: none;
      border: none;
    }
  }

  .lc-minicart {
    position: relative;
    left:0;
    top: 0;
    z-index: 100;
    color: #303038;
    padding: 8px 0 8px 70px;

    &:before {
      content: "\f07a";
      display: inline-block;
      font-family: FontAwesome;
      font-size: 54px;
      line-height: 50px;
      vertical-align: middle;
      color: #c9c9c9;
      position: absolute;
      left:0;
      top: 4px;
      transition: color .3s;
    }
    .minicart-cart-title {
      color: #303038;
      font: 18px/22px "Roboto Slab",serif;
      padding-right: 5px;
      text-transform: uppercase;
    }
    .minicart-items-number,
    .minicart-items-text {
      display: inline;
      color: @color-red;
      font: 14px/18px "Roboto Slab",serif;
      vertical-align: middle;
      font-weight: normal;
    }

    &:not(.empty):hover {
      color: @color-red;
      &:before {
        color: #303038;
      }
      .minicart-cart-title {
        color: @color-red;
      }
      .minicart-items-number,
      .minicart-items-text {
        color: #303038;
      }
    }
  }
}

#header {
  .header_bar-locale {
    & > a {
      .icon-chevron-down--right;
      cursor: pointer;
      color: #fff;
      &:hover {
        color: #767676;
      }
      span + span {
        margin-left: 8px;
      }
      .country-indicator + span {
        &:before {
          color: @color-border;
          content: '|';
          margin-right: 8px;
          display: inline-block;
          vertical-align: text-bottom;
        }
      }

      .language-indicator {
        text-transform: uppercase;
      }

      .language-indicator + span {
        &:before {
          color: @color-border;
          content: '\2013';
          margin-right: 8px;
          display: inline-block;
          vertical-align: text-bottom;
        }
      }
    }

    .dropdown-menu {
      .xcart-dropdown;
      left: auto;
      right: 0;
      text-align: left;

      select {
        height: (@rhythmic-unit * 2);
      }
    }
  }
}

#header-area {
  .clearfix;
  position: relative;
  margin: 0;
  z-index: 20000;
  .desktop-header {
    .transitions;
    .hidden-xs;
    .hidden-sm;
    background: @header-bg-color;
    position: relative;
    width: 100%;
    left: 0;
    font-size: 14px;
    .line1 {
      height: 38px;
      background: @header-line1-bg;
    }
    .header-break {
      .clearfix;
    }

    &.affix{
      padding-top: 0;
      border-bottom-color: @navbar-inverse-border;
      box-shadow: none;
      &:before {
        height:0;
      }
      #logo {
        display: none;
      }

      #header-bar {
        display: none;
      }

      .header-break {
        display: none;
      }

      .header-right-bar {
        & > * {
          display: none;
        }

        .header_search {
          display: inline-block;
        }

        .header_settings {
          display: inline-block;
        }

        .lc-minicart {
          display: inline-block;
        }
      }
      .navbar{
        border:none;
      }
    }

    .line1 .wishlist {
      float: right;
      padding: 10px 0 10px 20px;
      .wishlist-link {
        color: #777;
        font-size: 16px;
        &:hover {
          color: @color-red;
        }
      }
    }
  }

  .mobile_header {
      .hidden-md;
      .hidden-lg;
      .simple-search-product-form .simple-search-box > .table-value {
        height: (@rhythmic-unit * 2);
      }
  }

  &:after {
    .clearfix;
    margin-top: 0px;

    @media(max-width: @screen-sm-max) {
      margin-top: 0px;
    }
  }

  .line2 {
    height: 145px;
  }
}
body.target-main {
  #header-area {
    .desktop-header {
      margin-bottom: 0;
    }
  }
}
body.target-checkout {
  #header-area {
    margin-bottom: 20px;
    @media(min-width: @screen-md-min) {
      .desktop-header {
        
      }
      .desktop-header:not(.affix) {
        
      }
    }

    &:after {
      margin-top: 0px;
    }
  }
  .line2 .container {
    position: relative;
    .header-checkout_logos {
      right: 10px;
      bottom: 32px;
    }
  }
  .checkout_fastlane_header .header-checkout_logos {
    display:none;
  }
}

// Search box
.line2 #search {
  .flex-display();
  .align-items(center);
  height: 145px;
  float: left;
  margin-left: 30px;

  .simple-search-box {
    height: 36px;
    background: #fff none;
    .flex-display();

    > .table-value {
      height: 36px;
      background: #fff none;
      padding:0;
      margin:0;
      border: 1px solid #ccc;
      border-right: 0 none;
      display: block;
      padding: 8px 70px 9px 13px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555555;
    }
    > button[type="submit"] {
      width: 61px;
      height: 36px;
      padding: 10px 0;
      span {
        display: none;
      }
      &:after {
        color: #fff;
        content: "\f002";
        display: block;
        font-family: "FontAwesome";
        font-size: 16px;
        text-align: center;
        width: 100%;
        position: relative;
        z-index: 2;
      }
    }

    &.focus {
      & > .table-value {
        border: 1px solid @color-red;
        border-right: 0 none;
      }
      & > button[type="submit"] {
        background: @color-red !important;
        &:hover:before {
          background: #57575e !important;
        }
      }
    }

  }

}

// mobile header search
.header_search {
  position: relative;

  & > a {
    .icon-search;
    &:before {
      font-size: 18px;
    }
    font-size: 18px;
  }

  .header_search-panel {
    z-index: 1;
    position: absolute;
    bottom: -9px;
    margin-left: -215px;
    background-color: #fff;
  }


  .simple-search-product-form {
    position: relative;
  }

  .simple-search-box {
    .flex-display();
    cursor: text;
    border-bottom: 1px solid #303038;

    &.focus {
      & input[type="text"] {
        color: #303038;
      }
    }

    & > .table-value {
      .flex-order(1);
      width: 215px;
      padding-left: 10px;
      height: (@rhythmic-unit * 2);
      text-align: left;
      &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }

      .input-field-wrapper {
        vertical-align: middle;
        display: inline-block;
        width: 95%;
      }

      input[type="text"] {
        border: none;
        outline: none;
        line-height: normal;
        background: transparent;
        color: #303038;
        font-size: 14px;
        line-height: 20px;
      }
    }

    & > button[type="submit"] {
      .icon-search;
      .flex-order(2);

      border: none;
      padding: 0px;
      color: #303038;
      line-height: normal;
      margin-right: .5em;
      background: transparent;
      &:before {
        background: transparent;
        font-size: 18px;
        position: relative;
        opacity: 1;
        filter: alpha(opacity=1);
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
        transform: scale(1);
      }
      &:hover {
        color: @color-red;
      }

      span {
        display: none;
      }
    }
  }
}

#header-bar {
  .flex-display();
  .align-items(center);
  float: left;
  width: auto;

  & > * + * {
    margin-left: (@rhythmic-unit * 2);
  }

  & > .account-links {
    .mobile-hidden;
    display: inline-block;
  }
}

.header_bar-sign_in,
.header_bar-my_account {
  display:block;
  float: left;
  position: relative;
  padding: 10px 0;
  line-height: 17px;
  height: 38px;

  > a,
  > .regular-button,
  > .regular-button span {
    display: inline;
    font: normal 12px/17px "Roboto", sans-serif;
    color: #303038;
    padding:0;
    background: transparent none;
    border: 0 none;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: @color-red;
      background: transparent none;
    }
    &:before {
      content: none;
    }
  }

  > .regular-button:not(.disabled):hover {
    color: @color-red;
    background: transparent none;
    span {
      color: @color-red;
      background: transparent none;
    }
  }
}

.header_bar-sign_in {
}
.header_bar-my_account {
  .dropdown-menu {
    > li {
      > a {
        padding: 3px 10px;
        color: #303038;
        &:hover {
          color: @color-red;
        }
        &:before {
          margin-right: 10px;
        }
      }
      hr {
        margin: 5px 0;
      }
    }
  }
}

.line1 .header_bar-locale {
  float: right;
  padding: 10px 0;
  line-height: 18px;
  font-size: 12px;
  
  > a {
    cursor: pointer;
    color: #777;
    &:hover {
      color: @color-red;
    }
    &:after {
      content: "\f0d7";
      font-family: "FontAwesome";
      font-size: 13px;
      line-height: 13px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      vertical-align: middle;
      color: #be382a;
    }
    span {
      padding: 0 4px;
    }
  }
  .dropdown-menu {
    padding: 20px;
  }
}
.locale_language-selector {
  min-width: 220px;
  .clear {
    .clearfix;
  }
  .table-label, .star {
    display: none;
  }
  .input-group + .input-group {
    margin-top: (@rhythmic-unit / 2);
  }

  .input-group, .table-value, .input-field-wrapper {
    width: 100%;
  }

  .group {
    line-height: @rhythmic-unit;
    .clearfix;

    .heading {
      margin-bottom: (@rhythmic-unit / 2);
    }
  }

  .group + .group {
    margin-top: @rhythmic-unit;
  }

  button {
    width: 100%;
  }
}

.block-top-categories {
  background: @top-categories-bg;
  .content {
    .container;
    padding: 10px 15px;
    > ul {
      .clearfix;
      list-style: none inside none;
      margin:0;
      padding:0;
      position: relative;
      > li {
        float: left;
        margin:0;
        padding:0;
        +li {
          border-left: 1px solid @top-categories-link-border-color;
        }
        > a {
          color: @top-categories-link-color;
          font-size: 15px;
          font-family: @top-categories-font-family;
          padding: 10px;
          line-height: 22px;
          text-transform: uppercase;
          display:block;
          position: relative;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          -webkit-transition: 0.3s;
          transition: 0.3s;

          &:after {
            background: @top-categories-link-color-hover;
            content: "";
            height: 2px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 100%;
            transform: translateY(10px);
            transition: opacity 0.3s ease 0s,transform 0.3s ease 0s;
            width: 100%;
          }
          &:hover {
            color: @top-categories-link-color-hover;
            &:after {
              opacity: 1;
              transform: translateY(0px);
            }
          }
        }
        &:hover > a {
          color: @top-categories-link-color-hover;
          &:after {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
  }
}