/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

@font-face {
    font-family: 'xcartskin';
    src:    url('../../iconfont/xcartskin.eot?oaqn6v');
    src:    url('../../iconfont/xcartskin.eot?oaqn6v#iefix') format('embedded-opentype'),
        url('../../iconfont/xcartskin.ttf?oaqn6v') format('truetype'),
        url('../../iconfont/xcartskin.woff?oaqn6v') format('woff'),
        url('../../iconfont/xcartskin.svg?oaqn6v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.iconfont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xcartskin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 20px;
  font-size: 16px;

  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  position: relative;
  background: inherit;
  color: inherit;
}
.icon-menu {
  &:before {
    .iconfont;
    font-size: 20px;
    content: "\e907";
  }
}
.icon-bag {
  &:before {
    .iconfont;
    content: "\e901";
  }
}
.icon-search {
  &:before {
    .iconfont;
    content: "\e913";
  }
}
.icon-compare {
  &:before {
    .iconfont;
    content: "\e912";
  }
}
.icon-chevron-down {
  &:before {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e90f";
  }
}

.icon-chevron-down--right {
  &:after {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e90f";
  }
}

.icon-chevron-up {
  &:before {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e900";
  }
}

.icon-chevron-up--right {
  &:after {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e900";
  }
}

.icon-chevron-left {
  &:before {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e911";
  }
}

.icon-chevron-left--right {
  &:after {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e911";
  }
}

.icon-chevron-right {
  &:before {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e910";
  }
}

.icon-chevron-right--right {
  &:after {
    .iconfont;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e910";
  }
}


.icon-orders {
  &:before {
    .iconfont;
    content: "\e91d";
  }
}
.icon-settings {
  &:before {
    .iconfont;
    content: "\e915";
  }
}
.icon-settings-fill {
  &:before {
    .iconfont;
    content: "\e914";
  }
}
.icon-logout {
  &:before {
    .iconfont;
    content: "\e91f";
  }
}

.icon-person {
  &:before {
    .iconfont;
    content: "\e906";
  }
}

.icon-trash {
  &:before {
    .iconfont;
    content: "\e90a";
    vertical-align: baseline;
  }
}

.icon-indicator {
  &:before {
    .iconfont;
    content: "\e902";
  }
}

.icon-zoom {
  &:before {
    .iconfont;
    content: "\e904";
  }
}

.icon-wishlist {
  &:before {
    .iconfont;
    content: "\e908";
  }
}

.icon-star {
  &:before {
    .iconfont;
    content: "\e909";
  }
}

.icon-list-view {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "\f00b";
  }
}

.icon-grid-view {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    content: "\f009";
  }
}

.icon-table-view {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "\f039";
  }
}

.icon-filters {
  &:before {
    .iconfont;
    content: "\e90e";
  }
}

.icon-ok-mark {
  &:before {
    .iconfont;
    content: "\e916";
  }
}
.icon-pencil {
  &:before {
    .iconfont;
    content: "\e917";
  }
}
.icon-mail {
  &:before {
    .iconfont;
    content: "\e903";
  }
}
.icon-phone {
  &:before {
    .iconfont;
    content: "\e918";
  }
}
.icon-location {
  &:before {
    .iconfont;
    content: "\e919";
  }
}

.icon-minus {
  &:before {
    .iconfont;
    content: "\e91a";
  }
}

.icon-plus {
  &:before {
    .iconfont;
    content: "\e91b";
  }
}
.icon-minus--after {
  &:after {
    .iconfont;
    content: "\e91a";
  }
}

.icon-plus--after {
  &:after {
    .iconfont;
    content: "\e91b";
  }
}

.icon-cross {
  &:before {
    .iconfont;
    content: "\e91c";
  }
}

.icon-account {
  &:before {
    .iconfont;
    content: "\e91e";
  }
}

.icon-my-account-profile {
  &:before {
    .iconfont;
    content: "\e920";
  }
}