.products-grid,
.products-list {
  margin-bottom: (-3 * @rhythmic-unit);
  .product-cell {
    margin-bottom:30px;
  }
  .product {
    background-color: @color-background;
    position: relative;
    .product-photo {
      overflow: visible;
      position: relative;

      a {
        width: 100%;
        height: 100%;
        text-align: center;
        transition: opacity .1s ease-in;

        img {
          .center-image-in-flex();
        }
        img.photo {
          -webkit-transition: all 0.3s linear;
          -moz-transition: all 0.3s linear;
          -o-transition: all 0.3s linear;
          -ms-transition: all 0.3s linear;
          transition: all 0.3s linear;
          position: absolute;
          max-width:90%;
          max-height:90%;
          margin:auto;
          left:0;
          right:0;
          top:0;
          bottom:0;
        }

        &:hover {
          img.photo {
            transform: scale(1.1);
          }
        }
      }

      .labels {
        position: static;
        height:0;
        width:0;
        padding:0;
        margin:0;
        .label-main-box {
          position: absolute;
          top: -4px;
          overflow: hidden;
          height: 85px;
          width: 85px;
          text-align: center;
          z-index: 0;
        }
        .label-main-box .content {
            display: block;
            font: 700 14px/12px "Roboto", sans-serif;
            padding: 9px 0 7px;
            position: static;
            text-align: center;
            min-width: 42px;
            color: #fff;
        }
        .coming-soon,
        .new-arrival {
          .label-main-box {
            top: -5px;
            left: -4px;
            .content {
              background: #57575e;
              text-transform: uppercase;
              width: 130px;
              text-align: center;
              letter-spacing: 1px;
              display: block;
              position: absolute;
              left: -33px;
              top: 11px;
              z-index: 1;
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
              &:before {
                position: absolute;
                bottom: -3px;
                right: 14px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 4px 0 4px;
                border-color: #57575e transparent transparent transparent;
                content: ".";
                text-indent: -5000px;
                -webkit-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
                -o-transform: rotate(225deg);
                transform: rotate(225deg);
              }
              &:after {
                position: absolute;
                bottom: -3px;
                left: 3px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 4px 0 4px;
                border-color: #57575e transparent transparent transparent;
                content: ".";
                text-indent: -5000px;
                -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
                transform: rotate(135deg);
              }
            }
          }
        }
        .coming-soon {
          .label-main-box {
            .content {
              background: #9b9b9b;
              font-size: 11px;
              padding: 3px 30px 1px;
            }
          }
        }
        .free-shipping {
          display: none;
        }
        .wishlist-product {
          display: none;
          .label-main-box .content {
            position: absolute;
            left:0;
            bottom:0;
            white-space: nowrap;
          }
        }
        .market-price,
        .sale-price {
          .label-main-box {
            left: auto;
            right: -5px;
            top: -3px;
          }
          .label-main-box .content {
            font: 700 14px/12px "Roboto", sans-serif;
            color: white;
            background: #be382a;
            text-transform: uppercase;
            padding: 9px 0 7px;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
            width: 130px;
            text-align: center;
            display: block;
            position: absolute;
            right: -33px;
            top: 16px;
            z-index: 1;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            perspective: 1px;
            &:before {
              position: absolute;
              bottom: -3px;
              right: 4px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 4px 4px 0 4px;
              border-color: #be382a transparent transparent transparent;
              content: ".";
              text-indent: -5000px;
              -webkit-transform: rotate(225deg);
              -ms-transform: rotate(225deg);
              -o-transform: rotate(225deg);
              transform: rotate(225deg);
            }
            &:after {
              position: absolute;
              bottom: -3px;
              left: 5px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 4px 4px 0 4px;
              border-color: #be382a transparent transparent transparent;
              content: ".";
              text-indent: -5000px;
              -webkit-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
              -o-transform: rotate(135deg);
              transform: rotate(135deg);
            }
          }
        }

        .add-market-price {
          .label-main-box {
            right:0; left: auto;
            bottom:0; top: auto;
            width: auto;
            height: auto;
          }
          .label-main-box .content {
            background: #ba372a;
            border: none;
            font: 18px/24px "Roboto Slab", serif;
            color: white;
            padding: 0 5px 0 3px;
            display: inline-block;
          }
        }
      }
    }
    @media(min-width: @screen-sm-min) {
      &:not(.prevent-hover):hover, &.touched, &.ui-draggable-dragging {
        .product-photo a,
        .labels {
          opacity: 1;
        }

        .quicklook {
          display: block;
        }
      }
    }

    .product-name a {
      color: #303038;
      font: 14px/21px "Roboto Slab", serif;
      margin-bottom: 0;
      
      &:hover {
        color: @color-red;
      }
    }
    .coming-soon-note {
      display: block;
      color: #f94c3a;
      margin: 20px 0;
    }
    .add-to-cart-button {
      display: block;
      button {
        font: 18px / 22px 'Roboto Slab', serif;
        text-transform: uppercase;
        color: #f94c3a;
        padding: 0;
        background: transparent;
        span {
          color: #f94c3a;
          vertical-align: top;
          font: 18px / 22px 'Roboto Slab', serif;
        }
        &:before {
          content: none;
        }

        &:hover {
          color:#303038;
          span {
            color:#303038;
            vertical-align: top;
          }
        }
      }
    }

    a.add-to-wishlist {
      position: static;
      font-weight: normal;
      color: #777;
      cursor: pointer;
      text-align: center;
      font-size:11px;
      line-height: 13px;
      span {
        font-size:11px;
        line-height: 13px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
      &:before {
        margin-right: 5px;
      }
      &:hover {
        color: @color-red;
      }
    }

    .add-to-compare {
      display: inline-block;
      text-align: center;
      color: #777;
      line-height: 13px;
      font-size:11px;
      vertical-align: middle;
      &:hover {
        color: @color-red;
      }
      input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
        left: -99999px;
        
        & + label {
          .icon-compare;
          line-height: 13px;
          font-size:11px;     
          cursor: pointer;
          &:before {
            font-size:11px;
            margin-right: 5px;
            line-height: 18px;
          }
        }
        
      }
    }
    .product-items-available.in-stock,
    .product-items-available.low-stock {
      background: #303038;
      display: inline-block;
      color: white;
      font-weight: bold;
      padding: 3px 8px 4px 8px;
      margin: 0 0 10px;
      &.out-of-stock {
        background: #ff7430;
      }
    }
    div.product-price {
      text-align: center;
      position: relative;

      ul.product-price {
        margin-top: 0;
        text-align: center;
        display: inline;
        li {
          display: inline;
          line-height: 26px;
          padding:0;
        }
        span.product-price {
          font: 25px/26px "Roboto Slab", serif;
          color: #ba372a;
        }

        .vat-note-product-price {
          #rhythmless > .rhythm(@font-size-small);
        }
      }

      .product-details-market-price {
        line-height:18px;

        .value {
          text-decoration: line-through;
          font-size: 16px;
          font-weight: normal;
          color: #303038;
        }
        ul.labels {
          position: static; 
          display: inline;
          li,
          li .label-main-box,
          li .label-main-box .content {
            display: inline;
            margin:0;
            padding:0;
            font: 18px/24px "Roboto Slab", serif;
            line-height:26px;
          }
          li .label-main-box .content {
            background: #ba372a;
            border: none;
            color: white;
            padding: 0 5px 0 3px;
          }
        }
      }
      .sale-label-product-details {
        .value {
          text-decoration: line-through;
          font-size: 16px;
          font-weight: normal;
          margin: 0 0 0 3px;
          color: #303038;
        }
      }
      .sale-label-banner,
      .sale-label-banner ul.labels,
      .sale-label-banner ul.labels li,
      .sale-label-banner ul.labels li div {
        display: inline;
        position: static;
        margin:0;
        padding:0;
      }
      .sale-label-banner {
        li .label-main-box .content {
          background: #ba372a;
          border: none;
          color: white;
          padding: 0 5px 0 3px;
          font: 18px/24px "Roboto Slab", serif;
          line-height:26px;       
        }
      }
    }

    .btn.link_view {
      color: #f94c3a;
      font: 18px / 22px 'Roboto Slab', serif;
      text-transform: uppercase;
      text-align: left;
      padding:0;
      &:hover {
        color: #303038;
      }
    }

    &.coming-soon {
      .product-items-available {
        display:none;
      }
    }
  }


  .quicklook {
    .transform(translate(-50%,-50%););
    transition: opacity .1s ease-in;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    background: transparent;

    button {
      font: normal 12px/22px "Roboto",sans-serif;
      color: #fff;
      padding: 9px 5px;
      background: rgba(190,56,42,0.7);
      min-width: 89px;
      text-align: center;
      -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
      box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
      -webkit-transition: background 0.1s ease-out;
      -moz-transition: background 0.1s ease-out;
      -o-transition: background 0.1s ease-out;
      transition: background 0.1s ease-out;
      span {
        font: normal 12px/22px "Roboto",sans-serif;
        color: #fff;
      }
      &:hover {
        background-color: #be382a;
      }
    }
  }

  div.product-price span.product-price {
    color: #000;
    font: 700 14px/16px "Noto Sans", sans-serif;
  }
  .product-marks {
    position: absolute;
    top: @rhythmic-unit/2;
    right: @rhythmic-unit/2;
  }
  .product-average-rating {
    display: none; 
  }
  @media(max-width: @screen-xs-max) {
    .labels {
      top: 0;
    }

    .product-marks {
      top: 215px;
      right: 0;
      width: 100%;
      text-align: center;
    }
  }

  @media(max-width: @screen-xs-min) {
    .product-marks {
      top: 140px;
    }
  }

}

// Products grid
.products-grid {
  margin-left: -15px;
  margin-right: -15px;

  .product-cell {
    @media(min-width: @screen-md-min) {
      margin-bottom: (@rhythmic-unit / 2);
    }
    padding-left: 15px;
    padding-right: 15px;

    &:nth-child(3n) + .product-cell {
      clear:left;
    }
    @media(max-width: @screen-sm-max) {
      &:nth-child(3n) + .product-cell {
        clear:none;
      }
      &:nth-child(2n) + .product-cell {
        clear:left;
      }
    }
  }
  .product {
    background: #fff;
    border: 1px solid #d6d6d7;
    padding: 0 0 10px;
    position: relative;
    transition: border .1s ease-in;
    text-align: center;

    .product-photo {
      position: relative;
      padding: 30px;
      &:before {
        content: '';
        display:block;
        width:100%;
        height:0;
        padding-bottom: 100%;
        opacity:0;
      }

      .regular-button {
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;        
      }
    }

    .product-name {
      margin: 0 0 10px;
      width: 100%;
      padding: 0 10px;
      text-align: center;

      @media(max-width: @screen-md-max) {
        padding-top: 1px;
      }
      
      a {
        display: block;
      }
    }

    .product-average-rating {
      text-align: center;
      padding-bottom: 10px;

      .vote-bar .stars-row {
        line-height: 20px;
        &.full .star-single span {
          color: #000;
        }
      }
      .reviews-count {
        line-height: 20px;
      }
    }

    .functional-buttons {
      padding: 0px 10px 15px;
      .flex-display();
      .align-items(center);

      .add-to-compare,
      .add-to-wishlist {
        padding: 0 5px;
        width:50%;
        display: block;
        margin: auto;
        text-align: center;
        white-space: nowrap;
      }
      .add-to-wishlist + div.add-to-compare {
        border-left: 1px solid #777; 
      }

    }

    @media(min-width: @screen-sm-min) {
      &:not(.prevent-hover):hover, &.touched, &.ui-draggable-dragging {
        .product-photo {
          a {
            opacity: 1;
            img.photo {

            }
          }
        }
        .labels {
          opacity:1;
        }
      }
    }
    
    &.drag-owner {
      opacity: .2;
    }

    div.product-price {
      text-align: center;
      position: relative;
      padding: 0 12px 13px;
      .product-details-market-price {
        ul.labels {
          display: none;
        }
      }
      ul.product-price li.sale-label-banner {
        display: none;
      }
   }
  }
  
  .button-container {
    text-align: right;
    vertical-align: middle;
    padding:0 12px;
    margin: 0 0 14px;
  }

  .add-to-cart-button {
    margin-bottom: 14px;
    text-align: center;
  }

  .product-items-available {
    margin-left: 12px;
  }
  .product-items-available.low-stock {
    margin-bottom: @rhythmic-unit;
    font-weight: 400;
  }

  .product-average-rating {
    .separator,
    .separator + .link-to-tab {
      display: none;
    }
  }

  .reviews-count {
    #rhythmless > .rhythm(@font-size-small);
    line-height: (2 * @rhythmic-unit);
  }

}
.two-sidebars .products-grid {
  .product-cell {
    &:nth-child(3n) + .product-cell {
      clear:none;
    }
    &:nth-child(2n) + .product-cell {
      clear:left;
    }
    @media(max-width: @screen-sm-max) {
      &:nth-child(3n) + .product-cell {
        clear:none;
      }
      &:nth-child(2n) + .product-cell {
        clear:left;
      }
    }
  }
}

// Products list
.skin-customer .products-list {
  .product-cell {
    margin-bottom: (1.5 * @rhythmic-unit);
  }

  .product {
    display: block;
    padding-bottom:10px;
    border-bottom: 1px solid #d6d4d4;
  }

  .product-photo {
    .product-image-container {
      overflow: visible;
      position: relative;
      border: 1px solid #d6d6d6;
      padding: 9px;
      position: relative;
      background: white;
      text-align: center;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        opacity: 0;        
      }

    }
  }

  .product-name {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    a {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 18px;
      line-height: 26px;
      color: #242425;
      margin-bottom: 0;
      letter-spacing: 0.25px;
    }
  }

  .description {
    margin-bottom:15px;
    line-height: 18px;
    font-size: 13px;
    color: #777777;
  }

  div.product-price {
    padding-bottom:24px;
    text-align: left;
  }

  .right-block-content {
    margin: 0;
    border-left: 1px solid #d6d6d7;
    padding-left: 15px;
    padding-bottom: 20px;
    position: relative;

    @media(max-width: @screen-sm-max) {
      padding-left:0;
      border-left:0;
      &:before {
        content: none;
        display: none;
      }
    }
    .add-to-cart-button {
      display: block;
      margin-bottom:10px;
    }

    a.btn.link_view {
      display: block;
      margin-bottom:10px;
    }
    div.add-to-compare,
    a.add-to-wishlist {
      display:block;
      position: static;
      padding: 0 5px;
      text-align:left;
      margin-bottom: 10px;
      line-height:18px;
      * {
        vertical-align: middle;
      }
    }
    .add-to-cart-button.pp-button {
      margin-left: 0;
      margin-top: 10px;
      button {
        padding: 0;
      }
    }
  }

}


//Products table
.product-table-representation {
  .flex-display();
  .align-items(center);
  .justify-content(center);
  .icon-bag;

  &:before {
    font-size: @font-size-h4;
    display: inline-block;
  }

  padding: 0;
  text-align: center;
  width: 32px;
  height: 32px;
  color: @color-background;
  background: @color-contrast;
  border-radius: 50%;
  opacity: 0.5;
}

.skin-customer .products-table {
  margin-bottom: (3 * @rhythmic-unit - @border-table);
  margin-top: -9px;

  tr:first-child {
    display: none;
  }
  tr:first-child + tr > td {
    border-top: 0 none;
  }
  td {
    border-style: solid none solid;
    height: 80px;
    min-height: 80px;
  }

  td:last-of-type {
    display: none;
  }

  .product-sku {
    #rhythmless > .rhythm(@font-size-small);
    color: @color-text-dark;
  }

  .product-items-available.low-stock {
    #rhythmless > .rhythm(@font-size-small);
    display: block;
  }

  .labels,
  .product-price,
  .product-marks {
    white-space: nowrap;
    text-align: right;
  }
  .labels .label-green.market-price,
  .labels .label-green.sale-price {
    display: none;
  }
  .product-price .labels .label-green.market-price,
  .product-price .labels .label-green.sale-price {
    display: block;
  }
  .vat-note-product-price {
    #rhythmless > .rhythm(@font-size-small);
  }

  .product-add2cart {
    .regular-main-button;
    .icon-bag;

    &:focus {
      #gradient > .vertical (@button-main-gradient-start-color, @button-main-gradient-end-color);
      background-color: @button-main-gradient-start-color;
      border-color: @color-contrast;
    }

    &:before {
      line-height: (2 * @rhythmic-unit);
      font-size: @font-size-h4;
      margin-top: -@border-base;
      display: inline-block;
    }

    padding: 0;
    width: 40px;
    height: 40px;

    span {
      display: none;
    }
  }

  .not-available .product-add2cart {
    cursor: default;
    opacity: .05;

    &:hover,
    &:focus {
      #gradient > .vertical (@button-main-gradient-start-color, @button-main-gradient-end-color);
      background-color: @button-main-gradient-start-color;
      border-color: @color-contrast;
    }
  }

  a.add-to-wishlist {
    position: static;
    color: #777;
    span {
      display: none;
    }
    &:hover {
      color: @color-red;
    }
  }

  @media(max-width: @screen-xs-max) {
    table-layout: fixed;
    & td {
      padding-left: 3px;
      padding-right: 3px;
      &:first-child {
        width:1%;
      }
    }
  }
}

ul.products-grid.grid-list {
  .clearfix;
  &:extend(.clearfix all);
}

ul.products-grid.grid-list li.product-cell:hover {
  z-index: 2;
  position: relative;
}

.skin-customer ul.products-grid.grid-list li.product-cell.current {
  position: relative;
  z-index: 200;
}

.items-list-products {
  position: relative;

  #content & {
    margin-bottom: (5 * @rhythmic-unit);
  }

  @media(max-width: @screen-xs-max) {
    #content & {
      margin-bottom: (4 * @rhythmic-unit);
    }
  }

  .list-header {
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #d6d6d6;
    min-height:55px;
  }

  .sort-box {
    position: absolute;
    left: 0;
    @media(max-width: @screen-sm-max) {
      position: static;
    }
  }

  .sort-box,
  .per-page-box {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 20px;
    .per-page-label,
    .sort-by-label {
      font-weight: bold;
    }

    .sort-by-value,
    .per-page-value {
      .icon-chevron-down--right;
      line-height: 27px;
      height: 27px;
      padding: 0 10px 0 10px;
      position: relative;
      overflow: hidden;
      border: 1px solid #d6d6d6;
      background: #fff;
      display: inline-block;
      vertical-align: middle;
    }

    &:hover .display-sort,
    &:hover .display-per-page {
      display: block;
    }

    .display-sort {
      width: 120%;
    }

    .display-sort,
    .display-per-page {
      .rounded(@border-radius-base);
      .box-shadow(@dropdown-shadow);

      position: absolute;
      z-index: 111;
      background-color: #fff;
      padding: 20px 20px 10px;
      text-align: center;
      margin-top: 10px;
      margin-left: 10px;

      display: none;

      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 3px 7px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        margin-left: -7px;
        top: -3px;
      }

      li {
        text-align: left;
        margin-bottom: @rhythmic-unit;
      }

      .selected a {
        color: @color-highlight;
        cursor: default;
      }
    }
    .display-per-page {
      right:0;
    }
  }

  .per-page-box {
    margin-left: @rhythmic-unit;
  }

  .list-pager {
    position: absolute;
    top: 0px;
    right: (@grid-gutter-width / 2);
    .pagination {
      display: none;
    }

    @media(max-width: @screen-sm-max) {
      position: static;
      text-align: right;
    }

    &.list-pager-bottom {
      position: relative;
      top: 55px;
      right: auto;
      text-align: center;
      .pagination {
        display: inline-block;
      }
      .pager-items-total {
        display: none;
      }
    }
    .pager-items-total {
      padding: 10px 0;
    }
  }

  .head-h2 + .list-pager {
    top: (4 * @rhythmic-unit);
  }

  .display-mode-box {
    & > div {
      display: none;
    }

    li {
      a {
        color: #e1e0e0;
        text-align: center;
        span.text {
          display: block;
          font-size: 11px;
          line-height: 11px;
          color: #777;
        }
      }

      &.selected a
      {
        color: #777;
      }

      &:hover a {
        color: gray;
      }
    }

    .display-modes li {
      text-align: center;
      color: #777;
    }

    .display-modes li + li {
      margin-left: @rhythmic-unit;
    }

    i {
      font-size: 24px;
      line-height:20px;
      display: inline;
      vertical-align: middle;
      text-align: center;
    }
    .display-mode-label {
      font-weight: bold;
    }
  }

}
@media(min-width: @screen-md-min) {
  .two-sidebars.target-category .items-list-products {
    .list-header {
      padding-bottom: 60px;
    }
    .list-pager {
      position: absolute;
      top: 50px;
      right: 0;
    }
    .display-mode-box {
      display: inline-block;
      float: right;
    }
    .sort-box {
      position: relative;
    }
  }
}
 
.product-marks {
  & > * + * {
    margin-left: 10px;
  }

  .added-to-cart {
    display: none;
    color: @color-highlight;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    vertical-align: top;

    i {
      line-height: 20px;
      font-size: 16px;
    }
  }

  .product-added & .added-to-cart {
    display: inline-block;
  }

  .product-added & .added-to-cart,
  .product:hover & .add-to-compare label,
  .products-table & .add-to-compare input[type="checkbox"] + label {
    display: inline-block;
  }

  @media(max-width: @screen-xs-max) {
    .added-to-cart {
      position: absolute;
      top: -215px;
      right: 0;
    }

  }
  @media(max-width: @screen-xs-min) {
    .added-to-cart {
      top: -140px;
    }
  }
}

.skin-customer .product:hover .product-marks {
  & > *:hover label {
    color: @color-hover;
  }
}