/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/**
 * MINICART widgets
 */

.lc-minicart
{
  position: relative;         /* Position nested popups inside these blocks */
  cursor: pointer;
}

.lc-minicart.empty
{
  cursor: auto;
}

.lc-minicart .items-list {
  padding: 0;
  width: @minicart-width;
  right: -1px;
  left: auto;
  top: 55px;
  bottom: auto;
  z-index: 900;
  display: block;
  cursor: auto;
  border: none;
  background: #282830;
  color: #fff;
  box-shadow: none;

  @media(max-width: @screen-xs-min) {
    overflow: auto;
    max-height: 90%;
  }
  a {
    color: #fff;
    &:hover {
      color: @color-red;
    }
  }
  .other-items {
    display: none;
  }
  .cart-items {
    padding: 0px 20px;
  }

  .subtotal {
    color: @minicart-color;
    font-weight: bold;
    padding: 10px 20px 22px 20px;
    background: #303038;
    text-align: right;
    margin: 10px 0 0;

    strong {
      vertical-align: baseline;
      font-weight: 600;
      font-size: 14px;
    }

    span {
      vertical-align: baseline;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .buttons-row {
     .flex-display();
    .justify-content(space-between);
    .flex-wrap(wrap);
    padding: 10px 20px;

    & > * {
      margin-top: (@rhythmic-unit);
      text-align: center;
    }

    .reason-details {
      width: 100%;
      color: @color-text-default;
    }

    .buttons-separator {
      display: none;
    }
  }
}

.lc-minicart .title
{
  color: #fff;
  font-size: 18px;
  line-height: @rhythmic-unit;
  margin:0;
  padding:20px;
}

.lc-minicart .items-list ul,
  .lc-minicart .items-list li
{
  list-style: none;
  background: transparent none;
}

.lc-minicart .cart-item {
  min-height: (@rhythmic-unit * 3);
  margin-top: @rhythmic-unit;
  margin-bottom: @rhythmic-unit;

  .flex-display();

  .item-image {
    .align-self(center);
    width: 50px;
    height: 100%;

    img {
      max-width: 100%;
      height: auto;
      padding: 0px;
      max-height: 100%;
    }
  }

  .item-name {
    padding-left: @rhythmic-unit;
    width: (@rhythmic-unit * 9);

    & > a {
      line-height: @rhythmic-unit;
    }

    & > .item-attribute-values {
      line-height: @rhythmic-unit;
      font-size: 10px;
      text-transform: capitalize;
      color: #9ea3b7;
    }
  }

  .item-amount {
    margin-left: auto;
    color: @minicart-color;
    text-align: right;
    white-space: nowrap;
    padding-left: 20px;
  }

  .item-price {
    color: @minicart-color;
    text-align: right;
    min-width: (@rhythmic-unit * 4)
  }
}
