/*
	jQuery.mmenu CSS
*/

.skin-customer .mm-hidden {
  display: none;
}

.mm-wrapper {
  overflow-x: hidden;
  position: relative;
}

.mm-menu,
.mm-menu > .mm-panel {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

#slidebar {
  display: none;
}

#slidebar.mm-menu.mm-opened,
.mm-menu {
  background: @slidebar-bg;
  display: block;
  overflow: hidden;
  padding: 0;
}

.mm-panel {
  .transform(translate3d(100%, 0, 0));
  .transition(-webkit-transform @transitions-duration ease);

  &.mm-opened{
    .transform(translate3d(0%, 0, 0));
  }

  &.mm-subopened {
    .transform(translate3d(-30%, 0, 0));
  }

  &.mm-highest {
    z-index: 1;
  }
}


.mm-panel {
  .mm-navbar {
    display: none;
  }

  &.mm-hasnavbar .mm-navbar {
    display: block;
  }
}

.mm-menu {
  > .mm-panel {
    background: @body-bg;
    box-shadow: none;
    border-color: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 @rhythmic-unit;

    &:before,
    &:after{
      content: '';
      display: block;
      height: 20px;
    }

    > .mm-listview {
      margin: 20px -20px;
      font-weight: normal;
    }

    > .mm-listview:first-child,
    > .mm-navbar + .mm-listview{
      margin-top: 0px;
    }
  }
  .mm-listview a {
    color: @slidebar-links-color;
    &:hover {
      color: @mobile-menu-icons-hover;
    }
  }
  background: @navbar-inverse-bg;
  border-color: @slidebar-border-color;
  color: @slidebar-links-color;

  .mm-listview {
    border-color: @slidebar-border-color;
    float: none;

    > li{
      float: none;

      .mm-next:after,
      .mm-arrow:after {
        border-color: @slidebar-arrow-color;
        border-width: 1px;
        width: 10px;
        height: 10px;
      }

      &.mm-selected{
        > a:not(.mm-next),
        > span {
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .mm-navbar {
    z-index: 2;
    &:hover {
      color: @mobile-menu-icons-hover;
      .mm-prev:before {
        border-color: @mobile-menu-icons-hover;
      }
    }
    .mm-close {
      @close-button-size: 20px;
      width: @close-button-size;
      height: @close-button-size;
      border: none;
      background: transparent;
      margin: 0;
      &:last-child {
        padding-right: @close-button-size;
      }
      &:before,
      &:after {
        position: absolute;
        left: 10px;
        top: 0px;
        content: ' ';
        height: 20px;
        width: 1px;
        background-color: #5b5c59;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
      &:hover {
        &:before,
        &:after {
          background-color: @mobile-menu-icons-hover;
        }
      }
    }
    .mm-title {
      text-align: left;
      font-size: 14px;
      line-height: (@rhythmic-unit * 2);
      color: inherit;
    }
    .mm-btn:first-child {
      top: auto;
      left: 0;
      height: (@rhythmic-unit * 2);
    }
    .mm-btn:last-child {
      top: @rhythmic-unit;
      right: @rhythmic-unit;
    }
  }
}

.mm-menu {
  @mm-header-height: @rhythmic-unit * 3;

  &.first-opened {
    .mm-navbar {
      height: @mm-header-height;
      padding-top: (@mm-header-height - @rhythmic-unit);
    }
    & > .mm-panel {
      padding-top: (@mm-header-height - @rhythmic-unit);
    }
  }

  & {
    .mm-navbar {
      z-index: 2;
      height: @mm-header-height + (@rhythmic-unit * 2);
      padding-top: @mm-header-height;
    }
    & > .mm-panel {
      padding-top: @mm-header-height + @rhythmic-unit;
    }
  }
}

.additional-menu-wrapper {
  .mm-nolistview.additional-menu {
    padding: 0;
    li a{
      color: @color-text-default;
      font-size: 12px;
      font-weight: normal;
      line-height: @rhythmic-unit * 2;
      padding-right: @rhythmic-unit;
      &:before {
        display: none;
      }
      &:hover {
        color: @color-hover;
      }
    }
    .account-link-sign_in {
      padding-left: @rhythmic-unit * 2;
      margin-top: @rhythmic-unit;
    }
  }
}

.skin-customer .mm-vertical .mm-panel{
  .transform(none);
}

.mm-vertical .mm-listview .mm-panel,
.mm-listview .mm-vertical .mm-panel {
  display: none;
  padding: 10px 0 10px 10px;

  .mm-listview > li:last-child:after{
    border-color: transparent;
  }
}

.mm-vertical li.mm-opened > .mm-panel,
li.mm-vertical.mm-opened > .mm-panel {
  display: block;
}

.mm-vertical .mm-listview > li > .mm-next,
.mm-listview > li.mm-vertical > .mm-next {
  height: 40px;
  bottom: auto;

  &:after{
    top: 16px;
    bottom: auto;
  }
}

.mm-vertical .mm-listview > li.mm-opened > .mm-next:after,
.mm-listview > li.mm-vertical.mm-opened > .mm-next:after {
  .transform(rotate(45deg));
}

.mm-navbar {
  border-bottom: none;
  background: @mobile-menu-bg;
  font-size: @slidebar-header-font-size;
  font-weight: @slidebar-header-font-weight;
  text-align: center;
  line-height: @mobile-menu-height;
  height: @mobile-menu-height;
  padding: 0 40px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  > * {
    display: block;
  }

  .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .mm-btn {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    z-index: 1;

    &:first-child {
      padding-left: 20px;
      left: 0;
      height: @mobile-menu-height;
    }

    &:last-child {
      text-align: right;
      padding-right: 20px;
      right: 0;
    }
  }
}

.mm-listview{
  font: inherit;
  font-size: @slidebar-links-font-size;
  font-weight: @slidebar-links-font-weight;
  line-height: @font-size-h3;

  &,
  > li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
  }

  > li {
    position: relative;
    color: @slidebar-links-color;
    border-color: @slidebar-links-color;

    &,
    &:after,
    .mm-next,
    .mm-next:before{
      border-color: inherit;
    }

    > a,
    > span,
    .item-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      display: block;
      padding: 0px 10px 0px (@rhythmic-unit * 2);
      margin: 0;
      font-size: @slidebar-links-font-size;
      line-height: @rhythmic-unit * 2;

      &:hover {
        background-color: transparent;
        color: inherit;
      }

      &.mm-arrow{
        padding-right: 50px;
      }
    }

    &:hover {
      color: @mobile-menu-icons-hover;

      .mm-next:after {
        border-color: @mobile-menu-icons-hover;
      }

      > a,
      > span {
        background-color: transparent;
        color: inherit;
      }
    }

    &:not(.mm-divider):after {
      content: '';
      border-bottom-width: 1px;
      border-bottom-style: solid;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .mm-next {
    background: rgba(3, 2, 1, 0);
    width: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    &:before {
      content: '';
      border-left-width: 1px;
      border-left-style: solid;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }

    + a,
    + span{
      margin-right: 50px;
    }

    &.mm-fullsubopen {
      width: 100%;

      &:before {
        border-left: none;
      }

      + a,
      + span{
        padding-right: 50px;
        margin-right: 0;
      }
    }
  }

  .mm-inset {
    list-style: inside disc;
    padding: 0 10px 15px 40px;
    margin: 0;

    > li {
      padding: 5px 0;
    }
  }

  .mm-divider {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 25px;
    height: 1px;
    margin: @rhythmic-unit;
    margin-bottom: @rhythmic-unit - 1;
  }

  .mm-spacer {
    padding-top: 40px;

    > .mm-next {
      top: 40px;
    }

    &.mm-divider {
      padding-top: 25px;
    }
  }
}

.mm-prev:before,
.mm-next:after,
.mm-arrow:after {
  content: '';
  border: 2px solid transparent;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  .transform(rotate(-45deg));
}

.mm-prev:before {
  border-right: none;
  border-bottom: none;
  left: 20px;
}

.mm-next:after,
.mm-arrow:after {
  border-top: none;
  border-left: none;
  right: 28px;
}

.mm-menu .mm-navbar {
  > *,
  a {
    color: @slidebar-header-color;
  }

  .mm-btn:before,
  .mm-btn:after{
    border-color: @slidebar-back-arrow-color;
  }
}

.mm-menu.mm-vertical .mm-listview > li.mm-opened > a.mm-next,
.mm-menu.mm-vertical .mm-listview > li.mm-opened > .mm-panel,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > a.mm-next,
.mm-menu .mm-listview > li.mm-opened.mm-vertical > .mm-panel {
  background: rgba(0, 0, 0, 0.05);
}

.mm-menu .mm-divider {
  background: rgba(0, 0, 0, 0.05);
}
/*
	jQuery.mmenu offcanvas addon CSS
*/
.mm-page {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;

  overflow-x: hidden;
}

.mm-slideout {
  .transform(transform @transitions-duration ease);
}

html.mm-opened {
  overflow: hidden;
  position: relative;

  body {
    overflow: hidden;
  }
}

html.mm-background .mm-page {
  background: inherit;
}

#mm-blocker {
  background: rgba(3, 2, 1, 0.5);
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.mm-pagedim #mm-blocker,
.mm-pagedim-black #mm-blocker,
.mm-pagedim-white #mm-blocker {
  opacity:0;
}

.mm-pagedim-black.mm-opening
#mm-blocker,
.mm-pagedim-white.mm-opening #mm-blocker,
.mm-pagedim.mm-opening #mm-blocker {
  opacity:.5;
}

.mm-opened #mm-blocker,
.mm-blocking #mm-blocker {
  display: block;
}

.mm-pagedim #mm-blocker{
  background:inherit
}

.mm-pagedim-black #mm-blocker{
  background:#000
}

.mm-menu{
  &.mm-offcanvas {
    display: none;
    position: fixed;
  }

  &.mm-current {
    display: block;
  }

  width: 80%;
  min-width: 140px;
  max-width: 320px;
}

html.mm-opening .mm-slideout {
  .transform(translate(80%, 0));
}

@media all and (max-width: 175px) {
  html.mm-opening .mm-slideout {
    .transform(translate(140px, 0));
  }
}

@media all and (min-width: 550px) {
  html.mm-opening .mm-slideout {
    .transform(translate(440px, 0));
  }
}

@media (max-width: 767px) {
  .flex-container {
    .flex-display();
    .flex-wrap(wrap);
    .flex-direction(column);
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    width: 100%;
    max-width: 100%;

    #sidebar-first {
      .flex-order(2);
    }

    #content {
      .flex-order(1);
    }

    #sidebar-second {
      .flex-order(3);
    }
  }

  .skin-customer {
    #content,
    #sidebar-first,
    #sidebar-second {
      float: none;
      width: 100%;
    }
  }
}

.ie11 .mm-opened + script + .mm-page .mobile_header ul.nav-pills {
  -webkit-transition: all @transitions-duration ease-out;
  -moz-transition: all @transitions-duration ease-out;
  -ms-transition: all @transitions-duration ease-out;
  -o-transition: all @transitions-duration ease-out;
  transition: all @transitions-duration ease-out;
}

@media (min-width: 484px) {
  .ie11 .mm-opened + script + .mm-page .mobile_header ul.nav-pills {
    left: 440px;
  }
}

@media (max-width: 483px) {
  .ie11 .mm-opened + script + .mm-page .mobile_header ul.nav-pills {
    left: 80%;
  }
}

@media (max-width: 991px) {
  .target-order .sidebar {
    min-height: 0;
  }
  .target-order.skin-customer  #content {
    width: 100%;
  }
}

.mm-listview .mm-inset > li {
  padding: 0;
}

.mm-menu {
  .mm-prev:before,
  .mm-next:after,
  .mm-arrow:after {
    border-color: @slidebar-arrow-color;
    border-width: 1px;
    width: 10px;
    height: 10px;
  }
  .mm-navbar .mm-prev:before {
    border-color: @slidebar-arrow-color;
  }
}

.settings {
  .item-title .mm-next {
    position: relative;
    display: inline-block;
    height: @rhythmic-unit * 2;
    float: right;
    margin-right: -(@rhythmic-unit);
    border-color: transparent;
  }
}

#settings-panel {
  @settings-text-color: #9b9b9b;

  &:before {
    height: @rhythmic-unit * 2;
  }

  .language-button-mobile {
    display: none;
  }

  select {
    border-color: @settings-text-color;
    margin-top: 0px;
  }
  .heading {
    font-size: 14px;
    color: @settings-text-color;
  }
}

// HACKS
.mm-menu.mm-right {
  left: auto;
  right: 0;
}
html.mm-right.mm-opening .mm-slideout {
  -webkit-transform: translate3d(-80%, 0, 0);
  transform: translate3d(-80%, 0, 0);
}
@media all and (max-width: 175px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(-140px, 0, 0);
    transform: translate3d(-140px, 0, 0);
  }
}
@media all and (min-width: 550px) {
  html.mm-right.mm-opening .mm-slideout {
    -webkit-transform: translate3d(-440px, 0, 0);
    transform: translate3d(-440px, 0, 0);
  }
}
html.mm-front .skin-customer .mm-slideout {
  -webkit-transform: none;
  transform: none;
  z-index: 0;
}
html.mm-front #mm-blocker {
  z-index: 1;
}
html.mm-front .mm-menu {
  z-index: 2;
}
.mm-menu.mm-front,
.mm-menu.mm-next {
  transition: -webkit-transform @transitions-duration ease;
  transition: -webkit-transform @transitions-duration ease;
  transition: transform @transitions-duration ease;
  transition: transform @transitions-duration ease, -webkit-transform @transitions-duration ease;
  transition: transform @transitions-duration ease, -webkit-transform @transitions-duration ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.mm-menu.mm-front.mm-right,
.mm-menu.mm-next.mm-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.mm-menu.mm-top {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.mm-menu.mm-bottom {
  top: auto;
  bottom: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
html.mm-opening .mm-menu.mm-front,
html.mm-opening .mm-menu.mm-next {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mm-menu.mm-fullscreen {
  width: 100%;
  min-width: 140px;
  max-width: 10000px;
}
html.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
@media all and (max-width: 140px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(140px, 0, 0);
    transform: translate3d(140px, 0, 0);
  }
}
@media all and (min-width: 10000px) {
  html.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(10000px, 0, 0);
    transform: translate3d(10000px, 0, 0);
  }
}
html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
@media all and (max-width: 140px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(-140px, 0, 0);
    transform: translate3d(-140px, 0, 0);
  }
}
@media all and (min-width: 10000px) {
  html.mm-right.mm-opening.mm-fullscreen .mm-slideout {
    -webkit-transform: translate3d(-10000px, 0, 0);
    transform: translate3d(-10000px, 0, 0);
  }
}
.mm-menu.mm-fullscreen.mm-bottom,
.mm-menu.mm-fullscreen.mm-top {
  height: 100%;
  min-height: 140px;
  max-height: 10000px;
}
html.mm-opened.mm-fullscreen .skin-customer .mm-page {
  box-shadow: none;
}