/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * CDev\VolumeDiscounts
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */
.volume-discounts-promo .next {
    #rhythmless > .rhythm(@font-size-base + 2);
}

/**
 * CDev\Coupons
 */

.coupons form {
    .floating-label;
}

/**
 * XC\Reviews
 */

.modify-review-dialog .form-item {
    .floating-label;

    br {
        display: none;
    }

    .table-value .tooltip-main {
        left: 290px;
    }
}

.modify-review-dialog .model.form.buttons {
    margin-top: @rhythmic-unit;

    button.submit {
        min-width: 144px;
    }
}

/**
 * XC\ProductComparison
 */

table.comparison-table a.remove {
    .icon-cross;
}

table.comparison-table td.clear-list a {
    .regular-button;
    .icon-trash;

    &:before {
        margin-right: 10px;
        margin-left: -2px;
        vertical-align: top;
    }
}

/**
 * XC\Add2CartPopup
 */

.add2cart-popup {
    .item-box {
        display: block;
    }

    .item-box, .products-list-box {
        .clearfix;
    }

    .item-thumbnail {
        .flex-display();
        .align-items(center);
        .justify-content(center);

        width: 160px;
        height: 180px;

        img {
            .center-image-in-flex();
        }
    }

    .added-item-message {
        display: none;
        color: @color-highlight;

        .icon-ok-mark {
            #rhythmless > .rhythm(@font-size-small);
        }
    }

    .item-name {
        .head-h3();
    }

    .item-price {
        #rhythmless > .rhythm(@font-size-h4);

        .surcharge {
            color: @price-color;
        }
    }

    .item-buttons {
        margin-top: @rhythmic-unit;

        & > * + * {
            margin-left: @rhythmic-unit;
        }
    }

    .items-list-products {
        position: static;
    }

    .items-list .head-h2 {
        .head-h3();
        margin-top: (@rhythmic-unit * 2);
        margin-bottom: @rhythmic-unit;
    }

    ul.products-grid.grid-list {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -10px;
        li.product-cell {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.skin-customer.no-sidebars .add-to-cart-popup ul.products-grid.grid-list li.product-cell {
  .make-lg-column(4; 0);
  padding-left:15px;
  padding-right:15px;
  .product .functional-buttons .add-to-wishlist + .add-to-wishlist {
    display: none;
  }
}
a.add-to-wishlist {
  &.fa-heart {
    .common-button-add-label {
      display: none;
    }
    .common-button-added-label {
      display: inline;
    }
  }
  &.fa-heart-o {
    .common-button-add-label {
      display: inline;
    }
    .common-button-added-label {
      display: none;
    }
  }
}
/**
 * QSL\FlyoutCategoriesMenu
 */
.flyout-menu {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 80;
  &.catalog-categories > li > a > .icon-triangle {
    display: none;
  }
  &.catalog-categories > li:first-child > ul.sublevel {
    left: -15px;
  }
  li {
    background: transparent none;
    position: relative;
    display: block;
  }

  ul.sublevel {
    position: absolute;
    top: 53px;
    left: 0;
    width: 200px;
    max-width: 500px;
    min-width:200px;
    background: @top-categories-bg;
    margin:0;
    padding: 10px 17px;
    visibility: hidden;
    opacity: 0.01;
    -webkit-transition: visibility .2s, opacity .2s;
    -moz-transition: visibility .2s, opacity .2s;
    -ms-transition: visibility .2s, opacity .2s;
    -o-transition: visibility .2s, opacity .2s;
    transition: visibility .2s, opacity .2s;

    li {
      display:block;

      + li {
        border-top: 1px solid #44444b;
      }
      a {
        display: block;
        font-size: 12px;
        color: @top-categories-link-color;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;
        -o-transition: color .15s;
        -ms-transition: color .15s;
        -moz-transition: color .15s;
        -webkit-transition: color .15s;
        transition: color .15s;
        &:hover {
          color: @top-categories-link-color-hover;
        }
        &.no-wrap {
          white-space: nowrap;
          text-overflow: ellipsis;          
        }
      }

      ul {
        left:184px;
        top: -10px;
      }
    }
  }
  li:hover > ul.sublevel {
    visibility: visible;
    opacity: 0.99;
    -webkit-transition: visibility .4s, opacity .4s;
    -moz-transition: visibility .4s, opacity .4s;
    -ms-transition: visibility .4s, opacity .4s;
    -o-transition: visibility .4s, opacity .4s;
    transition: visibility .4s, opacity .4s;
    z-index: 10000;
  }

  .icon-triangle:before{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f105';
    font-weight: bold;
    font-size: 16px;
    color: @top-categories-link-color;
  }
  a > .icon-triangle {
    border-color: transparent transparent transparent @top-categories-link-color-hover;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;  
  }
}

