/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.navbar-collapse{
  padding: 0;
}

.navbar {
  border: none;
  margin-bottom: 0px;
  min-height:38px;
}

.navbar-nav {
  @media (min-width: @screen-md-min) {
    margin-left: -(@navbar-horizontal-gutter);
  }
}


//Firs level navigation

.desktop-header .navbar-collapse > .navbar-nav > li {
  margin: 0;
  background-image: none;

  & > a,
  & > span {
    text-decoration: none;
    font-size: @navbar-inverse-font-size;
    padding: 0;
    position: relative;
  }
}

.navbar-toggle {
  height: auto;
}

.navbar-inverse .navbar-nav {
  .active > a {
    &,
    &:hover,
    &:focus {
      color: @navbar-inverse-link-active-color;
      background: @navbar-inverse-link-active-bg;
    }
  }
}

.navbar-inverse {
  position: relative;
  float: left;

  .navbar-nav {
    > li > span {
      color: @navbar-inverse-link-color;
      cursor: default;

      &:hover,
      &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: @navbar-inverse-link-hover-bg;
      }
    }
    > .active > span {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .disabled > span {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
        background-color: @navbar-inverse-link-disabled-bg;
      }
    }
  }

  // Dropdowns
  .navbar-nav {
    > .open > span {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-inverse-link-active-bg;
        color: @navbar-inverse-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > li > span {
          color: @navbar-inverse-link-color;
          &:hover,
          &:focus {
            color: @navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-hover-bg;
          }
        }
        > .active > span {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-active-color;
            background-color: @navbar-inverse-link-active-bg;
          }
        }
        > .disabled > span {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-disabled-color;
            background-color: @navbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }
}


// Deeper levels
// Style rules moved from modules/CDev/SimpleCMS/css/primary_menu.css
.top-main-menu.nav.navbar-nav {
  min-height: 0;
  padding: 0;
  position: relative;
  margin:10px 16px 10px 0;
  > li {
    float: left;
    margin-right: 1px;
    text-align: center;
    padding: 0 0 0 16px;

    > a,
    > span.primary-title {
      text-decoration: none;
      font: normal 12px/18px "Roboto", sans-serif;
      color: #303038;
      padding:0;
      &:hover {
        color: #be382a;
      }
    }
  }
  li{
    ul {
      padding: 15px;
      background: #303038;
      .rounded(0);
      .box-shadow(none);
      position: absolute;
      top: 28px;
      width: 270px;
      left: 0;
      visibility: hidden;
      opacity: 0.01;
      -webkit-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      -moz-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      -ms-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      -o-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      z-index: 1000;
      min-width: 100%;

      &.tap {
        left: auto;
        visibility: visible;
        opacity: 0.99;
      }

      &.tap ul,
      ul {
        top: -14px;
        left: 256px;
      }
    }

    &:hover > ul {
      visibility: visible;
      opacity: 0.99;
      -webkit-transition: visibility @transitions-duration, opacity @transitions-duration;
      -moz-transition: visibility @transitions-duration, opacity @transitions-duration;
      -ms-transition: visibility @transitions-duration, opacity @transitions-duration;
      -o-transition: visibility @transitions-duration, opacity @transitions-duration;
      transition: visibility @transitions-duration, opacity @transitions-duration;
      z-index: 20001;
    }

  }

  li li {
    background: transparent none;
    position: relative;
    display: block;
    margin:0;
    padding: 0;
    & + li {
      border-top: 1px solid #3e3e48;
    }

    > span, a, a:hover {
      .flex-display(flex);
      .justify-content(space-between);
      overflow: hidden;
      text-decoration: none;
      white-space: nowrap;
      .transition(color @fast-transitions-duration);
    }

    > a, > span {
      line-height: 25px;
      color: #fff;
      font-weight:bold;
      padding: 5px 10px;
    }

    &.has-sub > a,
    &.has-sub > span{
      .icon-chevron-right--right();
      &:after {
        line-height: 25px;
      }
    }

    &:hover > a,
    &:hover > span{
      .transition(color @transitions-duration);
      background-color:@color-red;
      color: #ffff;
    }

    &.active > a,
    &.active > span{
      color: @navbar-sublevel-link-active-color;
      background: @navbar-sublevel-link-active-bg;
    }
  }

  @media(min-width: @screen-md) {
    > li.has-sub > a > span:after,
    > li.has-sub > span:after{
      content: "\f0d7";
      font-family: "FontAwesome";
      font-size: 13px;
      line-height: 13px;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      color: @color-red;
    }
  }

  .scrollable {
    overflow-y: scroll;
  }

}



