/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  margin: 0;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space

      #rhythmless > .rhythm(16px);
      line-height: (2 * @rhythmic-unit);
      min-width: 40px;
      padding: 0 10px;

      color: @link-color;
      background-color: transparent;
      border: none;
    }

    &.selected {
      > a,
      > span {
        line-height: (2 * @rhythmic-unit - 2 * @border-base);
      }
    }

    &:first-child {
      > a,
      > span {
        .border-left-radius(0);
        .icon-chevron-left();

        font-size: 30px;
      }
    }
    &:last-child {
      > a,
      > span {
        .border-right-radius(0);
        .icon-chevron-right();

        font-size: 30px;
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: @link-color;
      background-color: transparent;
    }
  }

  > .active > a,
  > .active > span {

    color: @link-color;
    background-color: transparent;

    &:hover,
    &:focus {
      color: @link-hover-color;
      background-color: transparent;
      cursor: pointer;
    }
  }
  
  > .selected > a,
  > .selected > span {
    
    &,
    &:hover,
    &:focus {
      color: @color-highlight;
      border: @border-base solid @color-highlight;
      .rounded(@border-radius-base);
      cursor: default;
      margin-bottom: (-2 * @border-base);
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      border: none;
    }
  }
  @media(max-width: @screen-xs-max) {
    > li {
      a, span {
        min-width: 20px;
      }
      &.selected {
        a, span {
          line-height: 20px;
          margin: -2px 0;
        }
      }

      &.next-page,
      &.previous-page {
        a,span {
          padding:0;
          &:before {
            margin:0;
          }
        }
      }
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  .pagination-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @border-radius-large);
}

// Small
.pagination-sm {
  .pagination-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @border-radius-small);
}
