.skin-customer .product-details {
  @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .primary_block .right-part {
      padding-left: 50px;
    }
  }

  @media(max-width: @screen-xs-max) {
    #breadcrumb {
      position: absolute;
      top: @rhythmic-unit;
    }

    &:before {
      display: block;
      margin-top: (2 * @rhythmic-unit);
      content: '';
    }
  }

  @media(max-width: @screen-xs-max) {
    .primary_block .left-part {
      float: none;
      width: auto;
      max-width: 480px;
      margin: 0 auto 15px;
    }
    .primary_block .right-part {
      width: 100%;
      float: none;
    }
    .primary_block .left-part .image {
      margin-bottom: (@rhythmic-unit);
      float: none;
    }

    .product-photo-box {
      margin-top: 0px;
    }
  }
  @media(max-width: @screen-xxs-max) {
    .primary_block .left-part {
      max-width: 320px;
    }
  }
  @media(min-width: @screen-lg) {
    .right-part {
      padding-left: 0;
      margin-left: -5%;
      width: 35%;
    }
  }
  .image {
    position: relative;
    overflow: visible;
    float: left;
    margin-left: 100px;
  }
  .product-image-gallery.visible-as-hidden + .image {
    margin-left: 0;
    width:100%;
    .product-photo {
      width:100%;
    }
  }
  .product-photo{
    img.zoomImg {
      background: #fff;
      z-index:100;
    }
  }

  .product-image-gallery {
    position: absolute;
    height: 595px;
    width:90px;
    left: -100px;
    top:0;

    .cycle-cloak {
      overflow: hidden;
      max-height: 595px;
    }
    @media(max-width: @screen-md-max) {
      width: 90px;
      height: 370px;
      .cycle-cloak {
        max-height: 370px;
      }
    }

    @media(max-width: @screen-sm-max) {
      width: 90px;
      height: 296px;
      .cycle-cloak {
        max-height: 296px;
      }

    }
    @media(max-width: @screen-xs-max) {
      width: 86px;
      height: 357px;
      .cycle-cloak {
        max-height: 357px;
      }
    }
    @media(max-width: 479px) {
      width: 90px;
      height: 191px;
      .cycle-cloak {
        max-height: 191px;
      }
    }

    .cycle-slideshow, .cycle-carousel-wrap, .cycle-slide {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    .product-image-gallery-navigation {
      position: absolute;
      left:0;
      top:auto;
      bottom:0;
      width: 100%;
      height: (1 * @rhythmic-unit);
      .flex-display();
      .justify-content(center);
      .align-items(center);
      background: rgba(18, 18, 18, 0.3);
      text-align: center;
      cursor: pointer;
      z-index: 1;

      color: white;
      font-family: "FontAwesome";
      font-size: 20px;
      line-height: 22px;
      &:before {
        content: '\f0d7';
      }

      &:not(.disabled):hover {
        color: #000;
      }

      &.disabled {
        opacity: .2
      }
      
    }

    #product-image-gallery-prev {
      top:0;
      bottom: auto;
      &:before {
        content: '\f0d8';
      }
    }

    li {
      display: block;
      width: 90px;
      height: 90px;
      margin-bottom: 11px;
      border: 0 none;
      @media(max-width: @screen-md-max) {
        margin-bottom: 13px;
      }
      @media(max-width: @screen-md-max) {
        margin-bottom: 3px;
      }
      @media(max-width: @screen-xs-max) {
        width: 86px;
        height: 86px;
        margin-bottom: 4px;
      }
      @media(max-width: 479px) {
        width: 90px;
        height: 90px;
        margin-bottom: 11px;
      }

      & > a {
        .flex-display();
        .justify-content(center);
        .align-items(center);
        border: 1px solid #d6d6d6;
        height: 100%;
        width:100%;
        background: #fbfbfb;
        img {
          display: block;
          width: 100% \9;
          max-width: 100%;
          max-height: 100%;
          height: auto;
          width: auto;
        }
      }

      &.selected a,
      &:hover a {
        border-color: #000;
        overflow: hidden;
      }
    }
  }

  .product-photo-box {
    margin-top: 0;
    margin-bottom: 0;

    position: relative;
  }

  .next-previous-product {
    #rhythmless > .rhythm(@font-size-small);
    margin-bottom: @rhythmic-unit/2;

    & + .product-photo-box {
      margin-top: 0;
    }

    .next-previous-link {
      display: inline-block;
    }

    i {
      line-height: @rhythmic-unit;
    }

    .next-previous-link > a {
      margin-left: 7px;
      margin-right: 7px;
    }

    .next-previous-separator {
      display: none;
    }

    @media(max-width: @screen-xs-max) {
      margin-top: @rhythmic-unit;
    }
  }

  .next-previous-dropdown {
    .rounded(0);
    .box-shadow(0 6px 6px 0 rgba(155, 154, 155, 0.5));

    width: 150px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: @rhythmic-unit;
    position: absolute;
    z-index: 11;
    display: none;
    text-align: center;

    .next-previous-price .product-price {
      #rhythmless > .rhythm(@font-size-large);

      margin-top: @rhythmic-unit;
    }

    .vat-note-product-price {
      #rhythmless > .rhythm(@font-size-small);
    }
  }

  .product-photo {
    .flex-display();
    .justify-content(center);
    .align-items(center);

    position: relative;
    padding: 5px;
    background: white;

    border: 1px solid #d6d6d6;
    overflow: visible;

    width: 595px;
    height: 595px;
    @media(max-width: @screen-md-max) {
      width: 370px;
      height: 370px;
    }

    @media(max-width: @screen-sm-max) {
      width: 296px;
      height: 296px;
    }

    @media(max-width: @screen-xs-max) {
      width: 357px;
      height: 357px;
    }
    @media(max-width: 479px) {
      width: 191px;
      height: 191px;
    }
  }

  .loupe {
    display: inline-block;
    position: absolute;
    width: 43px;
    height: 43px;
    right: 1px;
    bottom: 1px;
    z-index:101;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 100px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    svg {
      position: relative;
      display: block;
    }

    &:hover svg {
      opacity: .2;
    }
  }

  .image .labels {
    position: static;
    top: 1px;
    left: 1px;
    .new-arrival .label-main-box {
      position: absolute;
      top: -3px;
      left: -4px;
      overflow: hidden;
      height: 85px;
      width: 85px;
      text-align: center;
      .content {
        font: 700 14px/12px "Roboto", sans-serif;
        color: white;
        background: #57575e;
        text-transform: uppercase;
        padding: 9px 0 7px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
        width: 130px;
        text-align: center;
        display: block;
        position: absolute;
        left: -33px;
        top: 16px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        perspective: 1px;
        &:before {
          position: absolute;
          bottom: -3px;
          right: 5px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: #57575e transparent transparent transparent;
          content: ".";
          text-indent: -5000px;
          -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
          -o-transform: rotate(225deg);
          transform: rotate(225deg);
        }
        &:after {
          position: absolute;
          bottom: -3px;
          left: 3px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: #57575e transparent transparent transparent;
          content: ".";
          text-indent: -5000px;
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }

      }
    }
  }

  .image .product-added-note {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
  }

  .product-stock {
    display: inline-block;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 13px;
    .product-in-stock {
      color: #333;
      padding: 0;
      background: #fff;
      border: 0 none;
    }
    .product-out-of-stock {
      color: @color-red;
      padding: 0;
      background: #fff;
      border: 0 none;
    }
    .product-items-available.low-stock {
      color: #333;
    }


  }
  .share {
    margin-top: @rhythmic-unit;
    min-height: 20px;
    margin-bottom: 15px;

    & > * {
      display: inline-block;
      height: 20px;
    }

    & > script {
      display: none;
    }
  }
  .product-details-info {
    h1.title {
      padding-bottom: 20px;
      font-size: 20px;
      color: #3a3939;
      margin: -2px 0 0 0;
      font-weight: 500;
      line-height: 1.1;
    }
  }
  .brief-descr {
    margin-bottom: @rhythmic-unit;
  }

  .product-freeship-label {
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 20px 0;
    vertical-align: bottom;

    @media(max-width: @screen-xs-min) {
      margin-right: 0;
      display: block;
      margin-top: 10px;
    }
  }

  .editable-attributes {
    margin-top: @rhythmic-unit;
    margin-bottom: @rhythmic-unit;
    max-width: 366px;
  }

  .attribute-values {
    label {
      line-height: (2 * @rhythmic-unit);
      > div {
        margin-right: 20px;
      }
    }

    label.checkbox-label {
      input {
        width: @rhythmic-unit;
        height: @rhythmic-unit;
      }
    }

    input[type="radio"], input[type="checkbox"] {
      vertical-align: middle;
    }

    li {
      .floating-label;

      .form-control {
        margin-bottom: @rhythmic-unit;
      }
    }
  }

  .add-to-compare {
    display: inline-block;
    text-align: center;
    color: #777;
    line-height: 18px;
    font-size: 13px;
    vertical-align: top;
    margin-bottom:20px;

    &.product:hover {
      label {
        color: #000;
      }
    }
    .label-add-to-compare {
      display: inline-block;
    }

    .label-added-to-compare {
      display: none;
    }

    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
      left: -99999px;

      & + label {
        .icon-compare;
        cursor: pointer;
        
        &:before {
          font-size: 13px;
          margin: 0 5px 0 0;
        }
      }

      &:checked + label {
        display: inline-block;

        & + .label-add-to-compare {
          display: none;

          & + .label-added-to-compare {
            display: inline-block;
          }
        }

      }
    }
  }

  .box-info-product {
    padding:0;

    div.product-price {
      padding: 10px 0;
      margin:0;

      ul.product-price {
        display: block;
        margin:0;
        padding:0;

        > li {
          display: inline;
          margin:0;
          padding:0;
          * {
            vertical-align: baseline;
          }

          &.product-price-base {
            display: inline;
          }

          span.product-price {
            color: #f13340;
            font-size: 30px;
            font-weight: normal;
            line-height: 32px;
          } 
        }
        > li.sale-label-product-details {
          font-size: 17px;
          color: #777;
          text-decoration: line-through;
        }
        > li.sale-label-banner {
          ul.labels {
            display: inline;
            li {
              display: inline;
            }
          }
          .label-main-box .content {
            background: #fff;
            border: 0 none;
            color: #f13340;
            display: inline-block;
            font-size: 18px;
            padding: 2px 5px 3px 3px;            
          }
        }

      }
      .product-details-market-price {
        .value {
          font-size: 21px;
          text-decoration: line-through;
          display: inline-block;
          font-family: "Roboto Condensed", sans-serif;
          line-height: 23px;
          color: #A9A9A9;
        }
        ul.labels,
        ul.labels li {
          display: inline;
        }
        .labels .market-price {
          .label-main-box .content {
            display: inline-block;
            padding: 1px 2px;
            font-weight: 600;
            font-family: "Roboto Condensed", sans-serif;
            font-size: 21px;
            line-height: 23px;
            color: #f13340;
            background: transparent;
          }
        } 
      }
    }

    .product-buttons {
      margin:0;
      padding: 10px 0;

      .product-qty {
        line-height: 40px;
        vertical-align: middle;
        margin-bottom: 10px;
      }
      input.quantity {
        border: 1px solid #bdc2c9;
        border-radius: 0;
        height:36px;
        display: inline-block;
      }
      .add-button-wrapper {
        margin-bottom: 10px;
        .add2cart {
          background: transparent none;
          span {
            font: 18px / 22px 'Roboto Slab', serif;
            color: #f94c3a;
          }
          &:before {
            content: none;
          }
          &:hover {
            span {
              color: #303038;
            }
          }
        }
      }
      .pp-button button {
        padding: 0 0 10px 0;
      }

      button.add-to-wishlist {
        display:block;
        padding: 0;
        margin-bottom:20px;
        line-height: 18px;
        font-weight: 400;
        font-size: 13px;
        color: #777;
        background: transparent none;
        i {
          color: #777;
          line-height: 18px;
          font-size: 13px;
          margin: 0 5px 0 0;
        }
        span {
          color: #777;
          text-transform: none;
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          line-height: 18px;
          font-size: 13px;
        }
        &:before {
          content: none;
        }
        &:hover {
          color: #000;
          background: transparent none;
          i, span {
            color: #000;
          }
        }
      }
    }

    .box-security {
        padding: 10px 0;
    }
  }
}

.skin-customer .product-quicklook .product-details {
  .product-image-gallery {
    margin-top: 0;
    width: 78px;
    height:340px;

    @media(max-width: @screen-sm-max) {
      width: 8.3%;
    }
    .cycle-cloak {
      overflow: hidden;
      max-height:340px;
    }
    li {
      margin-bottom: 10px;
      width:60px;
      height: 60px;
      @media(max-width: @screen-sm-max) {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
      }

    }
    .product-image-gallery-navigation {
      width: 60px;

      @media(max-width: @screen-sm-max) {
        width: 50px;
      }

    }
  }

  div.image {
    margin:0;

    .product-photo {
      width: 340px;
      height: 340px;
    }

    .product-added-note {
      top: @rhythmic-unit;
    }
  }
  .product-details-info {
    margin-left: 0px;
  }

  .product-price {
    & ul.product-price > li {
      display: block;
      line-height: @rhythmic-unit;
      span.product-price {
        color: #777;
        font-size: 30px;
      }
      .labels {
        padding-top: 0;
        display: none;
      }
      &.sale-label-product-details {
        text-decoration: line-through;
      }
    }
    .product-details-market-price {
        text-decoration: line-through;
        font-size: 13px;
        color: #777;
    }
  }

  .product-more-link {
    width: 366px;
    text-align: center;
    display: inline-block;
  }

  .add-to-compare {
    display: block;
    text-align: left;
    margin-top: @rhythmic-unit;
  }
  button.pp-button {
    padding-top:2px;
  }
}

body.target-product .list-container div + .block.block-block {
  border-bottom: 1px solid #d6d6d7;
  padding-bottom: 10px;
  h3 {
    color: #303038;
    font-family: "Roboto Slab", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 14px 0px 0px;
    position: relative;
    text-transform: uppercase;
    + .content {
      margin: 0;
    }
 }
 
}