/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.tabs-top {
  border-bottom: none;

  > li {
    float: left;

    & + li {
      margin-left: (2 * @rhythmic-unit);
    }

    > a, > span {
      #rhythmless > .rhythm(@font-size-large);
      line-height: (2 * @rhythmic-unit);
      border-bottom: 1px solid transparent;
      margin-top: -1px;
      background: @tab-bg;
      color: @tab-color;

      &:hover {
        background: @tab-hover-bg;
        color: @tab-hover-color;
      }
    }

    &.active {

      > a, > span {
        &, &:hover, &:hover {
          border-color: @color-highlight;
          color: @tab-active-color;
          background: @tab-active-bg;
        }
      }
    }
  }

  @media(max-width: @screen-xs-max) {
    .clearfix;

    > li {
      float: none;
      display: block;
      padding-top: (@rhythmic-unit / 2);
      padding-bottom: (@rhythmic-unit / 2);

      & + li {
        margin-top: 0px;
        margin-left: 0px;
      }
    }
  }
}

.tabs-top-content {
  clear: both;
  padding-top: (3 * @rhythmic-unit);
  .tab-container {
    display: none;
    @media (max-width: @screen-xs-max) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  @media(max-width: @screen-xs-max) {
    padding-top: (2 * @rhythmic-unit);
  }
}

//My account page

.tabbed-content-wrapper {
  .page-tabs ul {
    .tabs-top;
  }
  .tab-content {
    .tabs-top-content;
  }
}

/* Product page */

.product-details-tabs {
  .clearfix();
  clear: both;
  border-top: 1px solid #d6d6d7;
  border-bottom: 1px solid #d6d6d7;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top: 0;
  padding-bottom: 0;
  @media(max-width: @screen-xs-max) {
    border-top: 0 none;
    border-bottom: 0 none;
  }
  div.tabs ul.tabs {
    width: 25%;
    float: left;
    >li{
      border-left: 2px solid #ffffff;
      border-bottom: 1px solid #d6d6d7;
      margin: 0;
      z-index: 2;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      position: relative;
      display: block;
      a {
        padding: 15px 19px;
        display: block;
      }
      &:hover,
      &.active {
        background: #fff;
        border-left-color: #d6d6d7;
        a {color: #000;}
      }
    }
  }
  div.tabs-container {
    float: left;
    width: 75%;
    padding: 30px 15px 0;

    @media(max-width: @screen-xs-max) {
      padding-top: 0px;
    }
  }

  div.tab-container.hacky-container:first-child{
    display: block;
  }

  @media(max-width: @screen-xs-max) {
    .panel-group {
      width: 100vw;
      min-width: 320px;
      margin-left: (-@rhythmic-unit);
      border-bottom: 1px solid @color-border;
      margin-bottom: -1px;

      .panel {
        border: none;
        box-shadow: none;

        + .panel {
          margin-top: 0;
        }

        .panel-heading {
          color: inherit;
          background-color: inherit;
          border-top: 1px solid;
          border-color: @color-border;
          border-radius: 0;
          padding: @rhythmic-unit;
          height: (3 * @rhythmic-unit);

          &:hover {
            color: @color-hover;
          }

          .panel-title {
            color: @color-link;
            &:active {
              color: @color-highlight;
            }

            a {
              .icon-plus;

              &:not(.collapsed){
                .icon-minus;
              }

              &:before {
                float: right;
                display: inline-block;
                font-size: @rhythmic-unit;
              }
            }

          }
        }

        .panel-body {
          color: inherit;
          background-color: inherit;
          border-top: none;
          border-color: @color-border;
          border-radius: 0;
          padding: @rhythmic-unit;
        }
      }
    }
  }
}


/* Secondary tabs */

div.tabs .secondary
{
  padding: 11px;
  height: 22px;
  line-height: 22px;
  a.active, span.active{
    border-style: none;
    background-color: #5296ca;
    color: white;
    padding: 3px 10px;
    .rounded(3px);
  }
  li
  {
    border-style: none;
    margin: 0 10px 0 0;
  }
}

