/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/* colors */

@color-background: #fff;
@color-contrast: #000;

@color-text-default: #808080;
@color-text-dark: #4a4a4a;

@color-link: #777777;
@color-link-2: #9ea3b7;
@color-hover: #be382a;

@color-highlight: #777777;
@color-light: #dcdcdc;

@color-border: #e2e2e2;
@color-green: #6abd0a;
@color-red: #be382a;

/* // colors */

/* color aliases */
@text-dark-color: @color-text-dark;
/* // color aliases  */

@body-bg: @color-background;
@header-bg-color: #fff;
@header-line1-bg: #f5f5f5;

@font-family-sans-serif: "Helvetica Neue",Helvetica,Arial,sans-serif;
@font-family-roboto-slab: "Roboto Slab",serif;
@line-height-base: @rhythmic-unit;
@headings-line-height: @rhythmic-unit;
@line-height-computed: @rhythmic-unit;

@screen-xxs-max: 479px;

@disabled-color: @color-light;

@text-color: @color-text-default;
@headings-color: @color-text-dark;

@headings-font-weight: normal;
@small-headings-font-weight: bold;

@brand-primary: @color-hover; // input[type="radio"]:checked, input[type="checkbox"]:checked

@link-color: @color-link;
@link-hover-color: @color-hover;

// Grid and rhythm settings
@grid-gutter-width: 42px;
@grid-gutter-width-lg: 72px;
@grid-gutter-width-md: 72px;

@container-sm: 100%;

// http://paulgb.github.io/rhythmless/
@rhythmic-unit: 20px;

@border-base: 2px; // Products, gallery, buttons, subcategory icons, .form-control, pagination border width
@border-table: 1px;
@border-radius-base: 2px;

@fast-transitions-duration: 0.2s;
@transitions-duration: 0.4s;

@header-shadow: 0 0 10px 0 rgba(74, 73, 74, 0.2);
@dropdown-shadow: 0 2px 10px 0 rgba(74, 73, 74, 0.2);


// Products list image container (div.product-photo) sizes
// width determines .product container width

@items-list-image-width: 262px; //min-width 768px
@items-list-image-height: 280px;
@items-list-image-width-sm: 200px; //max-width 767px and min-width 480
@items-list-image-height-sm: 215px;
@items-list-image-width-xs: 100%; //max-width 480px
@items-list-image-height-xs: 140px;


//Minicart
@minicart-color: #fff; //subtotal, amount & price color
@minicart-width: 400px;

/**
 * Form controls
 */
@line-height-base: 20px;
@line-height-computed: 20px;
@padding-base-vertical: 8px;
@padding-base-horizontal: 14px;
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 4);
@input-height-base-floating: (@line-height-computed * 2 + (@padding-base-vertical * 2) + 4);
@input-color: @color-text-dark;
@input-border: rgba(199, 197, 199, 0.8);
@input-border-radius: 2px;
@input-bg: @color-background;

/* Top Categories */
@top-categories-bg: #303038;
@top-categories-link-color: #ffffff;
@top-categories-link-color-hover: #f94c3a;
@top-categories-link-border-color: #434352;
@top-categories-font-family: @font-family-roboto-slab;
/**
 * Navbars
 */

@navbar-height:  @rhythmic-unit*3; //navbar height & height of header in fixed state (.affix)
@navbar-inverse-bg: @color-background;  //bg color of navbar & header in fixed state (.affix)
@navbar-horizontal-gutter: 17px;  //horizontal padding
@navbar-inverse-border: @color-border; //bottom border of header in fixed state (.affix)
@navbar-inverse-font-size: @font-size-base;
@navbar-inverse-link-color: @color-text-dark;
@navbar-inverse-link-hover-color: @color-hover;
@navbar-inverse-link-hover-bg: transparent;
@navbar-inverse-link-active-color: @color-highlight;
@navbar-inverse-link-active-bg: transparent;

//sublevels
@navbar-sublevel-bg: #ffffff;
@navbar-sublevel-link-color: @color-text-dark;
@navbar-sublevel-link-hover-color: @color-hover;
@navbar-sublevel-link-hover-bg: transparent;
@navbar-sublevel-link-active-color: @color-highlight;
@navbar-sublevel-link-active-bg: transparent;

/**
 * Tabs
 */

@tab-color: @color-link;
@tab-bg: transparent;
@tab-active-color: @color-highlight;
@tab-active-bg: transparent;
@tab-hover-color: @color-hover;
@tab-hover-bg: transparent;


/**
 * Buttons
 */
@btn-base-color: @color-contrast;
@btn-hover-color: @color-hover;

//.regular-button
@button-gradient-start-color: #57575e;
@button-gradient-end-color: #57575e;
@button-active-bg: transparent;
@btn-default-color: #fff;
@btn-font-weight: normal;
@btn-border-color: #57575e;

//.regular-main-button
@button-main-color: #ffffff;
@button-main-gradient-start-color: @btn-base-color;
@button-main-gradient-end-color: @btn-base-color;
@button-main-active-bg: @btn-hover-color;


//** Textual separator for between breadcrumb elements
@breadcrumb-separator: "\00BB";
@breadcrumb-bg: @color-background;
@breadcrumb-separator-color: @color-border;
@breadcrumb-padding-vertical: 0;
@breadcrumb-padding-horizontal: 0;

@thumbnail-border: transparent;
@base-border-color: @color-border;

//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding: 12px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding: 6px;

//** Default background color used for all tables.
@table-bg: @color-background;
//** Background color used for `.table-striped`.
@table-bg-accent: @color-background;
//** Background color used for `.table-hover`.
@table-bg-hover: @color-background;
@table-bg-active: @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color: @color-border;

@padding-large-horizontal: 20px;
@padding-small-vertical: 3px;

@base-gradient-start-color: #eef8ff;
@base-gradient-end-color: #e6f5ff;

@table-gradient-start-color: #f9f9f9;
@table-gradient-end-color: #f9f9f9;

@pagination-color: @color-link;
@pagination-bg: @color-background;
@pagination-border: #d7e1e8;

@pagination-hover-color: @link-hover-color;
@pagination-hover-bg: #ffffff;
@pagination-hover-border: @btn-border-color;

@pagination-active-color: #ffffff;
@pagination-active-bg: #5b9ece;
@pagination-active-border: #5b9ece;

@display-modes-selected-bg: transparent;
@display-modes-selected-color: #ffffff;

@display-sort-link-color: #32546e;
@display-sort-selected-link-color: #ffffff;
@display-sort-selected-link-bg: transparent;

@price-color: @color-text-dark;

// variables for the new mobile header

@mobile-menu-bg: @body-bg;
@mobile-menu-shadow: @header-shadow;
@mobile-menu-height: 60px;
@mobile-menu-icons-color: #303038;
@mobile-menu-minicart-color: #303038;
@mobile-menu-icons-bg: transparent;
@mobile-menu-icons-hover: @link-hover-color;
@mobile-menu-dropdowns-bg: #fafafa;
@mobile-menu-dropdowns-border-radius: 2px;

@mobile-menu-search-button-color: @color-red;

@slidebar-bg: #fafafa;
@slidebar-border-color: transparent;
@slidebar-arrow-color: #b2b6c6;
@slidebar-back-arrow-color: #000;
@slidebar-header-color: #000;
@slidebar-header-font-size: 16px;
@slidebar-header-font-family: @font-family-sans-serif;
@slidebar-header-font-weight: normal;
@slidebar-links-color: #777777;
@slidebar-links-font-size: @font-size-base;
@slidebar-links-font-family: @font-family-sans-serif;
@slidebar-links-font-weight: 600;

@cc-form-padding-unit: @rhythmic-unit;
@cc-form-border: @color-border;
@cc-form-border-radius: @border-radius-base;
@cc-form-border-width: @border-base;
@cc-form-background: @body-bg;
@cc-form-card-type-offset-top: 2px;
@cc-form-card-type-offset-right: 0;
@cc-form-extended-card-type-offset-top: 42px;
@cc-form-extended-card-type-offset-right: 20px;
@cc-form-expire-separator-lineheight: 39px;

@input-border: @color-border;

@state-success-text:             #3c763d;
@state-success-bg:               #87C548;
@state-success-border:           darken(@state-success-bg, 5%);

@color-rating-block: @color-highlight;

.clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
    width:0;
  }
  &:after {
    clear: both;
  }
}

.base-text-responsive() {
  font-size: @font-size-base;

  @media(max-width: @screen-xs-max) {
    font-size: @font-size-small;
  }
}
