{##
 # Category page
 #}

{% if this.getDescription() %}
    <div class="category-description">
        {% if this.category.image %}
            <div class="category-image">
                {{ widget('\\XLite\\View\\Image', image=this.category.image, maxWidth='195', maxHeight='195', centerImage='1', alt=this.category.name) }}
            </div>
        {% endif %}
        {% if this.getDescription() %}
            <div class="description">
                {% if this.isTitleVisible() and this.getTitle() %}
                    <h1 class="title" id="page-title">{{ this.getMainTitle() }}</h1>
                {% endif %}
                {{ this.getDescription()|raw }}
            </div>
        {% endif %}
    </div>
{% endif %}
