{% if not this.isWishlistClose() %}
    <a
            href="javascript:void(0);"
            title="{{ t('Add to wishlist') }}"
            data-productid="{{ this.getProduct().getProductId() }}"
            class="add-to-wishlist next-previous-assigned {% if not this.isLogged() %} log-in {% endif %} fa {% if this.isProductInWishlist(this.getProduct()) %}fa-heart{% else %}fa-heart-o{% endif %}">
        <span class="title">
        {{ t('Add to wishlist') }}
    </span>
    </a>
{% endif %}