{##
 # Subcategories list (grid style)
 #}

{% if this.getSubcategories() %}
    <ul class="subcategories-ul clearfix row">
        {% for subcategory in this.getSubcategories() %}
            {% if subcategory.hasAvailableMembership() %}
                <li class="col-sm-4 col-xs-12">
                    <a href="{{ url('category', '', {'category_id': subcategory.category_id}) }}" class="item-link">
                        <div class="img" {% if subcategory.getImage() %} style="background-image: url({{ subcategory.getImage().getWebRoot() ~ subcategory.getImage().getPath()|url_encode }}) "{% endif %}></div>
                        <span class="item-html">
                                <span class="head-h2">{{ subcategory.name }}</span>
                            </span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% for item in this.getNestedViewList('children') %}
            <li>{{ item.display() }}</li>
        {% endfor %}
    </ul>

{% endif %}



{{ widget_list('subcategories.base') }}
