/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.recently-updated-icon {
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 2px solid ;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    left: 10px;
  }
}

.header_product-comparison {
  float:right;
  padding: 8px 0 10px 20px;
  height: 38px;

  & > a {
    .icon-compare;
    position: relative;
    cursor: pointer;
    color: #777;
    &:hover {
      color: @color-red;
    }
    &:before {
      display: inline-block;
    }

    span {

      color: inherit;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &.recently-updated {
    > a {
      .recently-updated-icon;
    }
  }
}

.mobile_header-slidebar {
  &.recently-updated {
    > a {
      .recently-updated-icon;

      &:after {
        bottom: 18px;
        left: 10px;
      }
    }
  }
}

.account-link-compare {
  & > a {
    .icon-compare;
    width: 100%;
    display: block;
  }

  &.recently-updated {
    a {
      .counter {

      }
    }
  }

  .counter {

    float: right;
  }

  .mm-menu & .counter {
    padding-left: 0;
    width: 40px;
    text-align: center;
  }

  .mm-menu .additional-menu-wrapper .mm-nolistview.additional-menu & {
    a {
      padding-right: 10px;
    }
  }
}
