{##
 # Gallery widget
 #}
<script type="text/javascript">
var lightBoxImagesDir = '{{ this.getLightBoxImagesDir() }}';
</script>
<div class="product-image-gallery{% if this.isVisibleAsHidden() %} visible-as-hidden{% endif %}"{% if this.isVisibleAsHidden() %} style="display:none;"{% endif %}>
  {% if this.isInSliderMode() %}
    <div class="product-image-gallery-navigation hidden" id='product-image-gallery-prev'></div>
  {% endif %}
  <ul
    {% if this.isInSliderMode() %}
      class="cycle-cloak cycle-slideshow_"
      data-images-count="{{ this.getImagesCount() }}"
      data-cycle-fx=carousel
      data-cycle-timeout=0
      data-cycle-manual-speed="300"
      data-cycle-carousel-visible="{% if this.isQuickLook() %}5{% else %}{{ this.getMinCountForSlider() }}{% endif %}"
      data-cycle-carousel-vertical=true
      data-cycle-next="{% if this.isQuickLook() %}.product-quicklook {% endif %}#product-image-gallery-next"
      data-cycle-prev="{% if this.isQuickLook() %}.product-quicklook {% endif %}#product-image-gallery-prev"
      data-cycle-slides="> li"
      data-cycle-log=false
      data-cycle-allow-wrap=false
      data-cycle-auto-height=false
    {% endif %}
    >
    {% for i, image in this.product.getPublicImages() %}
    <li {{ this.printTagAttributes(this.getListItemClassAttribute(i, image))|raw }}>
      <a href="{{ image.getFrontURL() }}" rel="lightbox" rev="width: {{ image.getWidth() }}, height: {{ image.getHeight() }}" title="{{ image.getAlt() }}">{{ widget('\\XLite\\View\\Image', image=image, alt=this.getAlt(image, i),maxWidth=88, maxHeight=88, imageSizeType='XSThumbnail') }}</a>
      {{ widget('\\XLite\\View\\Image', className='middle', style='display: none;', image=image, alt=this.getAlt(image, i)) }}
    </li>
    {% endfor %}
  </ul>

  {% if this.isInSliderMode() %}
    <div class="product-image-gallery-navigation hidden" id='product-image-gallery-next'></div>
  {% endif %}
</div>
