{##
 # Product details image default box
 #}
<div class="product-photo">
  {{ widget('\\XLite\\Module\\TemplateMonster\\KitchenSuppliesStore\\View\\CommonImage', image=this.product.getImage(), className='photo product-thumbnail', verticalAlign='top', id='product_image_' ~ this.product.product_id, alt=this.getAlt(this.product.getImage())) }}
</div>
