{##
 # Product details image block
 #
 # @ListChild (list="product.details.page", weight="10")
 #}
<div class="primary_block row">

  <div class="left-part col-sm-6 col-md-6 col-lg-8">
     {{ widget_list('product.details.page.left_part') }}
  </div>

  <div class="right-part col-sm-6 col-md-6 col-lg-4">
    <div class="box-info-product">
      {{ widget_list('product.details.page.right_part') }}
    </div>  
  </div>

</div>
