/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

#breadcrumb
{
  display: none;
}

#main
{
  margin-top: 27px;
}

table.comparison-table td
{
  min-width: 166px;
  position: relative;
}

#compare {
  width: auto;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

table.comparison-table tr.names,
table.comparison-table tr.names td,
table.comparison-table tbody.header td,
table.comparison-table tbody.header tr
{
  border-bottom: 0;
}

table.comparison-table td:first-child
{
  border-left: 0;
}

table.comparison-table td
{
  border-top: 0;
  border-right: 0;
  overflow: hidden;
  padding: 10px 20px 9px 20px;
}

table.comparison-table tr {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

table.comparison-table
{
  position: relative;
  border: 0;
  margin-top: 12px;
  table-layout: fixed;
  max-width: 960px;
}

table.comparison-table tbody.header-fixed
{
  background: #fff;
  min-width: 960px;
  z-index: 10;
}

table.comparison-table tbody.header-fixed.sticky
{
  position: absolute;
  left: 0;
  top: 0;
}

table.comparison-table tbody.header-fixed.sticky.fixed
{
  padding-top:300px;
  margin-top:-300px;
}

table.comparison-table tbody.header-hidden
{
  display: none;
}

table.comparison-table tbody.header-hidden,
table.comparison-table tbody.header-hidden tr,
table.comparison-table tbody.header-hidden td
{
  border-top: 0;
  border-bottom: 0;
  height: 97px;
}

table.comparison-table td.clear-list a {
  font-size: 15px;
  position: relative;
}

table.comparison-table a.remove {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
}

.right-fade {
  background: transparent url(../../../../../../admin/images/right_fade.png) repeat-y right top;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
  height: 100%;
}

table.comparison-table tr.names a {
  font-size: 14px;
}

table.comparison-table tr.names td div {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

tbody.data td {
  font-size: 14px;
}

tr.prices td {
  color: #d3070c;
  font-size: 20px;
}

tbody.data tr.weight td {
  font-size: 16px;
}

table.comparison-table tbody.data td:first-child
{
  color: #7e7e7e;
  vertical-align: top;
}

table.comparison-table tbody.data td.indented span
{
  margin-left: 24px;
}

table.comparison-table tbody.data tr td.title {
  color: #222222;
  font-size: 15px;
}

table.comparison-table tbody.data tr:hover td {
  background: #f5f5f5;
}

table.comparison-table tr.buttons {
  background: #fff;
}

tr.buttons td:first-child label {
  font-size: 14px;
  margin-left: 8px;
}

tr.buttons button {
  white-space: normal;
}
tr.buttons td:first-child {
  white-space: nowrap;
}
tr.buttons td:first-child label {
  white-space: normal;
}

tr.buttons td:first-child label,
tr.buttons td:first-child input {
  vertical-align: middle;
}

.comparison-table tr.buttons td {
  font-size: 14px;
}

.comparison-table tr.buttons td form,
.comparison-table tr.images td {
  text-align: center;
}

.comparison-table tr.buttons span.out-of-stock {
  color: #8f8f8f;
}

span.three-dots {
  position: relative;
  height: 12px;
  width: 25px;
  font-size: 0;
  background: transparent url(three_dots.png) no-repeat;
  display: block;
  margin-top: 10px;
  cursor: help;
}

span.three-dots div {
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 300px;
  font-size: 14px;
  border: 1px solid #d7e1e8;
  background: #fff;
  box-shadow: 1px 1px 5px silver;
  -webkit-box-shadow: 1px 1px 5px silver;
  -moz-box-shadow: 1px 1px 5px silver;
  padding: 16px 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 9999;
}

span.three-dots:hover div {
  display: block;
}

table.comparison-table tbody.data.diff-only tr.row-hidden {
  display: none;
}
