/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Product details page styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.product-average-rating .add-review span.link,
.product-average-rating .reviews-count a,
.product-average-rating a.popup-button.popup-login {
  color: #d3070c;
  font-weight: normal;
  vertical-align: baseline;
}

.product-reviews .product-average-rating > .line {
  padding-top: 15px;
}