/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Specific styles
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2014 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */
.horizontal-flyout-menu.nav.navbar-nav {
    min-height: 0;
    padding: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    margin-left: -15px
}

.horizontal-flyout-menu.nav.navbar-nav > li {
    text-transform: uppercase;
    float: left;
    margin-right: 1px;
    text-align: center;
    margin-bottom: 1px;
}

.horizontal-flyout-menu.nav.navbar-nav > li > a,
.horizontal-flyout-menu.nav.navbar-nav > li > span.primary-title {
    display: inline-block;
    min-width: 128px;
    text-decoration: none;
    font: 100 14px/48px "Roboto Condensed", sans-serif;
    letter-spacing: 0.1em;
    color: #fff;
    padding: 0 20px;
    background: #242425
}

.horizontal-flyout-menu.nav.navbar-nav > li > a:hover,
.horizontal-flyout-menu.nav.navbar-nav > li > span.primary-title:hover {
    background: #fff;
    color: #242425
}

.horizontal-flyout-menu.nav.navbar-nav li ul {
    padding: 0;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    top: 100%;
    width: auto;
    left: 0;
    visibility: hidden;
    opacity: 0.01;
    -webkit-transition: visibility .2s, opacity .2s;
    -moz-transition: visibility .2s, opacity .2s;
    -ms-transition: visibility .2s, opacity .2s;
    -o-transition: visibility .2s, opacity .2s;
    transition: visibility .2s, opacity .2s;
    z-index: 1000;
    min-width: 100%
}

.horizontal-flyout-menu.nav.navbar-nav li ul.tap {
    left: auto;
    visibility: visible;
    opacity: 0.99
}

.horizontal-flyout-menu.nav.navbar-nav li ul.tap ul,.horizontal-flyout-menu.nav.navbar-nav li ul ul {
    top: -1px;
    left: 100%;
    left: calc(101%)
}

.horizontal-flyout-menu.nav.navbar-nav li:hover > ul {
    visibility: visible;
    opacity: 0.99;
    -webkit-transition: visibility .4s, opacity .4s;
    -moz-transition: visibility .4s, opacity .4s;
    -ms-transition: visibility .4s, opacity .4s;
    -o-transition: visibility .4s, opacity .4s;
    transition: visibility .4s, opacity .4s;
    z-index: 20001
}

.horizontal-flyout-menu.nav.navbar-nav li li {
    background: transparent none;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent
}

.horizontal-flyout-menu.nav.navbar-nav li li > span,.horizontal-flyout-menu.nav.navbar-nav li li a,.horizontal-flyout-menu.nav.navbar-nav li li a:hover {
    display: -webkit-box;
    display: -mox-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: color .2s;
    transition: color .2s;
    -webkit-transition: all color .2s ease-out;
    -moz-transition: all color .2s ease-out;
    -o-transition: all color .2s ease-out;
    transition: all color .2s ease-out
}

.horizontal-flyout-menu.nav.navbar-nav li li > a,.horizontal-flyout-menu.nav.navbar-nav li li > span {
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: #242425;
    color: #fff
}

.horizontal-flyout-menu.nav.navbar-nav li li.has-sub > a:after,.horizontal-flyout-menu.nav.navbar-nav li li.has-sub > span:after {
    font-family: 'xcartskin' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 20px;
    font-size: 16px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 0.5em;
    margin-left: 5px;
    content: "\e910"
}

.horizontal-flyout-menu.nav.navbar-nav li li.has-sub > a:after,.horizontal-flyout-menu.nav.navbar-nav li li.has-sub > span:after {
    line-height: 40px
}

.horizontal-flyout-menu.nav.navbar-nav li li:hover > a,.horizontal-flyout-menu.nav.navbar-nav li li:hover > span {
    -webkit-transition: color .4s;
    transition: color .4s;
    -webkit-transition: all color .4s ease-out;
    -moz-transition: all color .4s ease-out;
    -o-transition: all color .4s ease-out;
    transition: all color .4s ease-out;
    background-color: #fff;
    color: #242425
}

.horizontal-flyout-menu.nav.navbar-nav li li.active > a,.horizontal-flyout-menu.nav.navbar-nav li li.active > span {
    color: #777;
    background: transparent
}

@media (min-width: 992px) {
    .horizontal-flyout-menu.nav.navbar-nav > li.has-sub > a > span:after,.horizontal-flyout-menu.nav.navbar-nav > li.has-sub > span:after {
        font-family: 'xcartskin' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\e90f';
        font-size: 0.5em;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 5px
    }
}

.horizontal-flyout-menu.nav.navbar-nav .scrollable {
    overflow-y: scroll
}

.horizontal-flyout-menu ul { z-index: 1010; }
.horizontal-flyout-menu ul ul { z-index: 1020; }
.horizontal-flyout-menu ul ul ul { z-index: 1030; }
.horizontal-flyout-menu ul ul ul ul { z-index: 1040; }
.horizontal-flyout-menu ul ul ul ul ul { z-index: 1050; }
.horizontal-flyout-menu ul ul ul ul ul ul { z-index: 1060; }
.horizontal-flyout-menu ul ul ul ul ul ul ul { z-index: 1070; }
.horizontal-flyout-menu ul ul ul ul ul ul ul ul { z-index: 1080; }
.horizontal-flyout-menu ul ul ul ul ul ul ul ul ul { z-index: 1090; }

.horizontal-flyout-menu li ul ul {
    top: 0;
    left: 99%;
}
.horizontal-flyout-menu li ul ul.moved,
.horizontal-flyout-menu li ul ul.moved ul ul,
.horizontal-flyout-menu li ul ul.moved ul ul ul ul
{
    left: auto;
    right: 99%;
}
.horizontal-flyout-menu li ul,
.multicol-menu .multicol-block
{
  visibility: hidden;
  opacity: 0;
  -o-transition: visibility .15s, opacity .15s;
  -ms-transition: visibility .15s, opacity .15s;
  -moz-transition: visibility .15s, opacity .15s;
  -webkit-transition: visibility .15s, opacity .15s;
  transition: visibility .15s, opacity .15s;
}
.horizontal-flyout-menu li:hover > ul,
.multicol-menu li:hover .multicol-block,
.multicol-menu li:hover .multicol-block ul
{
  visibility: visible;
  opacity: 1;
  -o-transition: visibility .3s, opacity .3s;
  -ms-transition: visibility .3s, opacity .3s;
  -moz-transition: visibility .3s, opacity .3s;
  -webkit-transition: visibility .3s, opacity .3s;
  transition: visibility .3s, opacity .3s;
  z-index: 1000;
}

.horizontal-flyout-menu a.no-wrap:active,
.horizontal-flyout-menu a.no-wrap:link,
.horizontal-flyout-menu a.no-wrap:visited,
.horizontal-flyout-menu a.no-wrap:hover {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.horizontal-flyout-menu a.triangle:active,
.horizontal-flyout-menu a.triangle:link,
.horizontal-flyout-menu a.triangle:visited,
.horizontal-flyout-menu a.triangle:hover {

}

.skin-customer .horizontal-flyout-menu .icon-triangle {
  position: absolute;
  right: 5px;
  top: 11px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent #dfdfdf;
  -o-transition: border-color .15s;
  -ms-transition: border-color .15s;
  -moz-transition: border-color .15s;
  -webkit-transition: border-color .15s;
  transition: border-color .15s; 
  padding: 0;
}

.horizontal-flyout-menu li:hover > .icon-triangle {
  border-color: transparent transparent transparent #000;
  -o-transition: border-color .3s;
  -ms-transition: border-color .3s;
  -moz-transition: border-color .3s;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;  
}


.horizontal-flyout-menu li.cat-icon {
  position: relative;
}
.horizontal-flyout-menu li.cat-icon a:active,
.horizontal-flyout-menu li.cat-icon a:link,
.horizontal-flyout-menu li.cat-icon a:visited,
.horizontal-flyout-menu li.cat-icon a:hover {
    padding-left: 30px;
}
.horizontal-flyout-menu .category-icon,
.horizontal-flyout-menu .category-icon:hover {
  display: block;
  position: absolute;
  left: 6px;
  top: 6px;
  padding: 0;
  background: transparent none;
}
.horizontal-flyout-menu li:first-child .category-icon {
    top: 9px;
}
.horizontal-flyout-menu li:last-child .category-icon,
.horizontal-flyout-menu li:first-child .category-icon {
    padding: 0;
}
/**
 * multicolumn layout
 */
.horizontal-flyout-menu.nav.navbar-nav.multicol-menu .multicol-block {
    position: absolute;
    width: auto;
    left: 0;
    top: 100%;
    border: 0 none;
    border-radius: 0px;
    padding: 0;
}
.multicol-menu .multicol-block.moved {
    left: auto;
}
.horizontal-flyout-menu.nav.navbar-nav.multicol-menu .multicol-block ul {
    position: relative;
    float: left;
    width: 178px;
    left: 0; right: auto;
    top: 0; bottom: auto;
    border: 0 none;
    background: transparent none;
    padding: 0;
    box-shadow: none;
    min-width: 0;
}
.multicol-menu .multicol-block ul:first-child {
    padding-left: 20px;
}
.multicol-menu .multicol-block ul:last-child {
    padding-right: 20px;
}
.horizontal-flyout-menu.nav.navbar-nav.multicol-menu .multicol-block ul li {
    padding: 0;
    margin: 1px;
    border: 0 none;
}

.multicol-menu .multicol-block ul li:last-child {
    border-bottom: 0 none;
}

.horizontal-flyout-menu.nav.navbar-nav.multicol-menu ul li a,
.multicol-menu .multicol li:first-child a,
.multicol-menu .multicol li:last-child a,
.multicol-menu .multicol li a:active,
.multicol-menu .multicol li a:link,
.multicol-menu .multicol li a:visited,
.multicol-menu .multicol li a:hover {
    display: block;
    overflow: hidden;
    text-decoration: none;
    padding: 0 10px;
    white-space: normal;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}
.horizontal-flyout-menu.nav.navbar-nav.multicol-menu ul li:hover > a,
.horizontal-flyout-menu.nav.navbar-nav.multicol-menu ul li a:hover,
.multicol-menu .multicol li a:hover {
  color: #000;
  background: #fff;
  
}
.multicol-menu .multicol li a.no-wrap:active,
.multicol-menu .multicol li a.no-wrap:link,
.multicol-menu .multicol li a.no-wrap:visited,
.multicol-menu .multicol li a.no-wrap:hover {
    white-space: nowrap;
    text-overflow: ellipsis;
}
.multicol-menu .multicol-block ul li.active-trail > a {
    background-color: #000;
}

.multicol-menu .multicol li.cat-icon a {
    padding-left: 25px;
}
.multicol-menu .multicol li .category-icon {
    top: 7px;
    left: 4px;
}
/**
 * advanced multicolumn layout (2 sublevels)
 */

.multicol-menu .multicol-block.advanced-multicol > ul.multicol > li {
    border-bottom: 0 none;
}
.multicol-menu .multicol-block.advanced-multicol > ul.multicol > li > a{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.multicol-menu .multicol-block.advanced-multicol ul.multicol li:hover > a {
    background-color: transparent;
}
.multicol-menu .multicol-block.advanced-multicol ul.multicol li > a:hover {
    text-decoration: underline;
}
.multicol-menu .multicol-block.advanced-multicol > ul.multicol > li > a {
}
.multicol-menu .multicol-block.advanced-multicol ul.multicol.deepest {
    padding: 0;
    width: 100%;
    margin-bottom: 10px;
    float: none;
    border: 0 none;
    border-radius: 0;
}
.multicol-menu .multicol-block.advanced-multicol ul.multicol.deepest li {
    border-bottom: 0;
}
.multicol-menu .multicol-block.advanced-multicol ul.multicol.deepest li a {
    padding: 7px 5px;
}
.multicol-menu .multicol-block.advanced-multicol ul.multicol.deepest li.cat-icon a {
    padding-left: 25px;
}

#slidebar .category-icon {
    display: none;
}
/**
 * responsive adjust
 */
@media (max-width: 767px) {
    .horizontal-flyout-menu li ul {
        display: none;
    }
    .horizontal-flyout-menu .icon-triangle {
        visibility: hidden;
    }
}
@media (min-width: 768px) {
    .horizontal-flyout-menu li ul {width: 220px;}
}
@media (min-width: 992px) {
    .horizontal-flyout-menu li ul { width: 250px;}
}

.mobile_header .multicol-block,
.mobile_header .horizontal-flyout-menu.sublevel {
    display: none;
}

body.target-product.skin-customer .product-details .product-photo .wrapper #wrap {
    z-index: 999;
}
body.target-product #main-wrapper {
    z-index: 69;
}

body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li ul,
body.skin-TemplateMonster_KitchenSuppliesStore-customer .multicol-menu .multicol-block {
  background: #fff none;
  border-color: #fff;
  box-shadow: 0 1px 8px 1px rgba(0,0,0,0.15);
}
body.skin-TemplateMonster_KitchenSuppliesStore-customer .multicol-menu .multicol-block ul {
  box-shadow: none;
  border: 0 none;
}
body.skin-TemplateMonster_KitchenSuppliesStore-customer .multicol-menu .multicol-block.advanced-multicol > ul.multicol > li > a {
  border-bottom: 1px solid #d6d6d6;
}
body.skin-TemplateMonster_KitchenSuppliesStore-customer  #top-main-menu-with-hor-fly-cats.horizontal-flyout-menu > li:hover > a,
body.skin-TemplateMonster_KitchenSuppliesStore-customer  #top-main-menu.horizontal-flyout-menu > li:hover > a {
  background-color: transparent;
  color:#25c5df;
}

body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li li span,
body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li li a:active,
body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li li a:link,
body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li li a:visited,
body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li li a:hover {
  color: #3c476e;
}
body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li li:hover > a,
body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu li li a:hover {
  background-color: #f4fbfe;
}

body.skin-TemplateMonster_KitchenSuppliesStore-customer .horizontal-flyout-menu .icon-triangle {
  border-color: transparent transparent transparent #afafaf;
}