/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Default styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */


#secondary-menu ul {
    display: block;
    vertical-align: top;
    width: auto;
    padding-right: 0;
    box-sizing: border-box;
}

#secondary-menu > .footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-right: 0;
}
#secondary-menu .footer-menu > .leaf {
    list-style: none;
    text-align: left;
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3%;
    margin-bottom: 40px;
}
#secondary-menu .footer-menu > .leaf > a,
#secondary-menu .footer-menu > .leaf > span.footer-title {
    font: 400 18px/22px "Roboto Slab", serif;
    color: #303038;
    margin: 0 0 20px;
    text-transform: uppercase;
    display: block;
}
#secondary-menu .footer-menu > .leaf > a:hover {
    color: #be382a;
}
#secondary-menu .footer-menu .leaf ul {
    display: block;
    width: 100%;
    float: none;
    margin:0;
    padding:0;
}

#secondary-menu .leaf ul .leaf {
    display: block;
    padding: 0;
    line-height: 18px;
    padding: 10px 0;
}

#secondary-menu .leaf ul > .leaf + .leaf {
    border-top: 1px solid #d6d6d7;
}

#secondary-menu ul .leaf a,
#secondary-menu ul .leaf span.footer-title {
    text-decoration: none;
    white-space: normal;
    word-break: break-word;
    color: #ba372a;
}
#secondary-menu ul .leaf a:hover,
#secondary-menu ul .leaf span.footer-title:hover {
    color: #303038;
}
#secondary-menu ul .leaf ul .leaf ul{
    padding-left: 10px;
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    .skin-customer #secondary-menu {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #secondary-menu ul > .leaf{
        padding-left: 0;
        padding-right: 0;
    }

    #secondary-menu > .footer-menu > .leaf{
        max-width: initial;
        width: 100%;
        margin-bottom:0;
    }

    #secondary-menu > .footer-menu > .leaf + .leaf {
        margin-top: 0px;
    }

    #secondary-menu > .footer-menu {
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
}
