/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Credit card styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.mc {
    background: url(../../images/sc_types_sprite_embed.png) 0px 0px  no-repeat;
}

.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.visa {
    background: url(../../images/sc_types_sprite_embed.png) 0px -129px  no-repeat;
}

.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.amex {
    background: url(../../images/sc_types_sprite_embed.png) 0px -257px  no-repeat;
}

.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.jcb,
.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.dc,
.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.bc,
.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.sw,
.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.cup,
.cc-form-container div.content div.cardCVV2 div.icon-container div.icon.dicl {
    background: url(../../images/sc_types_sprite_embed.png) 0px -385px  no-repeat;
}