{##
 # Subcategories list (grid style)
 #}

{% if this.getSubcategories() %}
<div class="subcategories-container">
  <div class="subcategory-heading">{{ t('Subcategories') }}</div>
  <ul class="subcategory-view-icons subcategory-list grid-list clearfix">
    {% for subcategory in this.getSubcategories() %}
    {% if subcategory.hasAvailableMembership() %}
      <li>
        <a href="{{ url('category', '', {'category_id': subcategory.category_id}) }}">
          <span class="subcategory-icon" style="width:{{ this.getIconWidth() }}px; height:{{this.getIconHeight()}}px">
            {{ widget('\\XLite\\View\\Image', image=subcategory.image, maxWidth=this.getIconWidth(), maxHeight=this.getIconHeight(), centerImage='1', alt=this.getAlt(subcategory.image)) }}
          </span>
          <span class="subcategory-name" style="width:{{ this.getIconWidth() }}px;">{{ subcategory.name }}</span>
        </a>
      </li>
    {% endif %}
    {% endfor %}
    {% for item in this.getNestedViewList('children') %}
      <li>{{ item.display() }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{{ widget_list('subcategories.base') }}
