{##
 # Category page
 #}
<div class="category-description-container">
  <div class="category-description-inner-container row">
    {% if this.category.image %}
    <div class="category-image hidden-xs col-xs-12 col-sm-5 col-md-4 col-lg-3">
      {{ widget('\\XLite\\View\\Image', image=this.category.image, centerImage='1', alt=this.category.name, className='img-responsive') }}
    </div>
    {% endif %}
      
    <div class="category-descr col-xs-12 col-sm-7 col-md-8 col-lg-9">
      <span class="category-name">{{ this.category.name }}</span>
      <div class="category-description">{{ this.getDescription()|raw }}</div>
    </div>

  </div>
</div>

{% if this.isTitleVisible() %}
<h1 class="page-heading product-listing">
  <span class="cat-name">{{ this.category.name }}</span>
  <span class="heading-counter">{{ t('There are X products', {'count': this.getCategoryProductsCount(this.category.id)}) }}</span>
</h1>
{% endif %}