{##
 # Custom content parallax
 #}
<div id="htmlcontent_home" style="background-image: url(skins/TemplateMonster_KitchenSuppliesStore/customer/images/parallax/parallax.jpg);">
  <ul class="htmlcontent-home clearfix row">
    <li class="htmlcontent-item-1 col-xs-4">
      <a href="#" class="item-link" title="">
        <div class="item-html">
          <h2>Cook with pleasure
            <em>with quality products</em>
          </h2>
        </div>
      </a>
    </li>
  </ul>
</div>
