{##
 # Custom content
 #}
<div id="htmlcontent_top">
  <ul class="htmlcontent-home clearfix row">
    <li class="htmlcontent-item-1 col-xs-4">
      <a href="#" class="item-link" title="">
        <img src="skins/TemplateMonster_KitchenSuppliesStore/customer/images/banners/img-1.jpg" class="item-img" title="" alt="" width="370" height="420" />
        <div class="item-html">
          <h2>Cookware<em>Sets</em></h2>
          <p>Perfect choice for your kitchen. Sets contain everything you need for everyday cooking.</p>
          <button>Shop now!</button>
        </div>
      </a>
    </li>
    <li class="htmlcontent-item-2 col-xs-4">
      <a href="#" class="item-link" title="">
        <img src="skins/TemplateMonster_KitchenSuppliesStore/customer/images/banners/img-2.jpg" class="item-img" title="" alt="" width="370" height="420" />
        <div class="item-html">
          <h2>Fry Pans<em>&amp; Skillets</em></h2>
          <p>Cook with minimal oil. Great opportunity to make an ideal investment for your kitchen</p>
          <button>Shop now!</button>
        </div>
      </a>
    </li>
    <li class="htmlcontent-item-3 col-xs-4">
      <a href="#" class="item-link" title="">
        <img src="skins/TemplateMonster_KitchenSuppliesStore/customer/images/banners/img-3.jpg" class="item-img" title="" alt="" width="370" height="420" />
        <div class="item-html">
          <h2>Cooking<em>Utensils</em></h2>
          <p>A diverse variety of kitchen tools and gadgets to help you cook easier, faster and more pleasurable.</p>
          <button>Shop now!</button>
        </div>
      </a>
    </li>
  </ul>
</div>