{##
 # Custom content bottom
 #}
<div class="container">
<div id="tmhtmlcontent_home">
  <ul class="tmhtmlcontent-home clearfix row">
    <li class="tmhtmlcontent-item-1 col-xs-4">
      <a href="#" class="item-link" title="">
        <img src="skins/TemplateMonster_KitchenSuppliesStore/customer/images/banners/banner7.jpg" class="item-img " title="" alt="" width="570" height="291" />
        <div class="item-html">
          <h3>Roasted Clams</h3>
          <p>Nothing could be easier and tastier than this one-pan meal of tender red potatoes, anise-tinged fennel, toasty garlic and briny littleneck clams</p>
          <button>read more</button>
        </div>
      </a>
    </li>
    <li class="tmhtmlcontent-item-2 col-xs-4">
      <a href="#" class="item-link" title="">
        <img src="skins/TemplateMonster_KitchenSuppliesStore/customer/images/banners/banner8.jpg" class="item-img " title="" alt="" width="570" height="291" />
        <div class="item-html">
          <h3>Frittata with Goat Cheese</h3>
          <p>Fold your favorite seasonal ingredients into fluffy eggs for a meal in a skillet.</p>
          <button>read more</button>
        </div>
      </a>
    </li>
  </ul>
</div>
</div>