{##
 # Top homepage banners + custom section
 #
 # @ListChild (list="layout.main", weight="350")
 #}
{% if this.getTarget() == 'main' %}
<div class="welcome-top-banners">
  <div class="container">
    {{ widget_list('layout.main.welcome.top') }}
  </div>
</div>
{% endif %}