{##
 # Custom content middle
 #}
<div id="tmhtmlcontent_topColumn">
  <ul class="tmhtmlcontent-topColumn clearfix row">
    <li class="tmhtmlcontent-item-1 col-xs-4">
      <a href="#" class="item-link" title="">
        <div class="item-html">
          <h2>Clearance</h2>
          <h3>SAve 50%</h3>
          <p>Simply add specially marked items to your cart to receive an automatic 50% discount!</p>
        </div>
      </a>
    </li>
    <li class="tmhtmlcontent-item-2 col-xs-4">
      <div class="item-html">
        <div>
          <h3>Call us now toll free:</h3>
          <h2><a href="tel:+0123-456-789">0123-456-789</a></h2>
          <p>Call us today for new customer<br>promotions!</p>
        </div>
      </div>
    </li>
    <li class="tmhtmlcontent-item-3 col-xs-4">
      <a href="#" class="item-link" title="">
        <div class="item-html">
          <h2>Free</h2>
          <h3>Shipping</h3>
          <p>On orders of $99 and more.<br>
            This order is valid on all our store items
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>