{##
 # @ListChild (list="center.bottom", weight="300")
 #}

<div id="modules_tabs">
    <div class="ui top attached tabular menu">
        {{ widget_list('modules.tabs.head') }}
    </div>
    {{ widget_list('modules.tabs.content') }}
</div>