{##
 #
 #}
<div class="wishlist-send-mail-form">
  {{ this.displayCommentedData( {'wishlist_id' : this.getWishlist().getId()} ) }}
  <input type="email" name="wishlist_email" placeholder="{{ t('E-mail') }}" class="email-element form-control validate[required,custom[email]]" />
  <button class="regular-button regular-main-button"><span>{{ t('Send wishlist') }}</span></button>
  <div class="check sent icon-ok-mark hidden"></div>
  <div class="check not-sent hidden"></div>
</div>
