{##
 # Header bar
 #
 # @ListChild (list="layout.header.line1", weight="110")
 #}

{% if this.isLogged() %}

  <div class="dropdown header_bar-my_account">
    <a data-toggle="dropdown" data-target="#">{{ t('My account') }}</a>
    <ul class="account-links dropdown-menu">
      {{ widget_list('layout.header.bar.links.logged') }}
    </ul>
  </div>

{% else %}

  <div class="header_bar-sign_in">
    {{ widget('XLite\\View\\Button\\PopupLogin', label='Sign in / sign up') }}
  </div>

{% endif %}
