{##
 # Header bar
 #
 # @ListChild (list="layout.header", weight="100")
 #}
{% if not this.isCheckoutLayout() %}
<div class="line1">
  <div class="container cleaerfix">
    {{ widget_list('layout.header.line1') }}
  </div>
</div>
{% endif %}