{##
 # Top menu container
 #
 # ListChild (list="layout.main", weight="250")
 #}

{% if not this.isCheckoutLayout() %}
<div class="navbar navbar-inverse mobile-hidden " role="navigation">
  {{ widget_list('header.menu') }}
  {{ widget_list('header.menu.after') }}
</div>
{% endif %}