/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

#breadcrumb{
  .container();
}
.breadcrumb {
  font-size:0;
  padding: @rhythmic-unit 0 0;
  margin-left: -@grid-gutter-width/2;
  margin-bottom: 0;
  @media(max-width: @screen-sm-max){
  margin-left:0;
}
  > li {
    #rhythmless > .rhythm(@font-size-small);
    border: @border-base solid @color-border;
    margin: -1px -1px 0 0;
    padding: 0 @rhythmic-unit/2;
    color: @color-text-default;
    font-weight:500;

    + li:before {
      display: none;
    }
    &.last{
      background: #f5f5f5;
    }
    .home-link{
      color: @color-contrast;
      span{
        font-size: 16px;
        line-height: @rhythmic-unit;
      }
    }
  }
}
