/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.skin-customer .subscription-block {
  padding: (@rhythmic-unit * 2) 0;
  background-color: @color-black;
  box-shadow: inset 0 10px 30px -10px rgba(0, 0, 0, 0.5);

  .flex-display();
  .align-items(center);
  .justify-content(center);
  color: @color-background;

  button {
    .regular-inverted-button;
    display: inline-block;
  }

  .subscription-form-label {
    .h4;
    display: block;
    margin-right: 0;
    margin-bottom: @rhythmic-unit;
  }
}

body.target-checkout,
body.target-checkoutPayment {
  #footer-area {
    display: none;
  }
}

.skin-customer #footer-area {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 78px;
  padding-left: 0;
  padding-right: 0;
  background: @color-contrast;
  color: @color-link-2;

  a{
    color: @color-link-2;
    &:hover{
      color: @color-red;
    }
  }

  .container {
    padding-top: (@rhythmic-unit * 4 - 1);
    padding-left: 0;
    padding-right: 0;
  }

  h4{
    font: 700 18px/22px 'Play', sans-serif;
    text-transform: uppercase;
    color: @color-light;
  }

  &:before {
    border-top: 1px solid @color-border;
    content: '';
    display: block;
  }

  .footer_contacts {
    text-transform: uppercase;
    font: 300 12px/15px 'Ubuntu', sans-serif;

    li{
      font: 300 12px/15px 'Ubuntu', sans-serif;
    }

    a{
      color: @color-light;
      &:hover{
        color: @color-red;
      }
    }
    .make-sm-column(12; 0);
    .make-md-column(4; 0);
    @media(min-width: @screen-md-min) {
      padding-right: (@rhythmic-unit * 2);
    }

    @media(max-width: @screen-sm-max) {
      margin-bottom: (@rhythmic-unit * 2);
    }
  }

  #secondary-menu {
    @media(max-width: @screen-sm-max) {
      clear: both;
    }

    @media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      margin-left: (-@rhythmic-unit);
    }

    @media(min-width: @screen-sm-min) {
      .footer-menu > .leaf > .collapser {
        display: none;
      }

      .footer-menu > .leaf > ul.collapse {
        height: auto;
      }
    }

    @media(max-width: @screen-xs-max) {
      .footer-menu > .leaf > a {
        display: inline-block;
      }

      .footer-menu > .leaf > .collapser {
        float: right;
        display: inline-block;

        &.trigger-hide {
          .icon-minus;
          &:before{
            font-size: 20px;
            display: block;
          }
        }

        &.trigger-show {
          .icon-plus;
          &:before{
            font-size: 20px;
            display: block;
          }
        }
      }

      .footer-menu > .leaf > ul.collapse:not(.in) {
        display: none;
      }
    }

    .footer-menu > .leaf{
      > a, > span{
        &:before{
          display: none;
        }
      }
      margin-bottom: @rhythmic-unit;
    }
    ul .leaf{
      > a, > span{
        &:before{
          .fa();
          content: '\f105';
          vertical-align: middle;
          margin-right: 10px;
          font-size: 9px;
        }
      }
    }
  }

  #footer {
    &:before {
      border-top: 1px solid @color-link-2;
      content: '';
      display: block;

      margin-top: (@rhythmic-unit * 3 - 1);
      margin-bottom: (@rhythmic-unit * 1);
    }
  }

  @media(max-width: @screen-sm-max) {
    .container {
      padding-left: (@rhythmic-unit);
      padding-right: (@rhythmic-unit);
    }
  }
}

.powered-by {
  #rhythmless > .rhythm(@font-size-small);
  margin-bottom: (@rhythmic-unit * 2);

  & > * {
    font: 300 12px/15px 'Ubuntu', sans-serif;
    text-transform: uppercase;
    display: inline-block;
  }
}

@media(max-width: @screen-xs-max) {
  .skin-customer #page {
    padding-bottom: 0;
  }
  #footer-area {
    position: relative;
  }
}
