/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

#name-and-slogan
{
  display: table-cell;
  vertical-align: middle;
}

#logo, .company-logo {
  .make-md-column(3; 0);
  z-index: 2;
  display: block;
  text-align: left;
  position: relative;
  vertical-align: middle;

  img {
    .fast-transitions;
    padding: 0px;
    max-height: (@rhythmic-unit * 2);
  }

  @media(min-width: @screen-md-min) {
    .flex-display();
    .align-items(center);
    height: 100px;
  }
}

.header-right-bar {
  .flex-display();
  .align-items(center);
  float: right;
  width: auto;
  height: @rhythmic-unit*3;
  @media(min-width: @screen-md){
    padding: 0 40px 0 0;
    height: @header-bar-height;
  }

  & > * {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;

    &:not(.disabled) > a {
      cursor: pointer;
      color: @navbar-inverse-link-color;

      &:hover {
        color: @navbar-inverse-link-hover-color;
      }
    }

    &.disabled > a {
      cursor: default;
      color: @color-light;
    }
  }

  .header_settings {
    display: none;
  }

  .header_search {
    display: none;
  }

  .block {
    height: 100%;
    border: none;

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .content{
      vertical-align: middle;
      display: inline-block;
      background: none;
      border: none;
    }
  }

  .lc-minicart {
    .icon-bag;
    color: @navbar-inverse-link-color;

    &:before {
      display: inline-block;
      color: @color-red;
    }
    &:not(.empty):hover{
      color: @navbar-inverse-link-color;
      &:before{
        color: @navbar-inverse-link-color;
      }
    }


    .minicart-items-text,
    .minicart-items-number {
      line-height: @rhythmic-unit;
      color: inherit;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

#header-area {
  .clearfix;
  position: relative;
  margin: 0;
  z-index: 20000;
  .desktop-header {
    .transitions;
    .hidden-xs;
    .hidden-sm;
    padding-top: 0;
    border-top: @header-bar-height solid rgba(0, 0, 0, 0.6);
    background: @header-bg-color;
    position: fixed;
    width: 100%;
    left: 0%;
    border-bottom: none;

    .container {
      padding: 0px;
      .flex-display();
      .flex-wrap(wrap);
      .justify-content(space-between);
      .align-items(center);
    }

    .header-break {
      .clearfix;
    }

    ul.account-links li.wishlist-link {
      i{
        display: none;
      }
      .wishlist-label{
        display: inline-block !important;
      }
    }

    &.affix{
      padding-top: 0;
      border-bottom-color: @navbar-inverse-border;
      box-shadow: @header-shadow;
      background: rgba(35, 35, 35, 0.95);
      margin-top: -@header-bar-height;

      #header-bar {
        display: none;
      }

      .header-break {
        display: none;
      }
      #search,
      #logo, .company-logo {
        height:0;
        width: 0;
        .simple-search-product-form{
          opacity: 0;
        }
        img {
          max-width: 100%;
          padding-top: (@rhythmic-unit / 2);
          padding-bottom: (@rhythmic-unit / 2);
          padding-right: @navbar-horizontal-gutter;
        }
      }

      .header-right-bar {
        & > * {
          display: none;
        }

        .header_search {
          display: inline-block;
        }

        .header_settings {
          display: inline-block;
        }

        .lc-minicart {
          display: inline-block;
        }
      }
      .navbar{
        border:none;
      }

      .navbar-nav {
        margin-left: 0;
      }
    }
  }

  .mobile_header {
      .hidden-md;
      .hidden-lg;
      .simple-search-product-form .simple-search-box > .table-value {
        height: (@rhythmic-unit * 2.5);
      }
  }

  &:after {
    .clearfix;
    margin-top: 216px;

    @media(max-width: @screen-sm-max) {
      margin-top: 80px;
    }
  }
}

body.target-checkout {
  #header-area {
    @media(min-width: @screen-md-min) {
      .desktop-header:not(.affix) {
        padding-bottom: @rhythmic-unit;
      }
    }

    &:after {
      margin-top: 150px;
      @media(max-width: @screen-sm-max){
        margin-top: 80px;
      }
    }
  }
}

// Search box

.header_search {
  width:16px;
  position: relative;

  & > a {
    .icon-search;
  }

  .header_search-panel {
    z-index: 1;
    position: absolute;
    bottom: -16px;
    margin-left: -191px;
    background-color: transparent;
    box-shadow: none;
  }
}

@media(max-width: @screen-xs-min) {
  .header_search .header_search-panel {
    position: fixed;
    left: 0;
    margin-left: 0px;
    top: 4px;
    right: 0;
    height: 40px;

    .simple-search-box {
      padding-left: 20px;
      padding-right: 20px;
      background: #2d2d2d;
      border:none;
    }

    .simple-search-box .table-value {
      width: 100%;
      .input-field-wrapper {
        width: 98%;
        input {
          width: 100%;
          background: transparent;
        }
      }
    }
  }
}

.simple-search-product-form {
  position: relative;
}

.simple-search-box {
  .flex-display();
  border: 1px solid #5b565a;
  cursor: text;
  background: rgba(35, 35, 35, 0.4);

  &.focus {
    border-color: @navbar-inverse-link-color;

    & input[type="text"] {
      color: @navbar-inverse-link-color;
      text-shadow: 0 0 1px fade(@color-highlight, 10%);
    }

    button[type="submit"] {
      color: @navbar-inverse-link-color;
      text-shadow: 0 0 1px fade(@color-highlight, 10%);
    }
  }

  & > .table-value {
    .flex-order(1);
    width: 190px;
    padding-left: 10px;
    height: 30px;
    text-align: left;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .input-field-wrapper {
      vertical-align: middle;
      display: inline-block;
      width: 95%;
    }

    input[type="text"] {
      border: none;
      outline: none;
      line-height: normal;
      background: transparent;
    }
  }

  & > button[type="submit"] {
    .icon-search;
    .flex-order(2);
    background: transparent none;

    border: none;
    padding: 0px;
    color: @navbar-inverse-link-color;
    line-height: normal;
    margin-right: .5em;
    font-size:14px;

    &:hover {
      color: @color-red;
      background: transparent none;
    }

    span {
      display: none;
    }
  }
}

// header top right bar

#header-bar {
  .flex-display();
  .align-items(center);
  .justify-content(flex-end);
  height: @header-bar-height;
  margin-top: -@header-bar-height;
  width: 100%;

  & > * + * {
    margin-left: 4px;
  }

  & > .account-links {
    .mobile-hidden;
    display: inline-block;
  }

  & > #search {
    height: (@rhythmic-unit * 2);
    display: inline-block;
  }

  .header_bar-my_account {
    height: 36px;
    background: @header-element-bg;
    padding: 0 10px;
    .flex-display();
    .align-items(center);

    &:hover{
      background: @color-red;
    }


    & > a {
      .icon-chevron-down--right;
      cursor: pointer;
      color: @navbar-inverse-link-color;
      &:hover{
        color: @navbar-inverse-link-color;
      }
    }

    .account-links.dropdown-menu{
      .xcart-dropdown;
      height: auto;
      left: auto;
      right: 0;

      li > a {
        height: (@rhythmic-unit);
        &:before {
          margin-right: 10px;
          color: @color-link;
          display: inline-block;
          text-align: center;
          width: @rhythmic-unit;
        }

        &:hover:before {
          color: @link-hover-color;
        }

        &.wishlist-link{
          &:before{
            .fa();
            content: "\f08a";
            font-weight: bold;
          }
        }
      }
    }
  }

  .header_bar-locale {
    & > a {
      .icon-chevron-down--right;
      cursor: pointer;
      height: 36px;
      display: flex;
      color: @navbar-inverse-link-color;
      padding: 0 10px;
      align-items: center;
      background: @header-element-bg;

      &:hover{
        background: @color-red;
        color: @navbar-inverse-link-color;
      }

      span + span {
        margin-left: 8px;
      }
      .country-indicator + span {
        &:before {
          color: @color-border;
          content: '|';
          margin-right: 8px;
          display: inline-block;
          vertical-align: text-bottom;
        }
      }

      .language-indicator {
        text-transform: uppercase;
      }

      .language-indicator + span {
        &:before {
          color: @color-border;
          content: '\2013';
          margin-right: 8px;
          display: inline-block;
          vertical-align: text-bottom;
        }
      }
    }

    .dropdown-menu {
      .xcart-dropdown;
      left: auto;
      right: 0;
      text-align: left;

      select {
        height: (@rhythmic-unit * 2);
      }
    }
  }

  .header_bar-sign_in {
    margin-left: 4px;
    button.regular-button{
      color: @navbar-inverse-link-color;
      background: @header-element-bg;
      border: none;
      span{
        color: @navbar-inverse-link-color;
      }
      &:hover{
        background: @color-red;
      }
    }
  }
}

.locale_language-selector {
  min-width: 220px;
  .clear {
    .clearfix;
  }
  .table-label, .star {
    display: none;
  }
  .input-group + .input-group {
    margin-top: (@rhythmic-unit / 2);
  }

  .input-group, .table-value, .input-field-wrapper {
    width: 100%;
  }

  .group {
    line-height: @rhythmic-unit;
    .clearfix;

    .heading {
      margin-bottom: (@rhythmic-unit / 2);
    }
  }

  .group + .group {
    margin-top: @rhythmic-unit;
  }

  button {
    width: 100%;
  }
}
