.products .products-grid,
.products .products-list {
  margin-bottom: 0;
  margin-top: (3 * @rhythmic-unit)/2;

  .product {
    background-color: @color-background;
    position: relative;

    @media(min-width: @screen-md) {
      &:not(.prevent-hover):hover, &.touched, &.ui-draggable-dragging {
        .quicklook {
          display: block;
        }
      }
    }
  }

  .product-photo {
    max-width: 100%;
    width: @items-list-image-width;
    height: @items-list-image-height;
    margin-bottom: @rhythmic-unit/2;
    @media(max-width: @screen-xs-max) {
      width: @items-list-image-width-sm;
      height: @items-list-image-height-sm;
      margin-bottom: @rhythmic-unit;
    }
    @media(max-width: @screen-xs) {
      width: @items-list-image-width-xs;
      height: @items-list-image-height-xs;
    }
    position: relative;

    a {
      .flex-display();
      .justify-content(center);
      .align-items(center);

      width: 100%;
      height: 100%;
      text-align: center;
      transition: opacity .1s ease-in;

      img {
        .center-image-in-flex();
      }
    }
  }

  .quicklook {
    .transform(translate(-50%,-50%););

    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    background: transparent;

    button {
      border: none;
      background: rgba(0, 0, 0, 0.8);
      span{
        color: #ffffff;
        text-transform: uppercase;
        font-weight:800;
      }
      &:hover{
        background: fade(@color-red, 80%);
        span{
          color: #ffffff;
          text-transform: uppercase;
          font-weight:800;
        }
      }

    }
  }

  .labels {
    position: absolute;
    top: @rhythmic-unit;
    left: -@border-base;

    transition: opacity .1s ease-in;
  }

  .product-marks {
    position: absolute;
    top: @rhythmic-unit;
    right: @rhythmic-unit;
  }

  @media(max-width: @screen-xs-max) {
    .labels {
      top: 0;
    }

    .product-marks {
      top: 215px;
      right: 0;
      width: 100%;
      text-align: center;
    }
  }

  @media(max-width: @screen-xs-min) {
    .product-marks {
      top: 140px;
    }
  }

  //div.product-average-rating{
  //  margin-bottom: @rhythmic-unit;
  //  white-space: nowrap;
  //  div.rating{
  //    vertical-align: middle;
  //  }
  //  .separator{
  //    vertical-align: middle;
  //  }
  //}
  ul.product-price {
    span.product-price {
      font: 600 24px / 26px 'Ubuntu', sans-serif;
      color: @color-contrast;
    }
  }

  .product-tail{
    .flex-display();
    .justify-content(space-around);
    margin:@rhythmic-unit 0 -@rhythmic-unit;
    box-shadow: inset 0 14px 10px -10px rgba(0,0,0,0.15);
    width:100%;
    text-align: center;

    .add-to-compare{
      .product-marks .add-to-compare();
      padding:@rhythmic-unit/2 5px;
      display: inline-block;
      label{
        font-weight: 500;
        font-size: 13px;
        color: @link-color;
        &:before{
          margin: 0 5px 0 0;
        }
      }
    }
  }

}

// Products grid
.products-grid {
  .product-cell {
    .flex-display();
    .justify-content(center);
    margin-bottom: @rhythmic-unit;
    @media(min-width: @screen-sm) {
      margin-bottom: (2 * @rhythmic-unit);
    }
    @media(max-width: @screen-xs-max){
      margin-bottom: @rhythmic-unit;
    }
  }
  .product {
    width: @items-list-image-width;
    @media(max-width: @screen-xs-max) {
      width: @items-list-image-width-sm;
    }
    @media(max-width: @screen-sm-max) {
      width: @items-list-image-width-xs;
    }

    background-color: @color-background;
    padding-bottom: @rhythmic-unit;
    border: @border-base solid @color-border-2;
    margin: -@border-base;
    position: relative;
    transition: border .1s ease-in;

    .rounded(@border-radius-base);
    .flex-display();
    .flex-direction(column);
    .align-items(center);

    &.drag-owner {
      opacity: .2;
    }
  }

  .add-to-cart-button {
    position: relative;
    left: auto;
    top: auto;
    z-index: 100;
    background: transparent;

    button {
      .regular-main-button;
      text-transform: uppercase;
      font-size:10px;
      &:before{
        .fa();
        content: "\f07a";
        margin: 0 5px 0 0;
        font-size: 13px;
      }
    }
  }

  //.product-average-rating {
  //  .separator,
  //  .separator + .link-to-tab {
  //    display: none;
  //  }
  //  .separator{
  //    vertical-align: middle;
  //  }
  //}

  //.reviews-count {
  //  #rhythmless > .rhythm(@font-size-small);
  //  line-height: (2 * @rhythmic-unit);
  //}

  .product-items-available.low-stock {
    margin-bottom: @rhythmic-unit;
    font-weight: 400;
  }

  .product-name {
    width: 100%;
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
    @media(max-width: @screen-xs-max) {
      padding-left: @grid-gutter-width/8;
      padding-right: @grid-gutter-width/8;
    }
    text-align: center;
    .flex-grow(1);
  }

  ul.product-price {
    margin-top: 0;
    margin-bottom: @rhythmic-unit/2;
    text-align: center;
    span.product-price {
      font: 600 24px / 26px 'Ubuntu', sans-serif;
      color: @color-contrast;
    }

    .vat-note-product-price {
      #rhythmless > .rhythm(@font-size-small);
    }
  }
}


// Products list
.skin-customer .products-list {
  .product-cell {
    margin-bottom: @rhythmic-unit*2;
  }

  .product {
    .flex-display();
    border: 1px solid @color-border-2;
    padding: @rhythmic-unit;
  }

  .product-photo {
    min-width: @items-list-image-width;
    margin-right: @grid-gutter-width;
  }

  .product-name {
    margin-bottom: @rhythmic-unit;
  }

  .description {
    margin-bottom: @rhythmic-unit;
  }

  .product-info > .product-price {
    margin-bottom: @rhythmic-unit;

    li {
      display: inline-block;
      margin-right: 10px;
    }

    .vat-price {
      line-height: (2 * @rhythmic-unit);
    }
  }
  ul.product-price{
    margin-top:@rhythmic-unit/2;
  }
  span.product-price {
    #rhythmless > .rhythm(@font-size-h2);
  }

  .product-tail{
    border:1px solid @color-border-2;
    border-top: none;
    margin:0;
  }

  .add-to-cart-button{
    margin:0 @rhythmic-unit @rhythmic-unit 0;
  }
}


//Products table
.product-table-representation {
  .flex-display();
  .align-items(center);
  .justify-content(center);
  .icon-bag;

  &:before {
    font-size: @font-size-h4;
    display: inline-block;
  }

  padding: 0;
  text-align: center;
  width: 32px;
  height: 32px;
  color: @color-background;
  background: @color-contrast;
  border-radius: 50%;
  opacity: 0.5;
}

div.products{
  .products-table,
  .products-list,
  .products-grid{
    a.add-to-wishlist{
      z-index: auto;
      line-height: @rhythmic-unit;
      position: relative;
      text-align: center;
      bottom:auto;
      font-weight: 500;
      font-size: 13px;
      right:auto;
      padding:@rhythmic-unit/2 5px;
      color: @link-color;
      span{
        vertical-align: middle;
        font-weight: bold;
        font-size:14px;
        &.title{
          font-family: 'Ubuntu', sans-serif;
        }
      }
      &:hover{
        color: @link-hover-color;
      }
    }
  }
}

div.products .products-table {
  margin-bottom: (3 * @rhythmic-unit - @border-table);

  a.add-to-wishlist{
    span{
      display: none;
    }
  }

  tr:first-child {
    display: none;
  }
  tr:nth-of-type(2) {
    td{
      border-top: none;
    }
  }

  td {
    border-style: solid none solid;
    height: 80px;
    min-height: 80px;
  }

  td:nth-child(2) {
    width: 100%;
  }
  @media(max-width: @screen-sm-max){
    td:nth-child(3) {
      display: none;
    }
  }
  @media(max-width: @screen-xxs-max){
    td{
      padding-left: 5px;
      padding-right: 5px;
      &:first-of-type {
        display: none;
      }
    }
  }


  td:last-of-type {
    display: none;
  }

  .product-sku {
    #rhythmless > .rhythm(@font-size-small);
    color: @color-text-dark;
  }

  .product-items-available.low-stock {
    #rhythmless > .rhythm(@font-size-small);
    display: block;
  }

  .labels,
  .product-price,
  .product-marks {
    white-space: nowrap;
    text-align: right;
  }

  .vat-note-product-price {
    #rhythmless > .rhythm(@font-size-small);
  }

  .product-add2cart {
    .regular-main-button;
    .icon-bag;

    &:focus {
      #gradient > .vertical (@button-main-gradient-start-color, @button-main-gradient-end-color);
      background-color: @button-main-gradient-start-color;
      border-color: @color-contrast;
    }

    &:before {
      line-height: (2 * @rhythmic-unit);
      font-size: @font-size-h4;
      margin-top: -@border-base;
      display: inline-block;
    }

    padding: 0;
    width: 40px;
    height: 40px;

    span {
      display: none;
    }
  }

  .not-available .product-add2cart {
    cursor: default;
    opacity: .05;

    &:hover,
    &:focus {
      #gradient > .vertical (@button-main-gradient-start-color, @button-main-gradient-end-color);
      background-color: @button-main-gradient-start-color;
      border-color: @color-contrast;
    }
  }
}

ul.products-grid.grid-list {
  .clearfix;
  &:extend(.clearfix all);
}

ul.products-grid.grid-list li.product-cell:hover {
  z-index: 2;
  position: relative;
}

.skin-customer ul.products-grid.grid-list li.product-cell.current {
  position: relative;
  z-index: 200;
}

.items-list-products {
  position: relative;

  .list-header {
    padding-bottom: (3 * @rhythmic-unit)/2;
    border-bottom: 1px solid @color-border;
    margin-bottom: 0;
    @media(max-width: @screen-xs-max){
      padding-bottom: 0;
      min-height: @rhythmic-unit*3;
    }
  }

  .sort-box {
    position: absolute;
    left: 0;
  }

  .sort-box,
  .per-page-box {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 20px;

    .sort-by-value,
    .per-page-value {
      .icon-chevron-down--right;
      color: @link-color;
      font-weight: 400;
      border: 1px solid @color-border;
      padding: 5px;
    }

    .per-page-label,
    .sort-by-label{
      margin-right:5px;
      font-weight:500;
      color: @color-text-dark;
    }

    &:hover .display-sort,
    &:hover .display-per-page {
      display: block;
    }

    .display-sort {
      width: 120%;
    }

    .display-sort,
    .display-per-page {
      .rounded(@border-radius-base);
      .box-shadow(@dropdown-shadow);

      position: absolute;
      right: -@rhythmic-unit/2;
      z-index: 1;
      background-color: #fff;
      padding: 20px 20px 10px;
      text-align: center;
      margin-top: 10px;
      margin-left: 10px;

      display: none;

      &:before {
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 3px 7px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        margin-left: -7px;
        top: -3px;
      }

      li {
        text-align: left;
        margin-bottom: @rhythmic-unit;
      }

      .selected a {
        color: @color-highlight;
        cursor: default;
      }
    }
  }

  .per-page-box {
    margin-left: @rhythmic-unit;
  }

  .list-pager {
    position: absolute;
    top: 0;
    left: 300px;

    .pagination {
      display: none;
    }

    &.list-pager-bottom {
      position: relative;
      left: auto;
      text-align: center;
      margin-bottom: 30px;

      .pagination {
        display: inline-block;
      }
      .pager-items-total {
        display: none;
      }
    }
  }

  .head-h2 + .list-pager {
    top: (4 * @rhythmic-unit);
  }

  .display-mode-box {
    & > div {
      display: none;
    }

    li {
      a {
        color: #9da3b6;

        span.text {
          display: none;
        }
      }

      &.selected a
      {
        color: @color-text-dark;
      }

      &:hover a {
        color: @color-hover;
      }
    }

    .display-modes li {
      height: @rhythmic-unit;
    }

    .display-modes li + li {
      margin-left: @rhythmic-unit;
    }

    .display-mode-label{
      color: @color-text-dark;
      font-weight:500;
    }

    i {
      font-size: @rhythmic-unit;
      display: inline;
      vertical-align: top;
    }
  }
}

.product-marks {
  & > * + * {
    margin-left: 10px;
  }

  .added-to-cart {
    display: none;
    color: @color-highlight;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    vertical-align: top;

    i {
      line-height: 20px;
      font-size: 16px;
    }
  }

  .product-added & .added-to-cart {
    display: inline-block;
  }

  .add-to-compare {
    line-height: @rhythmic-unit;
    display: inline-block;
    text-align: center;
    color: @color-text-dark;
    vertical-align: top;
    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
      left: -99999px;

      & + label {
        .icon-compare;
        &:before{
          color: @link-color;
          font-size:13px;
        }
        color: @link-color;
        cursor: pointer;
        font-size: 13px;
        &:hover{
          &:before{
            color: @link-hover-color;
          }
          color: @link-hover-color;
        }

      }

      &:checked + label {
        display: inline-block;
        &:before{
          color: @color-red;
        }
      }
    }
  }

  .product-added & .added-to-cart,
  .product:hover & .add-to-compare label,
  .products-table & .add-to-compare input[type="checkbox"] + label {
    display: inline-block;
  }
  .products-table & .add-to-compare input[type="checkbox"] + label{
    font-size: 0;
  }

  @media(max-width: @screen-xs-max) {
    .added-to-cart {
      position: absolute;
      top: -215px;
      right: 0;
    }
    .product & .add-to-compare input[type="checkbox"] + label {
      display: inline-block;
    }
  }
  @media(max-width: @screen-xs-min) {
    .added-to-cart {
      top: -140px;
    }
  }
}

.skin-customer .product:hover .product-marks {
  & > *:hover label {
    color: @color-hover;
  }
}

.skin-customer button.pp-ec-button{
  padding: 0;
}