/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/**
 * MINICART widgets
 */

.lc-minicart
{
  position: relative;         /* Position nested popups inside these blocks */
  cursor: pointer;
}

.lc-minicart.empty
{
  cursor: auto;
}

.lc-minicart .items-list {
  min-width: 320px;
  padding: (@rhythmic-unit);
  width: @minicart-width;
  box-shadow: @header-shadow;
  right: -1px;
  left: auto;
  top: (@rhythmic-unit * 2);
  bottom: auto;
  z-index: 900;
  display: block;
  cursor: auto;
  border: none;
  background: #484848;

  @media(max-width: @screen-xs-min) {
    overflow: auto;
    max-height: 90%;
  }

  .other-items {
    display: none;
  }

  .subtotal {
    color: @minicart-color;
    line-height: (@rhythmic-unit * 2 - 1);
    text-align: right;
    margin: @rhythmic-unit*2 -@rhythmic-unit 0;
    background: #383737;
    padding: @rhythmic-unit;
    box-shadow: inset 0 10px 30px -10px rgba(0, 0, 0, 0.5);

    strong {
      vertical-align: baseline;
      font-weight: 600;
      font-size: 14px;
    }

    span {
      vertical-align: baseline;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .buttons-row {

    margin: 0 -@rhythmic-unit -@rhythmic-unit;
    background: #2b2b2b;
    padding: @rhythmic-unit;
    box-shadow: inset 0 10px 30px -10px rgba(0, 0, 0, 0.5);

     .flex-display();
    .justify-content(space-between);
    .flex-wrap(wrap);

    & > * {
      margin-top: (@rhythmic-unit);
      width: ((@minicart-width - @rhythmic-unit * 5) / 2);
      text-align: center;
    }

    .reason-details {
      width: 100%;
      color: @color-text-default;
    }

    .buttons-separator {
      display: none;
    }

    .checkout{
      background: #000;
      &:hover{
        background: @color-red;
      }
    }
  }
}

.lc-minicart .title
{
  color: @headings-color;
  font-size: 18px;
  line-height: @rhythmic-unit;
  margin-bottom: (@rhythmic-unit * 2);
  margin-top: 0px;
}

.lc-minicart .items-list ul,
  .lc-minicart .items-list li
{
  list-style: none;
  background: transparent none;
}

.lc-minicart .cart-item {
  min-height: (@rhythmic-unit * 3);
  margin-top: @rhythmic-unit;
  margin-bottom: @rhythmic-unit;

  .flex-display();

  .item-image {
    .align-self(center);
    width: 90px;
    height: 100%;

    img {
      max-width: 100%;
      height: auto;
      padding: 0px;
      max-height: 100%;
    }
  }

  .item-name {
    padding-left: @rhythmic-unit;
    width: (@rhythmic-unit * 9);

    & > a {
      line-height: @rhythmic-unit;
      color: @color-border;
      &:hover{
        color: @color-light;
      }
    }

    & > .item-attribute-values {
      line-height: @rhythmic-unit;
      font-size: 10px;
      text-transform: capitalize;
      color: @color-border;
    }
  }

  .item-amount {
    margin-left: auto;
    color: @minicart-color;
    text-align: right;
    white-space: nowrap;
    padding-left: 20px;
  }

  .item-price {
    color: @minicart-color;
    text-align: right;
    min-width: (@rhythmic-unit * 4)
  }
}
