/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

//
// Navs
// --------------------------------------------------


.nav {

  > li {

    > span {
      position: relative;
      display: block;
      &:hover,
      &:focus {
        background-color: @nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a,
    &.disabled > span {
      color: @nav-disabled-link-color;

      &:hover,
      &:focus {
        color: @nav-disabled-link-hover-color;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Open dropdowns
  .open > span,
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: @nav-link-hover-bg;
      border-color: @link-color;
    }
  }
}

// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  > li {
    margin-top: 0;
    margin-right: 5px;
    padding: 0;

    > span,
    > a {
      margin-right: 5px;
      cursor: pointer;
      line-height: @line-height-base;
      border: 1px solid @color-contrast;
      border-radius: @border-radius-base @border-radius-base 0 0;
      #gradient > .vertical (@base-gradient-start-color, @base-gradient-end-color);
      color: @nav-tabs-active-link-hover-color;
      &:hover {
        border-color: @color-contrast @color-contrast @color-contrast @color-contrast;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > span,
    &.active > a       {
      &,
      &:hover,
      &:focus {
        color: @nav-tabs-active-link-hover-color;
        background: transparent none;
        border: 1px solid @color-contrast;
        border-bottom-color: #ffffff;
        cursor: default;
      }
    }
  }
}


// Pills
// -------------------------
.nav-pills {
  > li {
    > span {
      border-radius: @nav-pills-border-radius;
    }
    + li {
      margin-left: 2px;
    }

    // Active state
    &.active > span{
      &,
      &:hover,
      &:focus {
        color: @nav-pills-active-link-hover-color;
        background-color: @nav-pills-active-link-hover-bg;
      }
    }
  }
}

.mobile_header {

  .nav-pills{
    > li {
      padding: 0;
      border-radius: 0;
      background: none;
      margin: 0;

      > a {
        border-radius: 0;
      }
    }

    + li{
      margin: 0;
    }
  }

  .nav {
    > li {
      position: relative;
      display: block;

      > a {
        font-size: 16px;
        padding: @rhythmic-unit (@grid-gutter-width / 2);
        &:hover,
        &:focus {
          background-color: @mobile-menu-icons-bg;
          color: @mobile-menu-icons-hover;
        }
      }
    }
    .open > a{
      &,
      &:hover,
      &:focus {
        background-color: @mobile-menu-icons-bg;
        border-color: @mobile-menu-icons-bg;
        color: @mobile-menu-icons-hover;
      }
    }
  }

}

.skin-customer .mobile_header {
  .nav {
    min-width: 320px;
    margin: 0;
    display: flex;

    .mobile_header-right_menu {
      margin-left: auto;
      .header-right-bar {
        position: relative;
        right: 0;
        z-index: 71;

        .block {
          border: none;

          .content {
            border: none;
          }
        }

        & > * {
          display: none;
        }

        .header_search {
          display: inline-block;
        }

        .header_settings {
          display: inline-block;
        }

        .lc-minicart {
          display: flex;
          align-items: center;
        }
      }
    }

    .mobile_header-logo {
      #logo, .company-logo {
        width: auto;
        img {
          padding-top: @rhythmic-unit;
          padding-bottom: @rhythmic-unit;
          padding-right: @navbar-horizontal-gutter;
          padding-left: @navbar-horizontal-gutter;
          max-height: 60px;
        }
      }
    }

    @media(max-width: @screen-xs-max) {
      .lc-minicart .items-list {
        width: 420px;
      }
      .buttons-row > * {
        width: 160px;
      }
    }

    @media(max-width: @screen-xs-min) {
      .dropdown-menu, .lc-minicart .items-list {
        top: (@rhythmic-unit * 3 - 1);
        position: fixed;
        right: 0;
      }

      .lc-minicart .items-list {
        width: 100%;

        .item-image {
          margin-right: 20px;
        }

        .item-name {
          padding-left: 0px;
        }

        .buttons-row > * {
          width: 100%;
        }
      }
    }

    @media(max-width: 374px) {
      .lc-minicart .items-list {
        .item-image {
          display: none;
        }
      }
    }
  }

  ul.nav-pills {
    background: @mobile-menu-bg;
    height: @mobile-menu-height;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 70;
    .box-shadow(@mobile-menu-shadow);

    li.dropdown {
      > a {
        svg {
          path {
            fill: @mobile-menu-icons-color;
          }
        }

        &:hover {
          svg {
            path {
              fill: @mobile-menu-icons-color;
            }
          }
        }
      }
    }
  }

  #account_box {
    .language-selector {
      display: none;
    }
  }

  .fa-bars {
    font-size: 17px;
  }

  #language_box {
    min-width: 0;
  }

  ul {
    li {
      background: none;
      padding-left: 0;

      ul.language_list {
        li.language_label {
          display: none;
        }

        li {
          .make-xs-column(12; 0);
          margin: 0;

          &.language-selector {
            padding: 7px 0;
          }

          ul {
            .make-xs-column(12; 0);

            li {
              a {
                display: block;
                white-space: nowrap;

                img {
                  display: inline-block;
                  width: 19px;
                  margin-right: 6px;
                }
              }

              span {
                display: inline-block;

                img {
                  display: inline-block;
                  width: 19px;
                  margin-right: 6px;
                }

                span {
                  display: inline-block;
                }
              }

              &.current {
                padding: 13px 15px;

                &:hover {
                  background-color: inherit;
                }
              }
            }
          }
        }
      }

    }

    &#search_box {
      position: fixed;
      left: 1.5%;
      top: (@mobile-menu-height - @mobile-menu-height*0.8)/2;
      height: @mobile-menu-height*0.8;
      width: 97%;

      #mobile_search {

        width: 95%;
        margin: 0 auto;
        float: none;

        .simple-search-box {
          border: none;
          height: 100%;
          margin: 8px 0;
          padding-left: 30px;

          button.submit-button {
            top: 8px;
            left: 4px;
            background: none;
            text-indent: 0;
            overflow: hidden;
            width: 17px;
            position: absolute;
            color: @mobile-menu-search-button-color;

            span {
              .glyphicon;
              .glyphicon-search;

            }
          }

          input.form-text {
            width: 100%;
            float: none;
            border: none;
            box-shadow: none;
            padding: 0;
            background: transparent;
            line-height: 28px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.target-checkout {
  .mobile_header {
    font-size: 20px;
    ul.nav-pills:not(.affix) {
      border-bottom: 1px solid @color-border;
      box-shadow: none;
    }

    a#main_menu,
    a#search_menu,
    a#language_menu {
      display: none;
    }
  }
}


