/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * CDev\VolumeDiscounts
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */
.volume-discounts-promo .next {
    #rhythmless > .rhythm(@font-size-base + 2);
}

/**
 * CDev\Coupons
 */

.coupons form {
    .floating-label;

    .form-control{
        height: 60px;
    }
}

/**
 * XC\Reviews
 */

.modify-review-dialog .form-item {
    .floating-label;

    br {
        display: none;
    }

    .table-value .tooltip-main {
        left: 290px;
    }
}

.modify-review-dialog .model.form.buttons {
    margin-top: @rhythmic-unit;

    button.submit {
        min-width: 144px;
    }
}

/**
 * XC\ProductComparison
 */

table.comparison-table a.remove {
    .icon-cross;
}

table.comparison-table td.clear-list a {
    .regular-button;
    .icon-trash;

    &:before {
        margin-right: 10px;
        margin-left: -2px;
        vertical-align: top;
    }
}

/**
 * XC\Add2CartPopup
 */

.add2cart-popup {
    .item-box {
        display: block;
    }

    .item-box, .products-list-box {
        .clearfix;
    }

    .item-thumbnail {
        .flex-display();
        .align-items(center);
        .justify-content(center);

        width: 160px;
        height: 180px;

        img {
            .center-image-in-flex();
        }
    }

    .added-item-message {
        display: none;
        color: @color-highlight;

        .icon-ok-mark {
            #rhythmless > .rhythm(@font-size-small);
        }
    }

    .item-name {
        .head-h3();
    }

    .item-price {
        #rhythmless > .rhythm(@font-size-h4);

        .surcharge {
            color: @price-color;
        }
    }

    .item-buttons {
        margin-top: @rhythmic-unit;

        & > * + * {
            margin-left: @rhythmic-unit;
        }
    }

    .items-list-products {
        position: static;
    }

    .items-list .head-h2 {
        .head-h3();
        margin-top: (@rhythmic-unit * 2);
        margin-bottom: @rhythmic-unit;
    }

    ul.products-grid.grid-list {
        margin-left: -14px;
        margin-right: -14px;
    }
}

/**
 * QSL\FlyoutCategoriesMenu
 */

.flyout-menu {
    li a {
        &:active, &:link, &:visited, &:hover {
            margin-top: -@border-table;
        }
    }

    & > li > a.active,
    & > li.active-trail > a {
        color: @color-highlight;
    }

    .icon-triangle {
        .icon-chevron-right;

        &:before {
            font-size: 12px;
        }
    }

    ul.sublevel {
        margin-top: -(0.5 * @rhythmic-unit);
        padding: 0;
        border: 1px solid @color-border;
        border-radius: @border-radius-base;

        li a {
            line-height: (2 * @rhythmic-unit);
        }

        li:hover {
            background-color: transparent;
            border-radius: @border-radius-base;
        }
    }

    &.catalog-categories > li > ul.sublevel {
        margin-top: -(0.5 * @rhythmic-unit);
    }
}
.sidebar .catalog-categories {
    margin-left: 0;

    > li a {
        margin: 0;
        padding: 0 20px;
        line-height: (2 * @rhythmic-unit);
        text-transform: uppercase;
        color: @color-contrast;
        border:none;
        &:hover{
            color: @color-link;
        }
    }

    li{
        border-top: 1px solid @color-border;
        &:first-of-type{
            border:none;
        }
    }

    li:hover {
        background: transparent none;
    }
}