/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.navbar-collapse{
  padding: 0;
}

.navbar {
  border: none;
  margin-bottom: 0px;
  width:100%;
}

.navbar-nav {
  @media (min-width: @screen-md-min) {
    margin-left: -(@navbar-horizontal-gutter);
  }
}


//Firs level navigation

.navbar-nav > li {
  margin: 0;
  background-image: none;

  & > a,
  & > span {
    text-decoration: none;
    font-size: @navbar-inverse-font-size;
    padding: @navbar-padding-vertical @navbar-horizontal-gutter;
    line-height: @rhythmic-unit;
    text-transform: uppercase;
  }
}

.navbar-toggle {
  height: auto;
}

.navbar-inverse .navbar-nav {
  .active > a {
    &,
    &:hover,
    &:focus {
      color: @navbar-inverse-link-active-color;
      background: @navbar-inverse-link-active-bg;
    }
  }
}

.navbar-inverse {
  .navbar-nav {
    > li > span {
      color: @navbar-inverse-link-color;
      cursor: default;

      &:hover,
      &:focus {
        color: @navbar-inverse-link-hover-color;
        background-color: @navbar-inverse-link-hover-bg;
      }
    }
    > .active > span {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-active-color;
        background-color: @navbar-inverse-link-active-bg;
      }
    }
    > .disabled > span {
      &,
      &:hover,
      &:focus {
        color: @navbar-inverse-link-disabled-color;
        background-color: @navbar-inverse-link-disabled-bg;
      }
    }
  }

  // Dropdowns
  .navbar-nav {
    > .open > span {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-inverse-link-active-bg;
        color: @navbar-inverse-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > li > span {
          color: @navbar-inverse-link-color;
          &:hover,
          &:focus {
            color: @navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-hover-bg;
          }
        }
        > .active > span {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-active-color;
            background-color: @navbar-inverse-link-active-bg;
          }
        }
        > .disabled > span {
          &,
          &:hover,
          &:focus {
            color: @navbar-inverse-link-disabled-color;
            background-color: @navbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }
}


// Deeper levels
// Style rules moved from modules/CDev/SimpleCMS/css/primary_menu.css

.top-main-menu {

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;

  li{
    ul {
      min-width: 100%;
      padding: (0.5 * @rhythmic-unit);
      background: @navbar-sublevel-bg;
      .rounded(@border-radius-base);
      .box-shadow(@dropdown-shadow);
      position: absolute;
      top: 100%;
      width: auto;
      left: 0;
      visibility: hidden;
      opacity: 0.01;
      -webkit-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      -moz-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      -ms-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      -o-transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      transition: visibility @fast-transitions-duration, opacity @fast-transitions-duration;
      z-index: 1000;

      li{
        margin:0;
        height: auto;
        width: auto;
      }

      &.tap {
        left: auto;
        visibility: visible;
        opacity: 0.99;
      }

      &.tap ul,
      ul {
        top: 0;
        left: 99%;
      }
    }

    &:hover > ul {
      visibility: visible;
      opacity: 0.99;
      -webkit-transition: visibility @transitions-duration, opacity @transitions-duration;
      -moz-transition: visibility @transitions-duration, opacity @transitions-duration;
      -ms-transition: visibility @transitions-duration, opacity @transitions-duration;
      -o-transition: visibility @transitions-duration, opacity @transitions-duration;
      transition: visibility @transitions-duration, opacity @transitions-duration;
      z-index: 10000;
    }

  }

  li li {
    background: transparent none;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;

    > span, a, a:hover {
      .flex-display(flex);
      .justify-content(space-between);
      overflow: hidden;
      text-decoration: none;
      white-space: nowrap;
      .transition(color @fast-transitions-duration);
    }

    > a, > span {
      line-height: (2 * @rhythmic-unit);
      padding-left: (0.5 * @rhythmic-unit);
      padding-right: (0.5 * @rhythmic-unit);

      color: @navbar-sublevel-link-color;
    }

    &.has-sub > a,
    &.has-sub > span{
      .icon-chevron-right--right();
      &:after {
        line-height: (2 * @rhythmic-unit);
      }
    }

    &:hover > a,
    &:hover > span{
      .transition(color @transitions-duration);
      background-color: @navbar-sublevel-link-hover-bg;
      color: @navbar-sublevel-link-hover-color;
    }

    &.active > a,
    &.active > span{
      color: @navbar-sublevel-link-active-color;
      background: @navbar-sublevel-link-active-bg;
    }
  }

  @media(min-width: @screen-md) {
    > li.has-sub > a > span:after,
    > li.has-sub > span:after{
      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'xcartskin' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: @rhythmic-unit;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      content: '\e90f';
      font-size: 0.5em;
      display: inline-block;
      vertical-align: bottom;
      margin-left: 5px;
    }
  }

  .scrollable {
    overflow-y: scroll;
  }

}



