.product-details {
  &.box-product + #modules_tabs{
    margin-top: @rhythmic-unit*2;
  }
  @media(max-width: @screen-xs-max) {
    #breadcrumb {
      position: absolute;
      top: @rhythmic-unit;
    }

    &:before {
      display: block;
      margin-top: (2 * @rhythmic-unit);
      content: '';
    }
  }

  @media(max-width: @screen-xs-max) {
    .image {
      margin-bottom: (@rhythmic-unit);
    }

    .product-photo-box {
      margin-top: 0px;
    }
  }

  .image {
    position: relative;
    float: left;
  }

  .product-image-gallery {
    float: left;
    margin-top: 0;

    .cycle-cloak {
      overflow: hidden;
      max-height: 382px;
      @media(max-width: @screen-md-max){
        max-height: 262px;
      }
    }

    .cycle-slideshow, .cycle-carousel-wrap, .cycle-slide {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }

    .product-image-gallery-navigation {
      width: 88px;
      @media(max-width: @screen-md-max){
        width: 58px;
      }
      height: (1 * @rhythmic-unit);
      .flex-display();
      .justify-content(center);
      .align-items(center);

      cursor: pointer;

      &:before {
        content: '';
        background: url(../../images/arrow_down_sheet.svg) center no-repeat;
        background-position: 0 0px;
        height: 16px;
        width: 32px;
      }

      &:not(.disabled):hover:before {
        background-position: 0 -16px;
      }

      &.disabled:before {
        background-position: 0 -32px;
      }
    }

    #product-image-gallery-prev {
      margin-bottom: (1 * @rhythmic-unit);
      &:before {
        transform: rotate(180deg);
      }
    }

    li {
      display: block;
      width: 88px;
      height: 88px;
      overflow: hidden;
      margin-bottom: @rhythmic-unit/2;
      border: @border-base solid @color-border;

      @media(max-width: @screen-md-max){
        width: 58px;
        height: 58px;
      }

      & > a {
        .flex-display();
        .justify-content(center);
        .align-items(center);

        height: 100%;
      }

      &.selected,
      &:hover {
        border-color: #000;
        overflow: hidden;
      }
    }
  }

  .ui-dialog .product-quicklook & .product-image-gallery{
    li{
      width: 58px;
      height: 58px;
    }
  }

  .product-photo-box {
    margin-top: 0;
    margin-bottom: 0;

    position: relative;
  }

  .next-previous-product {
    #rhythmless > .rhythm(@font-size-small);
    margin-bottom: @rhythmic-unit;

    & + .product-photo-box {
      margin-top: 0;
    }

    .next-previous-link {
      display: inline-block;
    }

    i {
      line-height: @rhythmic-unit;
    }

    .next-previous-link > a {
      margin-left: 7px;
      margin-right: 7px;
    }

    .next-previous-separator {
      display: none;
    }

    @media(max-width: @screen-xs-max) {
      margin-top: @rhythmic-unit;
    }
  }

  .next-previous-dropdown {
    .rounded(@border-radius-base);
    .box-shadow(0 6px 6px 0 rgba(155, 154, 155, 0.5));

    width: 150px;
    background-color: #fff;
    padding: @rhythmic-unit;
    position: absolute;
    z-index: 1;
    display: none;
    text-align: center;

    .next-previous-price .product-price {
      #rhythmless > .rhythm(@font-size-large);

      margin-top: @rhythmic-unit;
    }

    .vat-note-product-price {
      #rhythmless > .rhythm(@font-size-small);
    }
  }

  .product-photo {
    .flex-display();
    .justify-content(center);
    .align-items(center);

    border: 1px solid @color-border;
    overflow: hidden;

    width: 366px;
    height: 440px;
    @media(max-width: @screen-md-max) {
      width: 310px;
      height: 370px;
    }

    @media(max-width: @screen-sm-max) {
      width: 300px;
      height: 360px;
    }

    @media(max-width: @screen-xs-max) {
      width: 100%;
      height: 340px;
    }
  }

  .loupe {
    display: inline-block;
    position: absolute;
    width: 43px;
    height: 43px;
    right: 0;
    bottom: 0;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100px 100px;
      border-color: transparent transparent #fff transparent;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    svg {
      position: relative;
      display: block;
    }

    &:hover svg {
      opacity: .2;
    }
  }

  .image .labels {
    position: absolute;
    top: (2 * @rhythmic-unit);
  }

  .image .product-added-note {
    position: absolute;
    top: (3 * @rhythmic-unit);
    right: @rhythmic-unit;
    color: @color-highlight;
  }

  .share {
    margin-top: @rhythmic-unit;
    height: 20px;

    & > * {
      display: inline-block;
      height: 20px;
    }

    & > script {
      display: none;
    }
  }

  .brief-descr {
    margin-bottom: @rhythmic-unit;
  }

  .product-average-rating {
    margin-top: (@rhythmic-unit / 2);
    margin-bottom: (@rhythmic-unit / 2);
  }

  .product-freeship-label {
    #rhythmless > .rhythm(@font-size-small);

    margin-left: 20px;
    vertical-align: bottom;

    @media(max-width: @screen-xs-min) {
      margin-right: 0px;
      display: block;
      margin-top: 10px;
    }
  }

  .editable-attributes {
    margin-top: @rhythmic-unit;
    margin-bottom: @rhythmic-unit;
    max-width: 366px;
  }

  div.product-price {
    margin-top: @rhythmic-unit;
    margin-bottom: @rhythmic-unit;
  }

  .product-price {
    span.product-price {
      #rhythmless > .rhythm(@font-size-h2);
    }

    & ul.product-price > li {
      display: inline-block;
      line-height: (2 * @rhythmic-unit);

      &.product-price-base {
        display: block;
      }

      .labels {
        height: (2 * @rhythmic-unit);
        padding-top: (@rhythmic-unit / 2);
      }
    }
  }

  .attribute-values {
    label {
      line-height: (2 * @rhythmic-unit);
      > div {
        margin-right: 20px;
      }
    }

    label.checkbox-label {
      input {
        width: @rhythmic-unit;
        height: @rhythmic-unit;
      }
    }

    input[type="radio"], input[type="checkbox"] {
      vertical-align: middle;
    }

    li {
      .floating-label;

      .form-control {
        margin-bottom: @rhythmic-unit;
      }
    }
  }

  .add-to-compare {
    .product-marks .add-to-compare();

    line-height: (2 * @rhythmic-unit);

    input[type="checkbox"] + label {
      display: inline-block;

      &:before {
        vertical-align: baseline;
      }
    }
  }

  .product-quicklook & {
    .product-image-gallery {
      margin-top: 0;
    }

    .image .labels {
      top: 0;
    }

    .image .product-added-note {
      top: @rhythmic-unit;
    }

    .product-price {
      & ul.product-price > li {
        display: block;
        line-height: @rhythmic-unit;

        .labels {
          height: @rhythmic-unit;
          padding-top: 0;
        }
      }
    }

    .product-average-rating,
    .product-more-link {
      width: 366px;
      text-align: center;
      display: inline-block;
    }

    .add-to-compare {
      display: block;
      text-align: left;
      margin-top: @rhythmic-unit;
    }
  }

  div.product-details-info{
    @media(min-width: @screen-sm){
      padding-left: 30px;
    }
    @media(max-width: @screen-xxs-max){
      .flex-wrap(wrap);
    }
    .flex-display();

    .right-section{
      max-width: 250px;
      min-width: 215px;
      border: @border-base solid @color-border;
      background: #fbfbfb;

      > div{
        margin: 0;
        padding: @rhythmic-unit;
        box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
        &:first-of-type{
          box-shadow: none;
        }
      }

      .product-price{
        span.product-price{
          font-size:29px;
          font-weight:600;
          font-family: 'Open Sans', sans-serif;
        }
        .text{
          line-height: 20px;
          font-weight: 300;
        }
      }

      .product-qty{
        display: block;
        margin: 0;
        padding:0;

        &:after{
          content: '';
          display: block;
          height: 10px;
          box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.15);
          .calc(width, '100% + (@{rhythmic-unit}*2)');
          margin: 15px -@rhythmic-unit;
        }
      }

      .add2cart{
        text-transform: uppercase;
        font-size:11px;
        padding: 8px 20px 8px 10px;
        &:before{
          .fa();
          content: "\f07a";
          margin: 0 10px 0 0;
          font-size: 26px;
          line-height: 20px;
          vertical-align: -5px;
        }
      }

      .add-to-compare,
      .add-to-wishlist{
        label:before,
        i{
          height: 30px;
          width:30px;
          line-height: 30px;
          color: #ffffff;
          border-radius: 15px;
          background: @color-text-default;
          text-align: center;
          display: inline-block;
          margin-right: 5px;
          vertical-align: middle;
        }

        font-weight:600;
        color: @color-text-default;
        line-height:30px;
        padding: 5px 0;

        label, span{
          font-weight:600;
          color: @color-text-default;
        }

        &:hover{
          color: @color-hover;
          background: transparent none;
          label, span{
            color: @color-hover;
          }
          label:before,
          i{
            color: #ffffff;
            background: @color-hover;
          }
        }
        input[type="checkbox"]:checked + label:before{
          color: #ffffff;
          background: @color-red;
        }

      }

      button.pp-ec-button {
        padding: 0;
        margin: 0 20px 20px 0;
      }

      .product-buttons button{
        margin-bottom: @rhythmic-unit;
      }

      .label-green .label-main-box .content{
        background-color: @color-red !important;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
      }
    }

    .in-stock-label{
      background: @color-green;
      color: #ffffff;
      font-weight: 600;
      padding: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      display: inline-block;
    }

    .low-stock{
      display: block;
      color: @color-contrast;
    }

    .center-section{
      margin-right: 30px;
    }
  }
}

.skin-customer div.header div.title{
  color: @color-text-dark;
}