/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.tabs-top {
  border-bottom: 1px solid @color-border;
  .clearfix();


  > li {
    float: left;
    margin: 0 0 -1px;

    > a, > span {
      display: inline-block;
      #rhythmless > .rhythm(@font-size-large);
      text-transform: uppercase;
      line-height: (2 * @rhythmic-unit);
      margin-top: -1px;
      margin-left: -1px;
      background: @tab-bg;
      padding: 0 @rhythmic-unit;
      color: @tab-color;
      border: 1px solid @color-border;

      &:hover {
        background: @tab-hover-bg;
        color: @tab-hover-color;
      }
    }

    &.active {

      > a, > span {
        &, &:hover, &:hover {
          border-bottom-color: @color-background;
          color: @tab-active-color;
          background: @tab-active-bg;
        }
      }
    }
  }

  @media(max-width: @screen-xs-max) {
    .clearfix;

    > li {
      float: none;
      display: block;
      padding-top: (@rhythmic-unit / 2);
      padding-bottom: (@rhythmic-unit / 2);

      & + li {
        margin-top: 0px;
        margin-left: 0px;
      }
    }
  }
}

.tabs-top-content {
  clear: both;
  padding-top: (3 * @rhythmic-unit);
  .tab-container {
    display: none;
    @media (max-width: @screen-xs-max) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  @media(max-width: @screen-xs-max) {
    padding-top: (2 * @rhythmic-unit);
  }
}

//My account page

.tabbed-content-wrapper {
  .page-tabs ul {
    .tabs-top;
  }
  .tab-content {
    .tabs-top-content;
  }
}

/* Product page */

.product-details-tabs {
  .clearfix();
  clear: both;
  padding-top: (4 * @rhythmic-unit);

  div.tabs ul.tabs {
    .tabs-top;
  }
  div.tabs-container {
    .tabs-top-content;

    @media(max-width: @screen-xs-max) {
      padding-top: 0px;
    }
  }

  div.tab-container.hacky-container:first-child{
    display: block;
  }

  @media(max-width: @screen-xs-max) {
    .panel-group {
      width: 100vw;
      min-width: 320px;
      margin-left: (-@rhythmic-unit);
      border-bottom: 1px solid @color-border;
      margin-bottom: -1px;

      .panel {
        border: none;
        box-shadow: none;
        overflow: visible;

        + .panel {
          margin-top: 0;
        }

        .panel-heading {
          color: inherit;
          background-color: inherit;
          border-top: 1px solid;
          border-color: @color-border;
          border-radius: 0;
          padding: @rhythmic-unit;
          height: (3 * @rhythmic-unit);

          &:hover {
            color: @color-hover;
          }

          .panel-title {
            color: @tab-color;
            text-transform: uppercase;
            &:active, .active {
              color: @tab-active-color;
            }

            a {
              .icon-plus;

              &:not(.collapsed){
                .icon-minus;
              }

              &:before {
                float: right;
                display: inline-block;
                font-size: @rhythmic-unit;
              }
            }

          }
        }

        .panel-body {
          color: inherit;
          background-color: inherit;
          border-top: none;
          border-color: @color-border;
          border-radius: 0;
          padding: @rhythmic-unit;
        }
      }
    }
  }
}


/* Secondary tabs */

div.tabs .secondary
{
  padding: 11px;
  height: 22px;
  line-height: 22px;
  a.active, span.active{
    border-style: none;
    background-color: #5296ca;
    color: white;
    padding: 3px 10px;
    .rounded(3px);
  }
  li
  {
    border-style: none;
    margin: 0 10px 0 0;
  }
}


#content .tabs-container .page-tabs .tabs-selector .selected {
  background-color: #f5f5f5;
  border-radius: @border-radius-base;
  font-size: 24px;
  padding: @rhythmic-unit/2 0 @rhythmic-unit/2 @rhythmic-unit;
  color: @color-text-dark;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(51,51,51,0.1);
  text-transform: uppercase;
}


