/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Styles
 *
 * Copyright (c) 2001-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/* colors */
@import "~parent";
@color-background: #fff;
@color-contrast: #222222;

@color-text-default: #777777;
@color-text-dark: @color-contrast;

@color-link: #858585;
@color-link-2: #7b7b7b;
@color-hover: #222222;

@color-highlight: @color-red;
@color-light: #ffffff;

@color-border: #d6d4d4;
@color-border-2: #f0f0f0;
@color-green: #46a74e;
@color-red: #d3070c;
@color-black: #1b1b1b;

/* // colors */

/* color aliases */
@text-dark-color: @color-text-dark;
/* // color aliases  */

@body-bg: @color-background;
@header-bg-color: rgba(0, 0, 0, 0.7);

@font-family-sans-serif: 'Ubuntu', Helvetica, sans-serif;
@line-height-base: @rhythmic-unit;
@headings-line-height: @rhythmic-unit;
@line-height-computed: @rhythmic-unit;

@screen-xxs-max: 479px;

@disabled-color: @color-light;

@text-color: @color-text-default;
@headings-color: #555454;

@headings-font-weight: normal;
@small-headings-font-weight: bold;

@brand-primary: @color-red; // input[type="radio"]:checked, input[type="checkbox"]:checked

@link-color: @color-link;
@link-hover-color: @color-hover;

// Grid and rhythm settings
@grid-gutter-width: 30px;
@grid-gutter-width-lg: 40px;
@grid-gutter-width-md: 30px;

@container-sm: 100%;

// http://paulgb.github.io/rhythmless/
@rhythmic-unit: 18px;

@border-base: 1px; // Products, gallery, buttons, subcategory icons, .form-control, pagination border width
@border-table: 1px;
@border-radius-base: 0;

@fast-transitions-duration: 0.2s;
@transitions-duration: 0.4s;

@header-shadow: 0 0 10px 0 rgba(74, 73, 74, 0.2);
@dropdown-shadow: 0 2px 10px 0 rgba(74, 73, 74, 0.2);


// Products list image container (div.product-photo) sizes
// width determines .product container width

@items-list-image-width: 262px; //min-width 768px
@items-list-image-height: 280px;
@items-list-image-width-sm: 200px; //max-width 767px and min-width 480
@items-list-image-height-sm: 215px;
@items-list-image-width-xs: 100%; //max-width 480px
@items-list-image-height-xs: 140px;


//Minicart
@minicart-color: @color-light; //subtotal, amount & price color
@minicart-width: 460px;

/**
 * Form controls
 */
@line-height-base: 18px;
@line-height-computed: 18px;
@padding-base-vertical: 8px;
@padding-base-horizontal: 14px;
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 4);
@input-height-base-floating: (@line-height-computed * 2 + (@padding-base-vertical * 2) + 4);
@input-color: @color-text-dark;
@input-border: rgba(199, 197, 199, 0.8);
@input-border-radius: 2px;
@input-bg: @color-background;
@input-border-focus: rgb(191, 189, 191);

/**
 * Navbars
 */
@header-bar-height: 50px;
@header-element-bg: #2f2f2f;

@navbar-height:  64px; //navbar height & height of header in fixed state (.affix)
@navbar-inverse-bg: transparent;  //bg color of navbar & header in fixed state (.affix)
@navbar-horizontal-gutter: 25px;  //horizontal padding
@navbar-inverse-border: @color-border; //bottom border of header in fixed state (.affix)
@navbar-inverse-font-size: 14px;
@navbar-inverse-link-color: #ffffff;
@navbar-inverse-link-hover-color: #ffffff;
@navbar-inverse-link-hover-bg: @color-red;
@navbar-inverse-link-active-color: #ffffff;
@navbar-inverse-link-active-bg: @color-red;

//sublevels
@navbar-sublevel-bg: #ffffff;
@navbar-sublevel-link-color: @color-text-default;
@navbar-sublevel-link-hover-color: @color-hover;
@navbar-sublevel-link-hover-bg: transparent;
@navbar-sublevel-link-active-color: @color-highlight;
@navbar-sublevel-link-active-bg: transparent;

/**
 * Tabs
 */

@tab-color: #555454;
@tab-bg: #fbfbfb;
@tab-active-color: @color-contrast;
@tab-active-bg: transparent;
@tab-hover-color: @color-contrast;
@tab-hover-bg: #f5f5f5;


/**
 * Buttons
 */
@btn-base-color: #333333;
@btn-hover-color: @btn-base-color;

//.regular-button
@button-gradient-start-color: #ffffff;
@button-gradient-end-color: #ffffff;
@button-active-bg: #cccccc;
@btn-default-color: @btn-base-color;
@btn-font-weight: 400;
@btn-border-color: #bfbfbf;

//.regular-main-button
@button-main-color: #ffffff;
@button-main-gradient-start-color: #222222;
@button-main-gradient-end-color: #222222;
@button-main-active-bg: @color-red;


//** Textual separator for between breadcrumb elements
@breadcrumb-separator: "\00BB";
@breadcrumb-bg: @color-background;
@breadcrumb-separator-color: @color-border;
@breadcrumb-padding-vertical: 0;
@breadcrumb-padding-horizontal: 0;

@thumbnail-border: transparent;
@base-border-color: @color-border;

//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding: 12px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding: 6px;

//** Default background color used for all tables.
@table-bg: @color-background;
//** Background color used for `.table-striped`.
@table-bg-accent: @color-background;
//** Background color used for `.table-hover`.
@table-bg-hover: @color-background;
@table-bg-active: @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color: @color-border;

@padding-large-horizontal: 20px;
@padding-small-vertical: 3px;

@base-gradient-start-color: #eef8ff;
@base-gradient-end-color: #e6f5ff;

@table-gradient-start-color: #f9f9f9;
@table-gradient-end-color: #f9f9f9;

@pagination-color: #333333;
@pagination-bg: @color-background;
@pagination-border: #cccccc;

@pagination-hover-color: @color-contrast;
@pagination-hover-bg: #ffffff;
@pagination-hover-border: @color-contrast;

@pagination-active-color: #ffffff;
@pagination-active-bg: #cccccc;
@pagination-active-border: #bfbfbf;

@display-modes-selected-bg: transparent;
@display-modes-selected-color: #ffffff;

@display-sort-link-color: #333333;
@display-sort-selected-link-color: #ffffff;
@display-sort-selected-link-bg: transparent;

@price-color: @color-text-dark;

// variables for the new mobile header

@mobile-menu-bg: rgba(35,35,35,0.95);
@mobile-menu-shadow: @header-shadow;
@mobile-menu-height: 60px;
@mobile-menu-icons-color: #000;
@mobile-menu-minicart-color: #000;
@mobile-menu-icons-bg: transparent;
@mobile-menu-icons-hover: @link-hover-color;
@mobile-menu-dropdowns-bg: #fafafa;
@mobile-menu-dropdowns-border-radius: 2px;

@mobile-menu-search-button-color: #b9b9b9;

@slidebar-bg: #fafafa;
@slidebar-border-color: transparent;
@slidebar-arrow-color: #b2b6c6;
@slidebar-back-arrow-color: #000;
@slidebar-header-color: #000;
@slidebar-header-font-size: 16px;
@slidebar-header-font-family: @font-family-sans-serif;
@slidebar-header-font-weight: normal;
@slidebar-links-color: @color-contrast;
@slidebar-links-font-size: @font-size-base;
@slidebar-links-font-family: @font-family-sans-serif;
@slidebar-links-font-weight: 600;

@cc-form-padding-unit: @rhythmic-unit;
@cc-form-border: @color-border;
@cc-form-border-radius: @border-radius-base;
@cc-form-border-width: @border-base;
@cc-form-background: @body-bg;
@cc-form-card-type-offset-top: 2px;
@cc-form-card-type-offset-right: 0;
@cc-form-extended-card-type-offset-top: 42px;
@cc-form-extended-card-type-offset-right: 20px;
@cc-form-expire-separator-lineheight: 39px;

@input-border: @color-border;

@color-rating-block: @color-highlight;

.clearfix() {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
    width:0;
  }
  &:after {
    clear: both;
  }
}

.base-text-responsive() {
  font-size: @font-size-base;

  @media(max-width: @screen-xs-max) {
    font-size: @font-size-small;
  }
}
