/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.filters-mobile {
  width: 48px;
  display: none;

  @media(max-width: @screen-xs-max) {
    display: inline-block;
  }

  & > a {
    .icon-filters;
    position: absolute;
    right: -8px;
    top: 8px;
    width: 48px;
    height: 48px;
    .flex-display();
    .justify-content(center);
    .align-items(center);
  }

  .filters-zone {
    position: absolute;
    left: (-@grid-gutter-width / 2);
    width: 100vw;
    min-width: 320px;
    z-index: 100;
    background: @color-background;
    border-top: 1px solid @color-border;
    box-shadow: @dropdown-shadow;
    top: (3 * @rhythmic-unit);
    padding-top: @rhythmic-unit;
    padding-bottom: @rhythmic-unit;
    padding-left: (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);

    .block-product-filter {
      display: block;
    }
  }
}

.block-product-filter {
  @media(max-width: @screen-xs-max) {
    display: none;
  }

  input[type="radio"], input[type="checkbox"] {
    margin: 0;
    line-height: @rhythmic-unit;
    height: @rhythmic-unit;
    width: @rhythmic-unit;
    vertical-align: top;
  }

  .fade-up, .fade-down {
    display: none;
  }

  .value-range {
    height: 100px;
  }

  div.filter {
    border-bottom: 1px solid @color-border;
    .clearfix;
    padding-top: @rhythmic-unit/4;
    padding-bottom: @rhythmic-unit/4;

    .table-label ~ .star {
      display: none;
    }

    .table-label {
      margin-bottom: 0;
      padding: 0;
      label {
        .h4;
        font-size: 14px;
        text-transform: uppercase;
        color: @color-hover;
        line-height: 30px;
      }

      &.collapsible {
        .icon-minus--after;
        background: none;
        padding-left: 0;
        padding-bottom: @rhythmic-unit;

        &:hover {
          cursor: pointer;
          color: @color-link;

          label {
            cursor: pointer;
            color: @color-hover;
          }
        }

        &:after {
          float: right;
          line-height: 30px;
        }

        &.collapsed {
          padding-bottom:0;
          .icon-plus--after;

          &:after {
            line-height: 30px;
          }
        }
      }
    }

    .table-value.collapsible {
      .fast-transitions;
    }

    .table-value.collapsible.collapsed {
      height: 0px;
      overflow: hidden;
    }

    &:not(.type-c) {
      .table-label, .table-value {
        float: none;
      }
    }

    &.type-c {
      padding-top: @rhythmic-unit/2;
      padding-bottom: @rhythmic-unit/2;
      display: flex;
      align-items: center;
      .table-label {
        margin-left: @rhythmic-unit;
        order: 2;
        margin-bottom: 0px;

        label {
          #rhythmless > .rhythm(@font-size-base);
        }
      }

      .table-value {
        .input-field-wrapper {
          display: inline;
          vertical-align: middle;
        }
        order: 1;
      }
    }
  }

  .filter.group {
    .head-h4 {
      .h4;
      margin-bottom: 10px;
      line-height: 30px;
    }

    .attributes {

      li:not(.type-c) > .table-label label {
        margin-top: 0;
          #rhythmless > .rhythm(@font-size-base);
        line-height: 30px;
          font-weight: 600;
      }
    }
  }

  .filter > .attributes {
    input ~ label {
      margin: 0;
      line-height: @rhythmic-unit;
      margin-left: @rhythmic-unit - 2px;
      color: @color-text-dark;
      #rhythmless > .rhythm(@font-size-base);
    }
    & > li:first-child {
      margin-top: 0;
    }
    & > li:not(.collapsed) + li {
      margin-top: (2 * @rhythmic-unit);
    }

    .type-c {
      margin-top: @rhythmic-unit;
      display: flex;
      align-items: center;
      .table-label {
        margin-left: @rhythmic-unit;
        order: 2;
        margin-bottom: 0px;

        label {
          #rhythmless > .rhythm(@font-size-base);
        }
      }

      .table-value {
        .input-field-wrapper {
          display: inline;
          vertical-align: middle;
        }
        order: 1;
      }
    }

    .checkbox-list {
      li {
        input ~ label {
            width: 75%;
        }
        position: relative;
      }

      li ~ li {
        margin-top: @rhythmic-unit;

        &:before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          margin-top: (-@rhythmic-unit / 2);
          border-top: 1px solid fade(@color-border, 20%);
        }
      }
    }
  }

  .buttons {
    text-align: center;
      margin-top: @rhythmic-unit;
    margin-bottom: @rhythmic-unit;
    .filter.submit {
      width: 100%;
        margin-bottom: @rhythmic-unit;
    }
    .reset-filter {
      line-height: @rhythmic-unit;
    }

    .popup
    {
      position: absolute;
      left: (@rhythmic-unit * 3);
      border: 1px solid @color-border;
      -moz-border-radius: @border-radius-base;
      -webkit-border-radius: @border-radius-base;
      border-radius: @border-radius-base;
      background: #fff;
      box-shadow: @dropdown-shadow;
      z-index: 99999;
      white-space: nowrap;
      display: none;
      padding: @rhythmic-unit;

      .arrow {
        display: none;
      }
    }
  }
}
