/* vim: set ts=2 sw=2 sts=2 et: */

/* see skins\TemplateMonster_KitchenSuppliesStore\customer\css\less\module-fixes.less  */

.skin-customer .sidebar div.block.block-flyout-categories-menu {
  overflow: visible;
}

.flyout-menu ul { z-index: 1010; }
.flyout-menu ul ul { z-index: 1020; }
.flyout-menu ul ul ul { z-index: 1030; }
.flyout-menu ul ul ul ul { z-index: 1040; }
.flyout-menu ul ul ul ul ul { z-index: 1050; }
.flyout-menu ul ul ul ul ul ul { z-index: 1060; }
.flyout-menu ul ul ul ul ul ul ul { z-index: 1070; }
.flyout-menu ul ul ul ul ul ul ul ul { z-index: 1080; }
.flyout-menu ul ul ul ul ul ul ul ul ul { z-index: 1090; }

@media (max-width: 767px) {
  .flyout-menu li ul {
    display: none;
  }
  .flyout-menu .icon-triangle {
    visibility: hidden;
  }
}