/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.contact_us-container {
  margin-top: 25px;
  padding: 0 15px;
  h4 {
    font: 600 18px/20px "Roboto Condensed", sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0 0 23px;
  }
	.contact_us-address_links {
      a:hover {
        color: #fff;
      }
    	margin-top: 0;

    	& > li + li {
    		margin-top: (@rhythmic-unit / 2);
    	}

    	li {
        padding:0 0 0 4px;
            .flex-display();
            .align-items(center);
    		&:before {
    			margin-right: 10px;
    		}
    	}

    	.location {
    		.icon-location;
    	}

    	.phone {
    		.icon-phone;
    	}

    	.email {
    		.icon-mail;
        a {
          &:hover {
            color: #fff;
          }
        }
    	}
	}
}