{##
 # Item price
 #
 # ListChild (list="itemsList.product.grid.customer.info", weight="30")
 # ListChild (list="itemsList.product.small_thumbnails.customer.details", weight="25")
 # ListChild (list="itemsList.product.list.customer.info", weight="40")
 # ListChild (list="itemsList.product.table.customer.columns", weight="40")
 # ListChild (list="productBlock.info", weight="300")
 #}
{{ widget('\\XLite\\View\\Price', product=this.product, displayOnlyPrice='0') }}