{##
 #
 # @ListChild (list="itemsList.product.grid.customer.info", weight="35")
 # @ListChild (list="itemsList.product.list.customer.right_info", weight="350")
 # ListChild (list="itemsList.product.table.customer.columns", weight="0")
 #}
<div class="functional-buttons clearfix">
  {{ widget_list('itemsList.product.grid.customer.functional', product=this.product) }}
</div>