{##
 # Add to Cart button template
 #
 # ListChild (list="itemsList.product.grid.customer.tail", weight="600")
 #}
<div class="button-container">
{% if this.isDisplayAdd2CartButton() %}
  <div class="add-to-cart-button">
    {{ widget(template='items_list/product/parts/common.button-add2cart.twig', product=this.product) }}
  </div>
{% endif %}
{#
  <a class="link_view btn " href="{{ this.getProductURL(this.categoryId) }}" title="View"><span>{{ t('More') }}</span>
  </a>
#}
</div>