/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Reviews list styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

ul.reviews-list .title {
}

ul.reviews-list {
  margin-bottom: 20px;
}

div.reviews ul {
  list-style: none;
}

div.reviews ul li {
  list-style: none;
  background: none;
  padding-left: 0;
}

div.reviews div.rating {
  padding: 10px 0;
}

div.reviews div.text {
  font-size: 14px;
  padding-bottom: 20px;
  color: #626669;
}

div.reviews li.pending div.text {
  opacity: .5;
}

div.reviews div.title {
  font-size: 14px;
}

div.reviews div.title div.info {
  width: 20%;
  display: inline-table;
}

div.reviews div.response {
  margin-top: 10px;
  margin-left: 28px;
}

div.reviews div.response .text {
  margin-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

div.reviews div.response .title .reviewer-name {
  color: #f5a623;
}

div.reviews div.title div.right-actions {
  text-align: right;
  display: inline-table;
  float: right;
}

div.reviews div.title .reviewer-name {
  font-size: 15px;
  font-weight: 600;
  color: #626669;
}

div.reviews div.title .date {
  font-size: 12px;
  color: #626669;
}

div.reviews div.right-actions div.separator {
  width: 5px;
  display: none;
}

div.reviews div.right-actions div.moderation + div.separator {
  display: inline-block;
}

div.reviews div.separator {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  background: url(../images/line-separator.png) repeat-y center left;
}

div.reviews div.approved-separator {
  width: 14%;
  display: inline-block;
}

div.reviews li.pending .title .info {
  opacity: .5;
}

div.reviews li.pending div.vote-bar span {
  opacity: .5;
}

div.reviews div.moderation {
  float: left;
  color: #9b9b9b;
  -moz-border-radius: 15px;
  border-radius: 2px;
  padding: 2px 10px;
}

div.reviews div.right-actions div.buttons {
  float: right;
  margin: 0 0 0 10px;
  padding: 2px 0;
}

div.reviews div.right-actions div.buttons span.icon-pencil {
  color: #333333;
}

div.reviews div.right-actions div.buttons span.icon-pencil:hover {
  color: #d3070c;
}

div.reviews div.right-actions div.buttons span.icon-pencil:before {
  display: none;
}

div.header {
  position: relative;
}

.items-list.product-reviews {
  margin-top: 40px;
}

.target-product-reviews .list-container div.header div.buttons,
.product-reviews div.header div.buttons {
  margin-top: 40px;
}

div.header div.left .head-h2 {
  margin: 0;
  padding-top: 5px;
}

div.header div.line {
  padding-top: 5px;
  margin-bottom: 15px;
}

.target-product-reviews .list-container div.header div.line,
div.product-details-tabs div.header div.line {
  padding-top: 5px;
  margin-bottom: 2px;
}

div.header div.right {
  position: absolute;
  bottom: 20px;
  right: 0;
}

@media (max-width: 991px) {
  div.header div.right {
    position: relative;
    bottom: 0;
  }
}

div.product-reviews div.list-pager {
  margin-bottom: 0;
  text-align: center;
}

div.product-reviews div.list-pager .pagination > .disabled > span {
  background: none;
}

div.product-reviews div.list-pager .pagination > .selected > span {
  text-align: center;
}

div.product-reviews div.list-pager:not(.list-pager-bottom) {
  display: none;
}

div.header div.average-rating {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.header table.rating {
  border: 0 none;
  margin: 0;
}

div.header table.rating tr {
  border: 0 none;
}

div.header table.rating td {
  border: 0 none;
  padding: 0 5px 0 0;
  vertical-align: middle;
}

div.header div.title {
  font-size: 28px;
  color: #333333;
}

div.line {
  padding-top: 30px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 25px;
}

div.empty-reviews-list {
  padding-bottom: 20px;
}

button.edit-review {
  padding: 0;
  border: none;
}

button.edit-review:before {
	width: 100%;
	height: 100%;
	background: transparent;
	position: relative;
	top: auto;
	left: auto;
	margin: 0;
}

.reviews-list > li > div.line {
  padding: 0;
  margin: 20px 0 40px;
}

.reviews-list > li:last-of-type > div.line {
  display: none;
}

.product-details-info .back-to-product {
  font-size: 12px;
  margin-bottom: 20px;
  display: inline-block;
}

.product-average-rating .reviews-count .link-to-tab {
  color: #333333;
  font-weight: normal;
}