/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Sale widget styles. Customer area.
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.products .sale-label-product-details {
  color: #777;
  font-size: 14px;
  display: inline;
  font: 700 14px/16px "Noto Sans", sans-serif;
}
.products .sale-label-product-details .value {
  text-decoration: line-through;
}
.products .products-grid .sale-label-product-details {
  margin: 0;
  height: 0;
}

.products-table .product-price .sale-label-product-details {
  display: inline-block;
  margin: 0px;
}

.products-table .product-price .sale-label-product-details ul.labels li.sale-price {
  float: none;
}

ul.products.products-sidebar .sale-label-product-details {
  font-size: 12px;
  margin-top: 0.5em;
  padding-right: 5px;
  float: none;
}

.products-sidebar .sale-label-product-details {
  margin-bottom: 0px;
  margin-top: 0px;
}

.sale-label-product-details ul.labels {
  display: inline-block;
}

.items-list .product-cell .product-price .sale-label-product-details ul.labels {
  display: none;
}

.sale-label-product-details ul.labels li,
  .sale-label-product-details ul.labels li div
{
  display: inline-block;
}

.products-sidebar .sale-label-product-details ul.labels {
  display: block;
}

.products-sidebar .sale-label-product-details ul.labels li,
  .products-sidebar .sale-label-product-details ul.labels li div
{
  display: block;
}

.sale-label-product-details div.text span.value {
  text-decoration: line-through;
}
