{##
 # Footer
 #
 # @ListChild (list="layout.main.footer", weight="300")
 #}

<div class="footer_contacts">
    {{ widget_list('layout.main.footer.above_contacts') }}
    {# {{ widget('XLite\\Module\\TemplateMonster\\KitchenSuppliesStore\\View\\Contacts') }} #}
</div>
