{##
 # Footer
 #
 # @ListChild (list="layout.main.footer.above_contacts", weight="500")
 #}

<div class="footer-socials">
  <ul class="clearfix">
    <li class="facebook">
      <a target="_blank" href="https://www.facebook.com/xcart" title="Facebook">
      <span>Facebook</span>
      </a>
    </li>
    <li class="twitter">
      <a target="_blank" href="https://www.twitter.com/x_cart" title="Twitter">
      <span>Twitter</span>
      </a>
    </li>
    <li class="instagram">
      <a target="_blank" href="https://www.instagram.com/xcart/" title="RSS">
      <span>RSS</span>
      </a>
    </li>
  </ul>

</div>
