{##
 # Footer
 #
 # ListChild (list="layout.main.footer", weight="1000")
 #}
<div class="clearfix"></div>
<div id="footer">
  <div class="section">
    {{ widget_list('sidebar.footer') }}
  </div>
</div>
