/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Vote bar styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.vote-bar {
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.rating-stars {
  vertical-align: baseline;
  display: inline-block;
  position: relative;
}

.rating-label {
  vertical-align: baseline;
}

.stars-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  color: #d3d3d3;
  height: 100%;
}

.stars-row.full {
  position: absolute;
  top: 0;
  left: 0;
  color: #d3070c;
  white-space: nowrap;
  overflow: hidden;
}

.stars-row.hovered {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  color: #d3d3d3;
  overflow: hidden;
}

.star-single {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: inline-block;
  float: left;
  line-height: 1;
  padding: 0 1px;
  text-align: center;
}

.stars-row .star-single span {
  color: #d3d3d3;
  font-size: 16px;
}

.stars-row.full .star-single span {
  color: #d3070c;
}

.stars-row.hovered .star-single span {
  color: #d3d3d3;
}

.vote-bar.editable .stars-row.hovered .star-single.over span {
  color: #d3070c;
}

div.vote-bar:hover {
  cursor: default;
}

div.vote-bar.editable:hover {
  cursor: pointer;
}
