/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Specific styles for the "Scuba Diving Equipment" skin
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2015 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-alter-sans-serif: "Noto Sans", sans-serif;

@font-size-base:          13px;
@line-height-base: 18px;

@color-text-default: #777777;
@color-link: #777777;
@color-link-2: #9ea3b7;
@color-hover: #000000;

@slidebar-links-font-weight: 300;

@navbar-height:  @rhythmic-unit*3.5; //navbar height & height of header in fixed state (.affix)
@navbar-inverse-bg: transparent;
@navbar-horizontal-gutter: 13px;  //horizontal padding
@navbar-inverse-border: @color-border; //bottom border of header in fixed state (.affix)
@navbar-inverse-font-size: 18px;
@navbar-inverse-link-color: #777;
@navbar-inverse-link-hover-color: #000;
@navbar-inverse-link-hover-bg: transparent;
@navbar-inverse-link-active-color: #000;
@navbar-inverse-link-active-bg: transparent;

@grid-gutter-width: 30px;
@grid-gutter-width-lg: 30px;
@grid-gutter-width-md: 30px;

#header-area {

  .desktop-header {    
    #header-bar {

      a:hover {
        color: #fff;
      }
    }
    .header-right-bar {
      .header_search {
        display: block;
      }
    }

  }
}

.welcome-tabs {
  .tabs {
    ul.nav.nav-tabs {
      border: 0 none;
      padding-top: 10px;
      > li {
        display: block;
        float: left;
        margin-bottom: 0;
        position: relative;
        
        @media (max-width: 767px) {
          padding-right: 10px; 
        }
        @media (max-width: 479px) {
          width: 100%;
          text-align: center;
          padding-right: 0; 
        }

        > a {
          border: 0 none;
          background: transparent none;
          color: #303038;
          display: inline-block;
          font: 21px/22px "Roboto Slab", serif;
          margin: 0;
          outline: none;
          padding: 0 2px 8px;
          position: relative;
          text-transform: uppercase;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          &:after {
            background: #f94c3a;
            content: "";
            height: 2px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 100%;
            transform: translateY(10px);
            transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
            width: 100%;
          }
          @media (max-width: 479px) {
            letter-spacing: 0.25px;
            display: inline-block;
            &:after {
              display:none;
              content: one;
            }
          }
        }
        & > a:hover,
        &.active > a {
          background: none;
          color: #ba372a;
          &:after {
            opacity: 1;
            transform: translateY(0px);            
          }
        }
      }
      > li + li {
        margin-left: 30px;
        
        @media (max-width: 767px) {
          margin-left: 21px;
        }
        @media (max-width: 479px) {
          margin-left: 0;
          border-top: 1px solid #F0F0F0;
          
        }
      }
    }
  }
  .tab-content {
    margin: 35px 0 30px;
  }
  .block.block-block {
    margin: 0;
    & > h3,
    & > h4 {
      display: none;
    }
    & > .content {
      margin:0;
    }
  }
  .products-grid {

    .product-cell {

      &:nth-child(3n) + .product-cell {
        clear: none;
      }
      &:nth-child(4n) + .product-cell {
        clear: left;
      }

      @media(max-width: @screen-md-max) {
        &:nth-child(4n) + .product-cell {
          clear:left;
        }
        &:nth-child(3n) + .product-cell {
          clear:none;
        }
        &:nth-child(2n) + .product-cell {
          clear:none;
        }
      }

      @media(max-width: @screen-sm-max) {
        &:nth-child(4n) + .product-cell {
          clear:none;
        }
        &:nth-child(3n) + .product-cell {
          clear:left;
        }
        &:nth-child(2n) + .product-cell {
          clear:none;
        }
      }
      @media(max-width: @screen-sm-max) {
        &:nth-child(4n) + .product-cell {
          clear:none;
        }
        &:nth-child(3n) + .product-cell {
          clear:none;
        }
        &:nth-child(2n) + .product-cell {
          clear:left;
        }
      }
      @media(max-width: @screen-xxs-max) {
        &:nth-child(4n) + .product-cell {
          clear:none;
        }
        &:nth-child(3n) + .product-cell {
          clear:none;
        }
        &:nth-child(2n) + .product-cell {
          clear:left;
        }
      }
    }
  }
}