/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Specific styles for the "Scuba Diving Equipment" skin
 *
 * @author    Qualiteam software Ltd <info@x-cart.com>
 * @copyright Copyright (c) 2011-2015 Qualiteam software Ltd <info@x-cart.com>. All rights reserved
 * @license   http://www.x-cart.com/license-agreement.html X-Cart 5 License Agreement
 * @link      http://www.x-cart.com/
 */
a {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.front-page {
  margin: 20px 0;
}



@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%); }

  50% {
    opacity: 0.5;
    -webkit-transform: translateY(100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
@-webkit-keyframes moveFromtop {
  0% {
    opacity: 0;
    transform: translateY(-200%); }

  50% {
    opacity: 0.5;
    transform: translateY(-100%); }

  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(200%); }

  100% {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%); }

  100% {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200%); }

  50% {
    opacity: 0.5;
    transform: translateY(100%); }

  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes moveFromtop {
  0% {
    opacity: 0;
    transform: translateY(-200%); }

  50% {
    opacity: 0.5;
    transform: translateY(-100%); }

  100% {
    opacity: 1;
    transform: translateY(0%); } }
  
div.rating-tooltip {
  border-color: #777;
}


.no-sidebars .recently-viewed-products.center .products li.product-cell {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 20px 20px 0 0;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    float: none
}
.recently-viewed-products.center .products li.product-cell .product .recently-viewed-product-details .product-price,
.recently-viewed-products.center .products li.product-cell .product .recently-viewed-product-details .product-price-base
{
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 0;
  vertical-align: middle;
}

.additional-menu-wrapper .mm-nolistview.additional-menu .wishlist-link .fa-heart {
  display: none;
}
.additional-menu-wrapper .mm-nolistview.additional-menu .wishlist-link .wishlist-product-count {
  padding-left: 20px;
}

@-webkit-keyframes spin {
  0%,
  100% {
    box-shadow: 10px 10px #303038, -10px 10px #be382a, -10px -10px #303038, 10px -10px #be382a;
  }
  25% {
    box-shadow: -10px 10px #be382a, -10px -10px #303038, 10px -10px #be382a, 10px 10px #303038;
  }
  50% {
    box-shadow: -10px -10px #303038, 10px -10px #be382a, 10px 10px #303038, -10px 10px #be382a;
  }
  75% {
    box-shadow: 10px -10px #be382a, 10px 10px #303038, -10px 10px #be382a, -10px -10px #303038;
  }
}


@keyframes spin {
  0%,
  100% {
    box-shadow: 10px 10px #303038, -10px 10px #be382a, -10px -10px #303038, 10px -10px #be382a;
  }
  25% {
    box-shadow: -10px 10px #be382a, -10px -10px #303038, 10px -10px #be382a, 10px 10px #303038;
  }
  50% {
    box-shadow: -10px -10px #303038, 10px -10px #be382a, 10px 10px #303038, -10px 10px #be382a;
  }
  75% {
    box-shadow: 10px -10px #be382a, 10px 10px #303038, -10px 10px #be382a, -10px -10px #303038;
  }
}
.wishlist-send-mail-form .check.sent:before{
  font-family: 'xcartskin' !important;
  content: "\e916";
}
