/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Style
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

.header_settings {
  & > a {
    .icon-account;
    cursor: pointer;

    &:before {
      font-size: 16px;
    }
  }

  .dropdown-menu{
    .xcart-dropdown;
    height: auto;
    left: auto;
    right: 0;
    top: (@rhythmic-unit * 2);

    li > a {
      height: (@rhythmic-unit);

      &:before {
        margin-right: 10px;
      }
    }

    li:not(.disabled) > a {
      &:before {
        color: #ccc;
      }

      &:hover:before {
        color: @link-hover-color;
      }
    }

    li.disabled > a {
      &:before {
        color: @color-light;
      }
    }

    select {
      height: (@rhythmic-unit * 2);
    }

    button {
      width: 100%;
    }

    & > *:not(:empty) + * {
      &:before {
        position: relative;
        content: '';
        margin-left: (-@rhythmic-unit);
        width: calc(~"100% + "(@rhythmic-unit * 2));
        display: block;
        margin-top: (@rhythmic-unit - 1);
        margin-bottom: @rhythmic-unit;
        border-top: 1px solid rgba(215, 215, 215, 0.5);
      }
    }
  }
}
