/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * ____file_title____
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

@import "bootstrap-changes.less";
@import "bootstrap-responsive.less";

/* General styles */

fieldset {
  margin-bottom: 1em;
  padding: 0.5em;

  legend {
    font-size: 20px;
    margin-top: 8px;
  }
}

form {
  margin: 0px;
  padding: 0px;
}

hr {
  border: 0px none;
  border-top: 1px solid @color-border;
  height: 0px;
}

img {
  border: 0px;
}

table {
  border: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.error {
  color: #8c2e0b;
}

.marker,
.form-required {
  color: #f00;
}

/**
 * Tables
 */

/* Sort arrows */

table {
  th {
  }

  .tablesort-indicator {
    background: url(../images/sort.png) no-repeat 0 6px;
    position: relative;
    left: 0;
    top: -2px;
    font-size: 14px;
    padding-left: 10px;
    margin-left: 4px;

    span {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
    }
  }

  .descending-order {
    background-position: 0 -19px;
  }
}




/**
 * Common <p> style for static pages
 */
.target-page #content .page-body-content p {
  margin: 0 0 1em;
}
