/*
 * Custom content parallax
 */
#htmlcontent_home {
    margin-bottom: 40px;
    min-height: 322px;
    background-attachment: scroll;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: repeat-y;
}

#htmlcontent_home ul.htmlcontent-home {
    position: relative;
    z-index: 2;
}

#htmlcontent_home ul.htmlcontent-home li {
    float: none;
    width: 100%;
}

#htmlcontent_home ul.htmlcontent-home li a {
    display: block;
    text-align: center;
}

#htmlcontent_home ul.htmlcontent-home li a .item-html {
    padding-top: 80px;
}

#htmlcontent_home ul.htmlcontent-home li a h2 {
    color: #fff;
    font: 67px/76px "Roboto Slab",serif;
    margin: 0;
    text-transform: uppercase;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#htmlcontent_home ul.htmlcontent-home li a h2 em {
    display: block;
    font-weight: 700;
}

#htmlcontent_home ul.htmlcontent-home li a h2:hover {
    color: #be382a;
}

@media (max-width: 1199px) {
    #htmlcontent_home ul.htmlcontent-home li a h2 {
        font-size:57px;
        line-height: 67px;
    }
}

@media (max-width: 991px) {
    #htmlcontent_home ul.htmlcontent-home li a h2 {
        font-size:45px;
        line-height: 55px;
    }
}

@media (max-width: 767px) {
    #htmlcontent_home ul.htmlcontent-home li a h2 {
        font-size:35px;
        line-height: 45px;
    }
}

.parallax_section {
    min-height: 322px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.parallax_section .parallax_inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.parallax_section .parallax_inner:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: "";
}

.parallax_section .parallax_inner .parallax_media {
    position: absolute;
}

.parallax_section .parallax_inner video {
    max-width: inherit;
}

.parallax_section .parallax_inner img {
    max-width: inherit!important;
}

.parallax_section .info_alert {
    position: absolute;
    top: 20px;
    background: #fff;
}

.parallax_section .info_alert span {
    color: #000;
    display: block;
}

.parallax_section.mobileState .parallax_inner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fixed_parallax_section {
    width: 100%;
    min-height: 200px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}