/*
 * Custom content top
 */

.welcome-top-banners {
  background: #bb372b;
  padding: 30px 0 10px;
}
.welcome-top-banners #banner-rotation-widget {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
    #htmlcontent_top ul {
        margin:0 -5px;
    }
}
#htmlcontent_top em {
  font-style: normal;
}
#htmlcontent_top ul li {
    margin-bottom: 20px;
}

#htmlcontent_top ul li img {
    max-width: 100%;
    height: auto;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#htmlcontent_top ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#htmlcontent_top ul li a .item-html {
    background: rgba(255,255,255,0.8);
    bottom: 0;
    left: 0;
    padding: 10px 15px 15px;
    position: absolute;
    width: 100%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#htmlcontent_top ul li a h2 {
    color: #303038;
    font: 400 37px/38px "Roboto Slab",serif;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#htmlcontent_top ul li a h2 em {
    display: block;
    font-weight: 700;
}

#htmlcontent_top ul li a p {
    color: #303038;
    margin-bottom: 10px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#htmlcontent_top ul li a button {
    background: none;
    border: none;
    color: #f94c3a;
    font: 18px/18px "Roboto Slab",serif;
    text-decoration: underline;
    text-transform: uppercase;
}

#htmlcontent_top ul li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transition: scale(1.1);
    transform: scale(1.1);
}

#htmlcontent_top ul li a:hover .item-html {
    background: rgba(48,48,56,0.8);
}

#htmlcontent_top ul li a:hover h2,#htmlcontent_top ul li a:hover p {
    color: #fff;
}

@media (max-width: 1199px) {
    #htmlcontent_top ul li a h2 {
        font-size:30px;
        line-height: 32px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #htmlcontent_top ul li a h2 {
        font-size:20px;
        line-height: 22px;
    }

    #htmlcontent_top ul li a p {
        display: none;
    }

    #htmlcontent_top ul li a button {
        font-size: 14px;
        line-height: 14px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    #htmlcontent_top ul li a p {
        display:none;
    }
}

@media (max-width: 767px) {
    #htmlcontent_top ul li {
        float:left;
        padding-left: 5px;
        padding-right: 5px;
        width: 50%;
    }
}

@media (max-width: 479px) {
    #htmlcontent_top ul li {
        float:none;
        width: 100%;
    }
}