/*
 * Custom content bottom
 */
@media (max-width: 767px) {
    #tmhtmlcontent_home ul {
        margin:0 -5px;
    }
}
#tmhtmlcontent_home {
  margin-bottom: 10px;
}
#tmhtmlcontent_home ul li {
    margin-bottom: 20px;
    width: 50%;
}

#tmhtmlcontent_home ul li img {
    max-width: 100%;
    height: auto;
    width: 100%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#tmhtmlcontent_home ul li a {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#tmhtmlcontent_home ul li a .item-html {
    background: rgba(48,48,56,0.9);
    top: 0;
    right: 0;
    padding: 60px 15px 15px;
    position: absolute;
    width: 50%;
    height: 100%;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#tmhtmlcontent_home ul li a h3 {
    color: #fff;
    font: 400 28px/30px "Roboto Slab",serif;
    margin: 0 0 14px;
    padding: 0;
    text-transform: uppercase;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#tmhtmlcontent_home ul li a p {
    color: #fff;
    margin-bottom: 14px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#tmhtmlcontent_home ul li a button {
    background: none;
    border: none;
    color: #fff;
    font: 18px/18px "Roboto Slab",serif;
    text-decoration: underline;
    text-transform: uppercase;
}

#tmhtmlcontent_home ul li a:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transition: scale(1.1);
    transform: scale(1.1);
}

#tmhtmlcontent_home ul li a:hover .item-html {
    background: rgba(255,255,255,0.7);
}

#tmhtmlcontent_home ul li a:hover h3,#tmhtmlcontent_home ul li a:hover p {
    color: #303038;
}

#tmhtmlcontent_home ul li a:hover button {
    color: #f94c3a;
}

@media (max-width: 1199px) {
    #tmhtmlcontent_home ul li a .item-html {
        padding-top:40px;
    }

    #tmhtmlcontent_home ul li a h3 {
        font-size: 26px;
        line-height: 1;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #tmhtmlcontent_home ul li a .item-html {
      padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    #tmhtmlcontent_home ul li a h3 {
        font-size:20px;
        line-height: 22px;
    }

    #tmhtmlcontent_home ul li a p {
        display: none;
    }

    #tmhtmlcontent_home ul li a button {
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: 767px) {
    #tmhtmlcontent_home ul li a .item-html {
        padding:30px 10px 0;
    }
}

@media (max-width: 479px) {
    #tmhtmlcontent_home ul li a h3 {
        font-size:20px;
        line-height: 22px;
    }

    #tmhtmlcontent_home ul li a p {
        display: none;
    }

    #tmhtmlcontent_home ul li a button {
        font-size: 14px;
        line-height: 14px;
    }
}

@media (max-width: 767px) {
    #tmhtmlcontent_home ul li {
        padding-left:5px;
        padding-right: 5px;
        float: none;
        width: 100%;
    }
}
