/*
 * Custom content middle
 */
#tmhtmlcontent_topColumn {
    position: relative;
}

#tmhtmlcontent_topColumn:before {
    background: #303038;
    content: " ";
    display: block;
    height: 100%;
    left: -10000px;
    position: absolute;
    top: 0;
    width: 20000px;
}

#tmhtmlcontent_topColumn ul {
    margin-bottom: 0;
}

#tmhtmlcontent_topColumn ul li {
    padding-bottom: 35px;
    padding-top: 35px;
    position: relative;
    text-align: center;
}

#tmhtmlcontent_topColumn ul li:first-child .item-html:before {
    display: none;
}

#tmhtmlcontent_topColumn ul li .item-html {
    padding: 15px;
    position: relative;
}

#tmhtmlcontent_topColumn ul li .item-html:before {
    background: #434352;
    content: '';
    height: 100%;
    left: -14px;
    position: absolute;
    top: 0;
    width: 1px;
}

@media (max-width: 767px) {
    #tmhtmlcontent_topColumn ul li .item-html:before {
        height:1px;
        left: 0;
        top: -20px;
        width: 100%;
    }
}

#tmhtmlcontent_topColumn ul li a {
    display: block;
}

#tmhtmlcontent_topColumn ul li a:hover h2 {
    color: #f94c3a;
}

#tmhtmlcontent_topColumn ul li a:hover h3 {
    color: #8e8e9d;
}

#tmhtmlcontent_topColumn ul li a:hover p {
    color: #fff;
}

#tmhtmlcontent_topColumn ul li h2 {
    color: #fff;
    font: 47px/47px "Roboto Slab",serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#tmhtmlcontent_topColumn ul li h2 a {
    color: #fff;
    padding: 0;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#tmhtmlcontent_topColumn ul li h2 a:hover {
    color: #f94c3a;
}

#tmhtmlcontent_topColumn ul li h3 {
    color: #f94c3a;
    font: 26px/36px "Roboto Slab",serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#tmhtmlcontent_topColumn ul li p {
    color: #8e8e9d;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

@media (max-width: 1199px) {
    #tmhtmlcontent_topColumn ul li h2 {
        font-size:35px;
        line-height: 37px;
    }

    #tmhtmlcontent_topColumn ul li h3 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (max-width: 991px) {
    #tmhtmlcontent_topColumn ul li h2 {
        font-size:27px;
        line-height: 37px;
        margin-bottom: 5px;
    }

    #tmhtmlcontent_topColumn ul li h3 {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 767px) {
    #tmhtmlcontent_topColumn ul li {
        float:none;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
    }
}