/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * ____file_title____
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

@import "bootstrap-changes.less";
@import "bootstrap-responsive.less";

/* General styles */

fieldset {
  margin-bottom: 1em;
  padding: 0.5em;

  legend {
    font-size: 20px;
    margin-top: 8px;
  }
}

form {
  margin: 0px;
  padding: 0px;
}

hr {
  border: 0px none;
  border-top: 1px solid @color-border;
  height: 0px;
}

img {
  border: 0px;
}

table {
  border: 0px;
  border-spacing: 0px;
  border-collapse: collapse;
}

.error {
  color: #8c2e0b;
}

.marker,
.form-required {
  color: #f00;
}

/**
 * Tables
 */

/* Sort arrows */

table {
  th {
  }

  .tablesort-indicator {
    position: relative;
    left: 0;
    top: -2px;
    font-size: 14px;
    padding-left: 10px;
    margin-left: 4px;

    span {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute !important;
    }
  }

  .descending-order {
    background-position: 0 -19px;
  }
}




/**
 * Common <p> style for static pages
 */
.target-page #content .page-body-content p {
  margin: 0 0 1em;
}


.skin-customer .block-subcategories {
  .container();
  padding-top: @rhythmic-unit*1.5;
  padding-left: 0;
  padding-right: 0;
  margin-bottom:0;

  & + #main-wrapper .flex-container{
    margin-top: 0;
  }
}
ul.subcategories-ul {
  margin-bottom: 0;

  &.row{
    margin-left: -15px;
    margin-right: -15px;
  }

  > li{
    margin-top: 0;
    margin-bottom: @rhythmic-unit*1.5;

    a.item-link {
      display: inline-block;
      overflow: hidden;
      position: relative;
      width: 100%;
      text-align: center;
      height: 200px;

      &:before{
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width:100%;
        height:100%;
        left:0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      > .img{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        background-position: center;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        transition: all 0.3s linear;
        width: 100%;
        height: 200px;
      }

      span.item-html {
        display: block;
        text-align: left;
        top: 0;
        position: absolute;
        left: 0;
        padding-top: 35px;
        padding-left: 40px;
        width: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 3;

        span.head-h2 {
          text-align: left;
          font-family: 'Roboto Condensed', sans-serif;
          text-transform: uppercase;
          font-size: 24px;
          line-height: 30px;
          font-weight: 400;
          color: #fff;
          margin-top: 0;
          margin-bottom: 6px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
      }

      &:hover{
        > .img{
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
        }

        span.item-html{
          bottom: 5px;

        }
      }
    }
  }
}

#modules_tabs{
  .tabular.menu{
    .flex-display();
    .justify-content(flex-start);
    .flex-wrap(wrap);
    .clearfix();
    text-align: left;
    background: #eeeeee;
    padding: 0;

    a.item{
      position: relative;
      display: block;
      font: 400 14px / 17px 'Ubuntu', sans-serif;
      color: #1c1c1c;
      text-transform: uppercase;
      margin: 0;
      line-height: 20px;
      padding: 10px 20px;
      background: transparent;
      text-decoration: none;
      cursor: pointer;
      &.active{
        background: #222222;
        color: #ffffff;
        z-index: 2;
        min-height: 40px;
        &:hover{
          cursor: default;
          text-decoration: none;
          color: #ffffff;
        }
      }
      &:hover{
        text-decoration: none;
        color: #ffffff;
        background: #222222;
      }
    }
  }
}

.skin-customer .sidebar .recently-viewed-products li{
  margin: 0;
  padding: 20px 0 0 0;
}

.skin-customer{
  .owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: -25px;
  }
  .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: -25px;
  }
}

.login-form .recaptcha-label,
.recover-password-form .recaptcha-label,
.recover-password-form .recaptcha-star {
  display: none;
}

div.address-text{
  .flex-grow(1);
}

ul.address-entry{
  .clearfix;
}