/* vim: set ts=2 sw=2 sts=2 et: */

/**
 * Specific styles
 *
 * Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 * See https://www.x-cart.com/license-agreement.html for license details.
 */

/**
 * FONTS
 */


/**
 * Common styles
 */

/* Validation subsystem styles */
input.validation-error,
textarea.validation-error,
select.validation-error
{
  border-color: #ff0000;
}

::-webkit-input-placeholder {
  color: #dcdcdc;
  font-weight: normal;
  opacity: 0.7;
}

:-moz-placeholder {
  color: #dcdcdc;
  font-weight: normal;
  opacity: 0.7;
}

::-moz-placeholder {
  color: #dcdcdc;
  font-weight: normal;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: #dcdcdc;
  font-weight: normal;
  opacity: 0.7;
  transition: none !important;
}

.inline-error {
  line-height: normal;
  font-size: 10px;
  color: #ec554e;
  width: 100%;
  padding-top: 1px;
}

.address-dialog .message.inline-message,
.inline-message {
  line-height: normal;
  font-size: 10px;
  color: #019026;
  font-style: italic;
  width: 100%;
  padding-top: 1px;
}

form.invalid-form .form-error {
  line-height: normal;
  font-size: 12px;
  color: #ec554e;
}

/* validationEngine styles */
.formError {
}

.formError .formErrorContent {
  box-shadow: 1px 1px 5px silver;
  -moz-box-shadow: 1px 1px 5px silver;
  -webkit-box-shadow: 1px 1px 5px silver;
  -o-box-shadow: 1px 1px 5px silver;
  font-size: 12px;
}

.formError .formErrorContent,
  .formError .formErrorArrow div
{
  background-color: #e65e57;
}

/**
 * jQueryUI-based wait box
 */
.wait-box .ui-dialog-titlebar {
  display: none;
}

/* Single input progress mark */
.single-progress-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  background: #fefefe;
}

.profile .single-progress-mark {
  position: absolute;
}

.search-form label,
  ul.product-options ul li label,
  .checkout-block .profile .create .selector label,
  .checkout-block .payment-step ul.payments li label,
  .checkout-block form.place .terms label,
  .checkout-block .steps .shipping-step .save label,
  .checkout-block .steps .payment-step .save label,
  .checkout-block .payment-step .same-address label
{
  display: inline;
}

#shopping-cart table.selected-products,
  .search-form tbody,
  .search-form tr,
  .invoice-box tbody,
  .invoice-box tr,
  .search-orders,
  .search-orders tbody,
  .search-orders tr
{
  border: 0px none;
}

/*
 * Pager
 */

ul.pager .item a,
ul.pager .item span
{
  width: 28px;
  height: 28px;
  line-height: 28px;
}

ul.pager .more-pages
{
  height: 28px;
  line-height: 28px;
  margin: 0 -3px;
}

ul.pager li.item
{
  border: 1px solid #d7e1e8;
  margin: 0 3px;
}

ul.pager li.active:hover
{
  border-color: #b1c9e0;
}

ul.pager li.selected
{
  border-color: #5b9ece;
}

ul.pager li.selected
{
  background-color: #5b9ece;
  color: #fff;
  cursor: text;
}

ul.pager li.disabled
{
  display: none;
}

ul.pager li.skipped-pages
{
  border: none;
  width: 0.3em;
  vertical-align: bottom;
}

ul.pager li.previous-page
{
  margin-right: 13px;
}

ul.pager li.next-page
{
  margin-left: 13px;
}

ul.display-modes li a span.text {
  display: none;
}

.sort-arrow.sort-arrow-desc,
  .sort-arrow.sort-arrow-asc
{
  display: inline-block;
  width: 7px;
  height: 9px;
  margin-left: 2px;
}

.sort-arrow.sort-arrow-desc {
  background: transparent url(../images/arrow-up.png) 0 0 no-repeat;
}

.sort-arrow.sort-arrow-asc {
  background: transparent url(../images/arrow-down.png) 0 0 no-repeat;
}

div.list-header .sort-box label {
  display: inline;
  color: #53769d;
  font-size: 12px;
  line-height: 36px;
}

table.form-data,
table.form-data tbody,
table.form-data tr,
table.form-data th,
table.form-data td
{
  border: 0px none;
  border-spacing: 0px;
}

table.form-data td {
  padding: 3px;
}

div.default-section {
  float: left;
}

div.default-section {
  float: left;
}

div.model-form-buttons {
  clear: left;
}

ul.default-table {
  list-style: none;
  min-width: 366px;
}

ul.default-table li {
  float: left;
  clear: left;
}

div.table-label {
  float: left;
}

ul.default-table div.table-label label {
  width: 80px;
}

div.star {
  float: left;
  width: 20px;
  color: #ec554e;
}

div.table-value {
  float: left;
}

li.label div.table-label {
  text-align: left;
}

li.label div.table-value {
  padding-top: 8px;
}

div.table-value span.label-field {
  color: black;
  text-align: left;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
}

/* Colorbox jQuery plugin */
#colorbox,
  #cboxOverlay,
  #cboxWrapper
{
  z-index: 100000;
}

/**
 * Category page: products and subcategories
 */

h1#page-title.hidden-title
{
  display: none;
}

/* Subcategories */

ul.subcategory-list.subcategory-view-list {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;}

ul.subcategory-list.subcategory-view-list li {
  display: block;
  margin-bottom: 6px;
}

ul.subcategory-list.subcategory-view-list li a {
  text-align: left;
}

/* Products grid */

.products table.products-grid
{
  border-collapse: separate;
  border-spacing: 20px;
  margin: -20px;
  width: 730px;
}

/* Drag'n'drop */

.skin-customer .products-list .ui-draggable-dragging{
  padding: 12px;
}

.products-table th
{
  border-color: #e4e4e4;
  border-width: 1px;
  border-style: solid none;
  text-align: left;
  font-weight: normal;
  color: #888;
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 12px;
}

.products-table input
{
  margin: 0;
  vertical-align: middle;
}

.products .product-buy-selected
{
  margin-top: 0;
  margin-bottom: 0;
}

.products-table .caption-product-name
{
  width: 100%;
}

.products-table .caption-product-price
{
  text-align: left;
}

.products-table .caption-product-qty
{
  text-align: center;
}

.products input.product-qty
{
  width: 25px;
  padding: 0px 3px 1px;
}

.products .product-name a
{
  word-wrap: break-word;
}

.products .products-table ul.product-price {
  margin-bottom: 0;
}

.products-table span.product-price
{
  text-align: right;
}

.products-list .product .drag-n-drop-handle
{
  position: absolute;
  right: 0px;
  top: -12px;
}

.products-sidebar-big-thumbnails .product-name
{
  text-align: center;
}
/*
 * Product block
 */
.product-block .product {
  padding: 0px;
}

.product-block .product-name
{
  font-size: 16px;
  padding-top: 0px;
  text-align: left;
}

.product-block span.product-price {
  padding-top: 3px;
  line-height: 21px;
}

/**
 * Product options
 */

ul.product-options,
ul.product-options li.product-option
{
  background-color: #eff8fe;
}

.block-container ul.product-options,
.block-container ul.product-options li.product-option
{
  background-color: transparent;
}

.block-container ul.product-options {
  padding-top: 0px;
}

.block-container .change-options .butons {
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.block-container .change-options .butons button {
  margin-bottom: 0px;
}

ul.product-options
{
  width: auto;
  margin-right: 20px;
  padding: 13px 20px 0;
}

ul.product-options li.product-option
{
  padding: 0 0 13px;
}

.ui-dialog .change-options .head-h2.ajax-title-loadable  {
  font-size: 24px;
}

/**
 * Product details page & product quick look
 */

.target-product.non-added-product #breadcrumb .top-continue {
  display: none;
}

.ui-dialog .product-quicklook .product-details-info
{
  position: relative;
}

body.store-product h1#page-title,
.ui-dialog .product-quicklook .block-subcontainer > .head-h2
{
  display: none;
}

.product-details .image.empty .empty-icon {
  color: #f4f4f4;
  font-size: 55px;
  padding: 34px 32px;
}

.product-details .image.empty .product-photo {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

.product-details .cloud-zoom
{
  cursor: default;
}

.product-details .empty .loupe {
  display: none;
}

.product-details .product-rating
{
  height: 23px;
  vertical-align: middle;
}

.product-details .product-rating a
{
  font-size: 12px;
  margin: 0 8px;
}

.product-details .product-rating span.rating-stars
{
  color: #d3070c;
  font-size: 23px;
  letter-spacing: 3px;
  position: relative;
  top: 3px;
  left: 0;
}

.product-items-available.low-stock{
  color: #d0021b;
}

.product-details .product-notify-on-price-drop,
  .product-quicklook .product-notify-on-price-drop
{
  margin: 6px 0 24px;
  font-size: 12px;
}


.product-details .product-options,
.product-quicklook .product-options
{
  margin-top: 15px;
}

.product-details .product-buttons,
.product-quicklook .product-buttons
{
  margin-top: 10px;
}


.product-details .product-buttons button,
.product-quicklook .product-buttons button
{
  margin-top: 0px;
}

.add-button-wrapper {
  display: inline-block;
}

.product-details .product-qty,
  .product-quicklook .product-qty
{
  padding-right: 10px;
  display: inline-block;
}

.product-details .product-qty {
  padding-right: 4px;
}
.product-details-info .product-buttons .buttons-row > * {
  vertical-align: middle;
  margin-right: 20px;
}

.product-details .product-items-available.low-stock
{
  color: #df4414;
}

.product-details .product-in-stock,
.product-quicklook .product-in-stock
{
  color: #019026;
}

.product-details input.quantity,
.product-quicklook input.quantity
{
  width: 60px;
  text-align: right;
  padding: 4px 6px;
  margin-left: 0px;
  vertical-align: middle;
}

.product-details .quantity-box-container .wheel-mark,
.product-quicklook .quantity-box-container .wheel-mark
{
  display: none;
  vertical-align: middle;
  margin-right: 0px;
}

/**
 * Default styling for the product description
 */

div.product-details button.continue,
.product-quicklook button.continue
{
  margin: 20px 0px 10px;
}

.product-details .continue-button-intend
{
  width: 112px;
  float: left;
}

.product-details .extra-fields
{
  list-style: none;
  padding: 0px;
  padding-top: 6px;
  margin: 0px;
}

.product-details .extra-fields li
{
  list-style: none;
  padding: 4px 0px;
  margin: 0px;
  background-image: none;
  font-size: 14px;
}

.product-details .extra-fields li strong
{
  font-weight: normal;
  background-color: #fff;
  padding-right: 3px;
}

.product-details .extra-fields li .head-h3
{
  margin: 11px 0 0 0;
  color: #456583;
  font-size: 16px;
}

.product-details .extra-fields li span
{
  display: inline-block;
  color: #1f1f1f;
  vertical-align: bottom;
  max-width: 700px;
}

.product-details .extra-fields li span.checkbox.no-checked
{
  color: #7e7e7e;
}

.product-details .extra-fields li div
{
  width: 246px;
  display: inline-block;
  color: #7e7e7e;
  background: url(../images/dotted.png) repeat-x scroll 0 bottom transparent;
  vertical-align: top;
  overflow: hidden;
}

.product-details .extra-fields li div.head-h3
{
  background: none;
  display: table;
  overflow: auto;
}

.product-details .extra-fields li div.head-h3 .title-text
{
  display: table-cell;
  padding-right: 3px;
  color: #456583;
}

.product-details .extra-fields li div.head-h3 .line
{
  display: none;
}

.product-details .extra-fields li ul li div
{
  width: 226px;
}

.product-details .extra-fields li ul li
{
  margin-top: 5px;
}

.product-details .extra-fields li ul
{
  margin: 0 0 0 20px;
}

.product-details .extra-fields ul {
  line-height: 20px;
}

table.list-body td.box-product a.product-thumbnail
{
  width: 194px;
}

table.list-body
{
  border-collapse: separate;
  border: none;
}

table.list-body tr.info span.price
{
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #e65a00;
  padding-top: 0.5em;
}

table.list-body td.box-product,
table.list-body-list td.body
{
  border: 1px solid #ececec;
}

table.list-body-list td.box-product
{
  border-right: none;
}

table.list-body-list td.body
{
  border-left: none;
}

table.list-body-grid td.box-product:hover
{
  border: 1px solid #bbc7d2;
}

table.list-body-list
{
  border-collapse: separate;
  border-spacing: 0 1.5em;
}

table.list-body-list td
{
  border: 1px solid #fff;
  vertical-align: top;
}

/**
 * Separator of Checkout buttons (- OR -)
 */
.buttons-separator {
  padding-top: 7px;
  padding-bottom: 10px;
  text-align: center;
}

.buttons-separator span {
  color: #8F8F8F;
}

.button .buttons-separator span {
  padding-left: 0px;
}


/**
 * Cart
 */
body.store-cart #breadcrumbs {
  display: none;
}

body.store-cart #main h1 {
  padding-top: 29px;
  color: #505b67;
}



#shopping-cart td.item-subtotal .modified-subtotal,
#cart .totals .subtotal .modified-subtotal,
.checkout-block .review-step .items-row .modified-subtotal,
#cart li.order-modifier .including-owner,
.checkout-block .review-step .including-owner
{
  border-bottom: 1px dotted #c2c2c2;
  cursor: help;
}

table.including-modifiers,
table.including-modifiers tbody,
table.including-modifiers tr,
table.including-modifiers td
{
  border: 0px none;
  margin: 0px;
}

table.including-modifiers td {
  white-space: nowrap;
  padding: 6px;
}

table.including-modifiers td.value {
  text-align: right;
}

/**
 * Wait animation
 */

.block-wait {
  border: 0px none;
  background: transparent none;
}

@keyframes rotateGear {
  from { }
  to {
    -ms-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
@-moz-keyframes rotateGear {
  from { }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateGear {
  from { }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotateGear {
  from { }
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wait-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  opacity: .5;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.block-wait {
  min-width: 200px;
  min-height: 150px;
}

.block-wait div,
  .wait-box .box,
  .wait-block div,
  .single-progress-mark div
{
  display: none;
}

.block-wait-box .ui-dialog-content {
  min-width: 80px;
}

.wait-block,
.block-wait {
  min-width: 0;
  min-height: 0;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  box-shadow: 10px 10px #808080, -10px 10px #d3070c, -10px -10px #808080, 10px -10px #d3070c;
  animation: spin ease infinite 2s;
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 10px 10px #808080, -10px 10px #d3070c, -10px -10px #808080, 10px -10px #d3070c;
  }
  25% {
    box-shadow: -10px 10px #d3070c, -10px -10px #808080, 10px -10px #d3070c, 10px 10px #808080;
  }
  50% {
    box-shadow: -10px -10px #808080, 10px -10px #d3070c, 10px 10px #808080, -10px 10px #d3070c;
  }
  75% {
    box-shadow: 10px -10px #d3070c, 10px 10px #808080, -10px 10px #d3070c, -10px -10px #808080;
  }
}


.single-progress-mark div {
  top: 47%;
  left: 47%;
  position: absolute;
}

/**
 * Breadcrumbs
 */

ul.location-subnodes {
  margin-top: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.25);
}

ul.location-subnodes li:first-child > a{
  padding-top: 14px;
}

ul.location-subnodes li:last-child > a{
  padding-bottom: 14px;
}

ul.location-subnodes li > a {
  padding: 6px 17px;
  display: inline-block;
  font-size: 14px;
  color: #000;
}

ul.location-subnodes li:hover {
  background-color: #f5fafd;
}

ul.location-subnodes li > a.current {
  font-weight: bold;
}

/**
 * Order page
 */
.order-box {
  position: relative;
}

.order-box .order-statuses {
  font-size: 22px;
  float: right;
}

.order-box .order-statuses div {
  text-align: right;
}

.order-statuses span.label {
  font-size: 14px;
}

@media (max-width: 767px) {
  .order-box .order-statuses {
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    line-height: 40px;
    float: none;
  }
  .order-box .order-statuses div {
    text-align: left;
  }
}

@media (max-width: 305px) {
  .language-selector-mobile span.uppercase {
    display: none;
  }
}

.shipping .order-status-WND,
.shipping .order-status-R,
.payment .order-status-C,
.payment .order-status-D
{
  color: #8d3021;
}

.shipping .order-status-D,
.payment .order-status-P
{
  color: #8f8f8f;
}

.order-box .links {
  margin-top: -1px;
  margin-bottom: 19px;
}

.order-box .links {
  padding-right: 24px;
  clear: none;
}

.order-box .links li strong,
.order-box .links li span,
.order-box .links li .btn {
  line-height: 20px;
  font-size: 14px;
  vertical-align: baseline;
}

.order-box .links .back a strong {
  font-size: 18px;
  padding-right: 7px;
}

@media (max-width: 768px) {
  .order-box .links {
    padding-right: 0px;
  }
  .order-box .links .print {
    float: right;
    padding-right: 0px;
  }
}

.order-success-panel {
  max-width: 1060px;
}

.order-success-panel .buttons-row {
  margin-top: 20px;
}

/**
 * Popup specific styles
 */

form div.table-value.xcart-form-id-value {
  position: absolute;
  width: 0;
  height: 0;
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

.skin-customer .ui-widget-overlay {
  z-index: 99999;
  background: #111418 none;
  opacity: 0.8;
  filter: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

.overlay-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.skin-customer .ui-dialog {
  z-index: 999999;
  max-width: 960px;
}

.force-change-password-page #breadcrumb {
  display: none;
}

#main.force-change-password-section .head-h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 20px 0px 16px;
}

#main.force-change-password-section ul.main-table {
  margin: 0;
}

#main.force-change-password-section .header-text {
  font-size: 14px;
  padding: 0px 0px 20px 0px;
}

#main.force-change-password-section .model-form-buttons {
  padding-bottom: 20px;
}

/**
 * Order statuses specific color
 */
.order-status-wrapper {
  color: #257d16;
}

.order-status-failed,
  .order-status-declined
{
  color: #8d3021;
}

.order-status-completed
{
  color: #8f8f8f;
}

.password-hidden {
  position: absolute;
  top: -999999px;
}

/**
 * Tooltip main styling
 */
.tooltip-main {
  vertical-align: top;
  display: table-cell;
  padding-left: 11px;
  padding-top:8px;
}

.table-value .tooltip-main {
  display: inline-block;
  line-height: normal;
}

.tooltip-main .tooltip-caption {
  cursor: help;
  color: #154e9c;
  white-space: nowrap;
  font-size: 20px;
  vertical-align: middle;
}

.tooltip-main span.tooltip-caption {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color #154e9c;
  border-image: none;
  border-style: none none dashed;
  border-width: medium medium 1px;
}

.tooltip-caption.help-icon {
  color: #64c1ee;
}

.tooltip-caption.help-small-icon {
  color: #64c1ee;
}

.items-list-table table.list tbody.lines tr.line td .tooltip-main .tooltip-inner {
  white-space: normal;
  color: #333;
  font-size: 12px;
}

.tooltip-box {
  z-index: 1000000;
}

.tooltip-main .tooltip-inner {
  max-width: 250px;
  font-size: 12px;
}

.tooltip-inner {
  text-align: left;
  background-color: #fff;
  border: solid 1px #eee;
  padding: 10px 14px;
  font-size: 12px;
  color: #333;
  white-space: normal;
  max-width: 250px;
  min-width: 100px;
  overflow: hidden;
  margin-top: 2px;
}

.tooltip.in {
  opacity: 1;
}

.skin-customer .tooltip-arrow {
  display: none;
}
.lc-minicart {
  display: flex;
  align-items: center;

}
.lc-minicart:before , .lc-minicart *{
  margin-left: 2px;
}

ul.account-links li.messages-count span,
ul.account-links li.messages-count a svg path {
  color: #858585 !important;
  fill: #858585 !important;
}

ul.account-links li.messages-count a:hover span,
ul.account-links li.messages-count a:hover svg path {
  color: #222 !important;
  fill: #222 !important;
}
